
#adminmenu #toplevel_page_statistics-statistics div.ljmc-menu-image {
    background: url("../images/icon.png") no-repeat scroll center center rgba(0, 0, 0, 0) !important;
}


#adminmenu #toplevel_page_statistics-statistics div.ljmc-menu-image:before {
    content: "";
}
