#adminmenu #toplevel_page_statistics-statistics .ljmc-menu-image:before {
	content: "\f184";
}

#ljmc-admin-bar-ljmc-statistic-menu .ab-icon:before{
	font-family: "dashicons" !important;
	content: "\f184" !important;
}
.ljmcs-center{
	text-align: center;
}