.pagination-log {
    border-top: 1px solid #f2f2f2;
    direction: ltr;
    padding: 14px 0 0;
    text-align: center;
}
.pageOn {
    background: none repeat scroll 0 0 #cf4944;
    color: #f7e3d3;
    margin: 2px;
    padding: 5px 10px;
}
.pageOff {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #dadada;
    border-radius: 4px;
    color: #aaaaaa;
    margin: 2px;
    padding: 5px 9px;
    text-shadow: 1px 1px #ffffff;
}
.pageOff:hover {
}
.pageOff a {
    box-shadow: 0 1px 0 #ffffff inset;
    color: #aaaaaa;
    padding: 5px 8px;
}
.paginationSelect {
    background: none repeat scroll 0 0 #eeeeee;
}
.paginationErrors {
    background: none repeat scroll 0 0 #ffdd99;
    border: 2px dashed #dd9900;
    clear: both;
    color: #aa4400;
    margin: 40px auto;
    padding: 10px;
    text-align: left;
    width: 70%;
}
#result-log {
    color: #3b3b3b;
    direction: rtl;
    font-weight: bold;
}