body  {font:12px Verdana, Geneva, sans-serif; line-height:130%; margin:0; padding:0; text-align:center; color:#663333; background:#bdcddb url(img/bg_main.jpg) no-repeat top center;}

img {border:0;}

.logo:hover img {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); opacity: 1; -moz-opacity: 0.99; border-bottom:none;}
.logo img {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.80; border-bottom:none;}

p {text-align:justify;}

a {text-decoration:none; border-bottom:none;}
a:hover {text-decoration:none; border-bottom:none;}

.small {font-size:10px; margin-top:0;}

.underline a {color:#663333; text-decoration:none; border-bottom:1px solid #ff6600;}
.underline a:hover {color:#ff6600; text-decoration:none; border-bottom:0px solid #ff6600;}

.container {width:900px; margin:20px auto; text-align:left;} 
.fons {width:900px; border:1px solid #663333; background-color:#ffffff; float:left;}

.header {background:#ffffff; padding:0; width:280px; height:110px; float:left;}

.menu {background-image:url(logo-gastro.jpg); padding:0; width:900px; height:160px; float:right; text-align:right;}

h1, h2, h3 {margin:0; padding:10px 0 0 0; font-family:12px Verdana, Geneva, sans-serif; font-weight:bold;}
h1 {font-size:20px; line-height:22px; color:#ff6600;}
h2 {font-size:16px; line-height:18px;}
h3 {font-size:13px; text-align:center;}

.sidebar1 {float:left; width:220px; background:#ffffff; padding:0;}
	
.mainContent {margin: 0; width: 680px; float:right;}

.mainContent h1, .mainContent h2 {margin-left:20px; margin-right:20px;}

.mainContent p {margin-left:20px; margin-right:20px;}

.dakteri {margin-left:20px; margin-top:20px; width:117px; float:left;}
.dakteritxt {margin-left:20px; margin-top:20px; width:455px; height:auto; min-height:157px; float:left; text-align:justify;}

.footer {float:left; padding:0 20px; background:#bdcddb; width:760px;} 
.footer p {margin: 0; padding: 10px 0;}