#adminmenuback,
#adminmenuwrap,
#adminmenu,
#adminmenu .ljmc-submenu {
	width: 160px;
	background-color: #23282d;
}

#adminmenuback {
	position: fixed;
	top: 0;
	bottom: -120px;
	z-index: 1; /* positive z-index to avoid elastic scrolling woes in Safari */
}

#adminmenu {
	clear: right;
	margin: 12px 0;
	padding: 0;
	list-style: none;
}

.folded #adminmenuback,
.folded #adminmenuwrap,
.folded #adminmenu,
.folded #adminmenu li.menu-top {
	width: 36px;
}

.icon16 {
	height: 18px;
	width: 18px;
	padding: 6px 6px;
	margin: -6px -8px 0 0;
	float: right;
}

/* New Menu icons */

.icon16:before {
	color: #999;
	font: normal 20px/1 'dashicons';
	speak: none;
	padding: 6px 0;
	height: 34px;
	width: 20px;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.icon16.icon-dashboard:before {
	content: '\f226';
}

.icon16.icon-post:before {
	content: '\f109';
}

.icon16.icon-media:before {
	content: '\f104';
}

.icon16.icon-links:before {
	content: '\f103';
}

.icon16.icon-page:before {
	content: '\f105';
}

.icon16.icon-comments:before {
	content: '\f101';
	margin-top: 1px;
}

.icon16.icon-appearance:before {
	content: '\f100';
}

.icon16.icon-plugins:before {
	content: '\f106';
}

.icon16.icon-users:before {
	content: '\f110';
}

.icon16.icon-tools:before {
	content: '\f107';
}

.icon16.icon-settings:before {
	content: '\f108';
}

.icon16.icon-site:before {
	content: '\f112'
}

.icon16.icon-generic:before {
	content: '\f111';
}

/* hide background-image for icons above */
.icon16.icon-dashboard,
.menu-icon-dashboard div.ljmc-menu-image,
.icon16.icon-post,
.menu-icon-post div.ljmc-menu-image,
.icon16.icon-media,
.menu-icon-media div.ljmc-menu-image,
.icon16.icon-links,
.menu-icon-links div.ljmc-menu-image,
.icon16.icon-page,
.menu-icon-page div.ljmc-menu-image,
.icon16.icon-comments,
.menu-icon-comments div.ljmc-menu-image,
.icon16.icon-appearance,
.menu-icon-appearance div.ljmc-menu-image,
.icon16.icon-plugins,
.menu-icon-plugins div.ljmc-menu-image,
.icon16.icon-users,
.menu-icon-users div.ljmc-menu-image,
.icon16.icon-tools,
.menu-icon-tools div.ljmc-menu-image,
.icon16.icon-settings,
.menu-icon-settings div.ljmc-menu-image,
.icon16.icon-site,
.menu-icon-site div.ljmc-menu-image,
.icon16.icon-generic,
.menu-icon-generic div.ljmc-menu-image {
	background-image: none !important;
}

/*------------------------------------------------------------------------------
  7.0 - Main Navigation (Left Menu)
------------------------------------------------------------------------------*/

#adminmenuwrap {
	position: relative;
	float: right;
	z-index: 9990;
}

/* side admin menu */
#adminmenu * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#adminmenu li {
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#adminmenu a {
	display: block;
	line-height: 18px;
	padding: 2px 5px;
	color: #eee;
}

#adminmenu .ljmc-submenu a {
	color: #b4b9be;
	color: rgba(240,245,250,0.7);
}

#adminmenu .ljmc-submenu a:hover,
#adminmenu .ljmc-submenu a:focus {
	background: none;
}

#adminmenu a:hover,
#adminmenu li.menu-top > a:focus,
#adminmenu .ljmc-submenu a:hover,
#adminmenu .ljmc-submenu a:focus {
	color: #00b9eb;
}

#adminmenu li.menu-top {
	border: none;
	min-height: 34px;
	position: relative;
}

#adminmenu .ljmc-submenu {
	list-style: none;
	position: absolute;
	top: -1000em;
	right: 160px;
	overflow: visible;
	word-wrap: break-word;
}

#adminmenu .ljmc-submenu,
.folded #adminmenu a.ljmc-has-current-submenu:focus + .ljmc-submenu,
.folded #adminmenu .ljmc-has-current-submenu .ljmc-submenu {
	padding: 7px 0 8px;
	z-index: 9999;
	background-color: #32373c;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

.js #adminmenu .sub-open,
.js #adminmenu .opensub .ljmc-submenu,
#adminmenu a.menu-top:focus + .ljmc-submenu,
.no-js li.ljmc-has-submenu:hover .ljmc-submenu {
	top: -1px;
}

#adminmenu .ljmc-has-current-submenu .ljmc-submenu,
.no-js li.ljmc-has-current-submenu:hover .ljmc-submenu,
#adminmenu a.ljmc-has-current-submenu:focus + .ljmc-submenu,
#adminmenu .ljmc-has-current-submenu .ljmc-submenu.sub-open,
#adminmenu .ljmc-has-current-submenu.opensub .ljmc-submenu {
	position: relative;
	z-index: 3;
	top: auto;
	right: auto;
	left: auto;
	bottom: auto;
	border: 0 none;
	margin-top: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #32373c;
}

/* ensure that ljmc-submenu's box shadow doesn't appear on top of the focused menu item's background. */
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
	position: relative;
	background-color: #191e23;
	color: #00b9eb;
}

.folded #adminmenu li.menu-top:hover,
.folded #adminmenu li.opensub > a.menu-top,
.folded #adminmenu li > a.menu-top:focus {
	z-index: 10000;
}

#adminmenu li.ljmc-has-current-submenu a.ljmc-has-current-submenu,
#adminmenu li.current a.menu-top,
.folded #adminmenu li.ljmc-has-current-submenu,
.folded #adminmenu li.current.menu-top,
#adminmenu .ljmc-menu-arrow,
#adminmenu .ljmc-has-current-submenu .ljmc-submenu .ljmc-submenu-head,
#adminmenu .ljmc-menu-arrow div {
	background: #cf4240;
	color: #faf9f1;
}

.folded #adminmenu .ljmc-submenu.sub-open,
.folded #adminmenu .opensub .ljmc-submenu,
.folded #adminmenu .ljmc-has-current-submenu .ljmc-submenu.sub-open,
.folded #adminmenu .ljmc-has-current-submenu.opensub .ljmc-submenu,
.folded #adminmenu a.menu-top:focus + .ljmc-submenu,
.folded #adminmenu .ljmc-has-current-submenu a.menu-top:focus + .ljmc-submenu,
.no-js.folded #adminmenu .ljmc-has-submenu:hover .ljmc-submenu  {
	top: 0;
	right: 36px;
}

.folded #adminmenu a.ljmc-has-current-submenu:focus + .ljmc-submenu,
.folded #adminmenu .ljmc-has-current-submenu .ljmc-submenu {
	position: absolute;
	top: -1000em;
}

#adminmenu .ljmc-not-current-submenu .ljmc-submenu,
.folded #adminmenu .ljmc-has-current-submenu .ljmc-submenu {
	min-width: 160px;
	width: auto;
}

#adminmenu .ljmc-submenu a {
	font-size: 13px;
	line-height: 1.2;
	margin: 0;
	padding: 6px 0;
}

#adminmenu .ljmc-submenu li.current,
#adminmenu .ljmc-submenu li.current a,
#adminmenu .opensub .ljmc-submenu li.current a,
#adminmenu a.ljmc-has-current-submenu:focus + .ljmc-submenu li.current a,
#adminmenu .ljmc-submenu li.current a:hover,
#adminmenu .ljmc-submenu li.current a:focus {
	color: #faf9f1;
}

#adminmenu .ljmc-not-current-submenu li > a,
.folded #adminmenu .ljmc-has-current-submenu li > a {
	padding-left: 16px;
	padding-right: 14px;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#adminmenu .ljmc-has-current-submenu ul > li > a,
.folded #adminmenu li.menu-top .ljmc-submenu > li > a {
	padding: 6px 12px;
}

#adminmenu a.menu-top,
#adminmenu .ljmc-submenu-head {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	padding: 0;
}

#adminmenu .ljmc-submenu-head,
.folded #adminmenu .ljmc-menu-name {
	display: none;
}

.folded #adminmenu .ljmc-submenu-head {
	display: block;
}

#adminmenu .ljmc-submenu li {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#adminmenu .ljmc-menu-image img {
	padding: 9px 0 0 0;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

#adminmenu div.ljmc-menu-name {
	padding: 8px 0;
}

#adminmenu div.ljmc-menu-image {
	float: right;
	width: 36px;
	height: 34px;
	margin: 0;
	text-align: center;
}

#adminmenu div.ljmc-menu-image.svg {
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 20px auto;
	background-size: 20px auto;
}

div.ljmc-menu-image:before {
	color: #a0a5aa;
	color: rgba(240,245,250,0.6);
	padding: 7px 0;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#adminmenu div.ljmc-menu-image:before {
	color: #a0a5aa;
	color: rgba(240,245,250,0.6);
}

#adminmenu li.ljmc-has-current-submenu:hover div.ljmc-menu-image:before,
#adminmenu .ljmc-has-current-submenu div.ljmc-menu-image:before,
#adminmenu .current div.ljmc-menu-image:before,
#adminmenu a.ljmc-has-current-submenu:hover div.ljmc-menu-image:before,
#adminmenu a.current:hover div.ljmc-menu-image:before,
#adminmenu li.ljmc-has-current-submenu a:focus div.ljmc-menu-image:before,
#adminmenu li.ljmc-has-current-submenu.opensub div.ljmc-menu-image:before {
	color: #faf9f1;
}

#adminmenu li:hover div.ljmc-menu-image:before,
#adminmenu li a:focus div.ljmc-menu-image:before,
#adminmenu li.opensub div.ljmc-menu-image:before {
	color: #00b9eb;
}

/* IE8 doesn't redraw the pseudo elements unless you make a change to the content, this restore the initial color after hover */
.ie8 #adminmenu li.opensub div.ljmc-menu-image:before {
	color: #a0a5aa;
}

.folded #adminmenu div.ljmc-menu-image {
	width: 35px;
	height: 30px;
	position: absolute;
	z-index: 25;
}

.folded #adminmenu a.menu-top {
	height: 34px;
}

/* No @font-face support */
.no-font-face #adminmenu .ljmc-menu-image {
	display: none;
}

.no-font-face #adminmenu div.ljmc-menu-name {
	padding: 8px 12px;
}

.no-font-face.auto-fold #adminmenu .ljmc-menu-name {
	margin-right: 0;
}
/* End no @font-face support */

/* Sticky admin menu */
.sticky-menu #adminmenuwrap {
	position: fixed;
}

/* A new arrow */

.ljmc-menu-arrow {
	display: none !important;
}

ul#adminmenu a.ljmc-has-current-submenu {
	position: relative;
}

ul#adminmenu a.ljmc-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
	left: 0;
	border: solid 8px transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: #f1f1f1;
	top: 50%;
	margin-top: -8px;
}

.folded ul#adminmenu li:hover a.ljmc-has-current-submenu:after {
	display: none;
}

.folded ul#adminmenu a.ljmc-has-current-submenu:after,
.folded ul#adminmenu > li a.current:after {
	border-width: 4px;
	margin-top: -4px;
}

/* flyout menu arrow */
#adminmenu li.ljmc-has-submenu.ljmc-not-current-submenu:hover:after {
	left: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 8px;
	top: 10px;
	z-index: 10000;
}

.folded ul#adminmenu li.ljmc-has-submenu.ljmc-not-current-submenu:hover:after {
	border-width: 4px;
	margin-top: -4px;
	top: 18px;
}

#adminmenu li.ljmc-has-submenu.ljmc-not-current-submenu.opensub:hover:after {
	border-left-color: #32373c;
}

#adminmenu li.menu-top:hover .ljmc-menu-image img,
#adminmenu li.ljmc-has-current-submenu .ljmc-menu-image img {
	opacity: 1;
	filter: alpha(opacity=100);
}

#adminmenu li.ljmc-menu-separator {
	height: 5px;
	padding: 0;
	margin: 0 0 6px 0;
	cursor: inherit;
}

/* @todo: is this even needed given that it's nested beneath the above li.ljmc-menu-separator? */
#adminmenu div.separator {
	height: 2px;
	padding: 0;
}

#adminmenu .ljmc-submenu .ljmc-submenu-head {
	color: #faf9f1;
	font-weight: 400;
	font-size: 14px;
	padding: 8px 11px 8px 4px;
	margin: -7px 0px 4px;
}

#adminmenu li.current,
.folded #adminmenu li.ljmc-menu-open {
	border: 0 none;
}

#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
	display: inline-block;
	background-color: #d54e21;
	color: #faf9f1;
	font-size: 9px;
	line-height: 17px;
	font-weight: 600;
	margin: 1px 2px 0 0;
	vertical-align: top;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	z-index: 26;
}

#adminmenu li .awaiting-mod span,
#adminmenu li span.update-plugins span {
	display: block;
	padding: 0 6px;
}

#adminmenu li.current a .awaiting-mod,
#adminmenu	li a.ljmc-has-current-submenu .update-plugins {
	background-color: #00b9eb;
	color: #faf9f1;
}

#adminmenu li span.count-0 {
	display: none;
}

#collapse-menu {
	font-size: 13px;
	line-height: 34px;
	margin-top: 10px;
	color: #a0a5aa;
	color: rgba(240,245,250,0.6);
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#collapse-menu:hover,
#collapse-menu:hover #collapse-button div:after {
	color: #00b9eb;
}

.folded #collapse-menu span {
	display: none;
}

#collapse-button,
#collapse-button div {
	width: 15px;
	height: 15px;
}

#collapse-button {
	float: right;
	height: 15px;
	margin: 10px 11px 10px 8px;
	width: 15px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#ljmcwrap #collapse-button div {
	padding: 0;
}

#collapse-button div:after {
	content: '\f148';
	display: block;
	line-height: 15px;
	right: -3px;
	top: -3px;
	color: #a0a5aa;
	color: rgba(240,245,250,0.6);
	font: normal 20px/1 'dashicons' !important;
	speak: none;
	margin: 0 auto;
	padding: 0 !important;
	position: relative;
	text-align: center;
	width: 20px;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* rtl:ignore */
.folded #collapse-button div:after,
.rtl #collapse-button div:after {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.rtl.folded #collapse-button div:after {
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

/**
 * Toolbar menu toggle
 */
li#ljmc-admin-bar-menu-toggle {
	display: none;
}

/* Hide-if-customize for items we can't add classes to */
.customize-support #menu-appearance a[href="themes.php?page=custom-header"],
.customize-support #menu-appearance a[href="themes.php?page=custom-background"] {
	display: none;
}

/* Auto-folding of the admin menu */
@media only screen and (max-width: 960px) {
	.auto-fold #ljmccontent,
	.auto-fold #ljmcfooter {
		margin-right: 36px;
	}

	.auto-fold #adminmenuback,
	.auto-fold #adminmenuwrap,
	.auto-fold #adminmenu,
	.auto-fold #adminmenu li.menu-top {
		width: 36px;
	}

	.auto-fold #adminmenu .ljmc-submenu.sub-open,
	.auto-fold #adminmenu .opensub .ljmc-submenu,
	.auto-fold #adminmenu .ljmc-has-current-submenu .ljmc-submenu.sub-open,
	.auto-fold #adminmenu .ljmc-has-current-submenu.opensub .ljmc-submenu,
	.auto-fold #adminmenu a.menu-top:focus + .ljmc-submenu,
	.auto-fold #adminmenu .ljmc-has-current-submenu a.menu-top:focus + .ljmc-submenu  {
		top: 0px;
		right: 36px;
	}

	.auto-fold #adminmenu a.ljmc-has-current-submenu:focus + .ljmc-submenu,
	.auto-fold #adminmenu .ljmc-has-current-submenu .ljmc-submenu {
		position: absolute;
		top: -1000em;
		margin-left: -1px;
		padding: 7px 0 8px;
		z-index: 9999;
	}

	.auto-fold #adminmenu .ljmc-has-current-submenu .ljmc-submenu {
		min-width: 150px;
		width: auto;
	}

	.auto-fold #adminmenu .ljmc-has-current-submenu li > a {
		padding-left: 16px;
		padding-right: 14px;
	}


	.auto-fold #adminmenu li.menu-top .ljmc-submenu > li > a {
		padding-right: 12px;
	}

	.auto-fold #adminmenu .ljmc-menu-name {
		display: none;
	}

	.auto-fold #adminmenu .ljmc-submenu-head {
		display: block;
	}

	.auto-fold #adminmenu div.ljmc-menu-image {
		height: 30px;
		width: 34px;
		position: absolute;
		z-index: 25;
	}

	.auto-fold #adminmenu a.menu-top {
		height: 34px;
	}

	.auto-fold #adminmenu li.ljmc-menu-open {
		border: 0 none;
	}

	.auto-fold #adminmenu .ljmc-has-current-submenu.menu-top-last {
		margin-bottom: 0;
	}

	.auto-fold ul#adminmenu li:hover a.ljmc-has-current-submenu:after {
		display: none;
	}

	.auto-fold ul#adminmenu li.ljmc-has-submenu.ljmc-not-current-submenu:hover:after {
		border-width: 4px;
		margin-top: -4px;
		top: 16px;
	}

	.auto-fold ul#adminmenu a.ljmc-has-current-submenu:after,
	.auto-fold ul#adminmenu > li a.current:after {
		border-width: 4px;
		margin-top: -4px;
	}

	.auto-fold #adminmenu li.menu-top:hover,
	.auto-fold #adminmenu li.opensub > a.menu-top,
	.auto-fold #adminmenu li > a.menu-top:focus {
		z-index: 10000;
	}

	.auto-fold #collapse-menu span {
		display: none;
	}

	.auto-fold #collapse-button div {
		background: none;
	}

	/* rtl:ignore */
	.auto-fold #collapse-button div:after {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	.rtl.auto-fold #collapse-button div:after {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}

}

@media screen and ( max-width: 782px ) {
	.auto-fold #ljmccontent {
		position: relative;
		margin-right: 0;
		padding-right: 10px;
	}

	.sticky-menu #adminmenuwrap {
		position: relative;
		z-index: auto;
		top: 0;
	}

	/* Sidebar Adjustments */
	.auto-fold #adminmenu,
	.auto-fold #adminmenuback,
	.auto-fold #adminmenuwrap {
		position: absolute;
		width: 190px;
		z-index: 100;
	}

	.auto-fold #adminmenuback,
	.auto-fold #adminmenuwrap {
		display: none;
	}

	.auto-fold .ljmc-responsive-open #adminmenuback,
	.auto-fold .ljmc-responsive-open #adminmenuwrap {
		display: block;
	}

	.auto-fold #adminmenu li.menu-top {
		width: 100%;
	}

	/* Resize the admin menu items to a comfortable touch size */
	.auto-fold #adminmenu li a {
		font-size: 16px;
		padding: 5px;
	}

	.auto-fold #adminmenu li.menu-top .ljmc-submenu > li > a {
		padding: 10px 20px 10px 10px;
	}

	/* Restore the menu names */
	.auto-fold #adminmenu .ljmc-menu-name {
		display: block;
		margin-right: 35px;
	}

	/* Switch the arrow side */
	.auto-fold ul#adminmenu a.ljmc-has-current-submenu:after,
	.auto-fold ul#adminmenu > li.current > a.current:after {
		border-width: 8px;
		margin-top: -8px;
	}

	.auto-fold ul#adminmenu li.ljmc-has-submenu.ljmc-not-current-submenu:hover:after {
		display: none;
	}

	/* Make the submenus appear correctly when tapped. */
	#adminmenu .ljmc-submenu {
		position: relative;
		display: none;
	}

	.auto-fold #adminmenu .selected .ljmc-submenu,
	.auto-fold #adminmenu .ljmc-menu-open .ljmc-submenu {
		position: relative;
		display: block;
		top: 0;
		right: -1px;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.auto-fold #adminmenu .selected .ljmc-submenu:after,
	.auto-fold #adminmenu .ljmc-menu-open .ljmc-submenu:after {
		display: none;
	}

	.auto-fold #adminmenu .opensub .ljmc-submenu {
		display: none;
	}

	.auto-fold #adminmenu .selected .ljmc-submenu {
		display: block;
	}

	.auto-fold ul#adminmenu li:hover a.ljmc-has-current-submenu:after {
		display: block;
	}

	.auto-fold #adminmenu a.menu-top:focus + .ljmc-submenu,
	.auto-fold #adminmenu .ljmc-has-current-submenu a.menu-top:focus + .ljmc-submenu {
		position: relative;
		right: -1px;
		left: 0;
		top: 0;
	}

	/* Remove submenu headers and adjust sub meu*/
	#adminmenu .ljmc-submenu .ljmc-submenu-head {
		display: none;
	}

	/* Toolbar menu toggle */
	#ljmc-responsive-toggle {
		position: fixed;
		top: 5px;
		right: 4px;
		padding-left: 10px;
		z-index: 99999;
		border: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#ljmcadminbar #ljmc-admin-bar-menu-toggle a {
		display: block;
		padding: 0;
		overflow: hidden;
		outline: none;
		text-decoration: none;
		border: 1px solid transparent;
		background: none;
		height: 44px;
		margin-right: -1px;
	}

	.ljmc-responsive-open #ljmcadminbar #ljmc-admin-bar-menu-toggle a {
		background: #32373c;
	}

	li#ljmc-admin-bar-menu-toggle {
		display: block;
	}

	#ljmcadminbar #ljmc-admin-bar-menu-toggle a:hover {
		border: 1px solid transparent;
	}

	#ljmcadminbar #ljmc-admin-bar-menu-toggle .ab-icon:before {
		content: '\f228';
		display: inline-block;
		float: right;
		font: normal 40px/45px 'Dashicons';
		vertical-align: middle;
		outline: none;
		margin: 0;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		height: 44px;
		width: 50px;
		padding: 0;
		border: none;
		text-align: center;
		text-decoration: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

/* Smartphone */
@media screen and (max-width: 600px) {
	#adminmenuwrap,
	#adminmenuback {
		display: none;
	}

	.ljmc-responsive-open #adminmenuwrap,
	.ljmc-responsive-open #adminmenuback {
		display: block;
	}

	.auto-fold #adminmenu {
		top: 46px;
	}
}
