/* ----------------------------------------------------------------------------

NOTE: If you edit this file, you should make sure that the CSS rules for
buttons in the following files are updated.

* jquery-ui-dialog.css
* editor.css

system-style Buttons
=======================
Create a button by adding the `.button` class to an element. For backwards
compatibility, we support several other classes (such as `.button-secondary`),
but these will *not* work with the stackable classes described below.

Button Styles
-------------
To display a primary button style, add the `.button-primary` class to a button.

Button Sizes
------------
Adjust a button's size by adding the `.button-large` or `.button-small` class.

Button States
-------------
Lock the state of a button by adding the name of the pseudoclass as
an actual class (e.g. `.hover` for `:hover`).


TABLE OF CONTENTS:
------------------
 1.0 - Button Layouts
 2.0 - Default Button Style
 3.0 - Primary Button Style
 4.0 - Button Groups
 5.0 - Responsive Button Styles

---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
  1.0 - Button Layouts
---------------------------------------------------------------------------- */

.ljmc-core-ui .button,
.ljmc-core-ui .button-primary,
.ljmc-core-ui .button-secondary {
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Remove the dotted border on :focus and the extra padding in Firefox */
.ljmc-core-ui button::-moz-focus-inner,
.ljmc-core-ui input[type="reset"]::-moz-focus-inner,
.ljmc-core-ui input[type="button"]::-moz-focus-inner,
.ljmc-core-ui input[type="submit"]::-moz-focus-inner {
	border-width: 0;
	border-style: none;
	padding: 0;
}

.ljmc-core-ui .button.button-large,
.ljmc-core-ui .button-group.button-large .button {
	height: 30px;
    line-height: 28px;
    padding: 0 12px 2px;
}

.ljmc-core-ui .button.button-small,
.ljmc-core-ui .button-group.button-small .button {
	height: 24px;
	line-height: 22px;
	padding: 0 8px 1px;
	font-size: 11px;
}

.ljmc-core-ui .button.button-hero,
.ljmc-core-ui .button-group.button-hero .button {
	font-size: 14px;
	height: 46px;
	line-height: 44px;
	padding: 0 36px;
}

.ljmc-core-ui .button:active,
.ljmc-core-ui .button:focus {
	outline: none;
}

.ljmc-core-ui .button.hidden {
	display: none;
}

/* Style Reset buttons as simple text links */

.ljmc-core-ui input[type="reset"],
.ljmc-core-ui input[type="reset"]:hover,
.ljmc-core-ui input[type="reset"]:active,
.ljmc-core-ui input[type="reset"]:focus {
	background: none;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0 2px 1px;
	width: auto;
}

/* ----------------------------------------------------------------------------
  2.0 - Default Button Style
---------------------------------------------------------------------------- */

.ljmc-core-ui .button,
.ljmc-core-ui .button-secondary {
	color: #555;
	border-color: #cccccc;
	background: #f7f7f7;
	-webkit-box-shadow: inset 0 1px 0 #faf9f1, 0 1px 0 rgba( 0, 0, 0, 0.08 );
	box-shadow: inset 0 1px 0 #faf9f1, 0 1px 0 rgba( 0, 0, 0, 0.08 );
 	vertical-align: top;
}

.ljmc-core-ui p .button {
	vertical-align: baseline;
}

.ljmc-core-ui .button.hover,
.ljmc-core-ui .button:hover,
.ljmc-core-ui .button-secondary:hover,
.ljmc-core-ui .button.focus,
.ljmc-core-ui .button:focus,
.ljmc-core-ui .button-secondary:focus {
	background: #fafafa;
	border-color: #999;
	color: #23282d;
}

.ljmc-core-ui .button.focus,
.ljmc-core-ui .button:focus,
.ljmc-core-ui .button-secondary:focus {
	-webkit-box-shadow:
		0 0 0 1px #b0302d,
		0 0 2px 1px rgba(30, 140, 190, .8);
	box-shadow:
		0 0 0 1px #b0302d,
		0 0 2px 1px rgba(30, 140, 190, .8);
}

.ljmc-core-ui .button.active,
.ljmc-core-ui .button.active:hover,
.ljmc-core-ui .button:active,
.ljmc-core-ui .button-secondary:active {
	background: #eee;
	border-color: #999;
	color: #32373c;
 	-webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
 	box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
}

.ljmc-core-ui .button.active:focus {
	-webkit-box-shadow:
		inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 ),
		0 0 0 1px #b0302d,
		0 0 2px 1px rgba(30, 140, 190, .8);
	box-shadow:
		inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 ),
		0 0 0 1px #b0302d,
		0 0 2px 1px rgba(30, 140, 190, .8);
}

.ljmc-core-ui .button[disabled],
.ljmc-core-ui .button:disabled,
.ljmc-core-ui .button.disabled,
.ljmc-core-ui .button-secondary[disabled],
.ljmc-core-ui .button-secondary:disabled,
.ljmc-core-ui .button-secondary.disabled,
.ljmc-core-ui .button-disabled {
	color: #a0a5aa !important;
	border-color: #ddd !important;
	background: #f7f7f7 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	text-shadow: 0 1px 0 #faf9f1 !important;
	cursor: default;
}

/* ----------------------------------------------------------------------------
  3.0 - Primary Button Style
---------------------------------------------------------------------------- */

.ljmc-core-ui .button-primary {
	background: #00a0d2;
	border-color: #cf4240;
 	-webkit-box-shadow: inset 0 1px 0 rgba( 120, 200, 230, 0.5), 0 1px 0 rgba( 0, 0, 0, 0.15 );
 	box-shadow: inset 0 1px 0 rgba( 120, 200, 230, 0.5 ), 0 1px 0 rgba( 0, 0, 0, 0.15 );
 	color: #faf9f1;
	text-decoration: none;
}

.ljmc-core-ui .button-primary.hover,
.ljmc-core-ui .button-primary:hover,
.ljmc-core-ui .button-primary.focus,
.ljmc-core-ui .button-primary:focus {
	background: #0091cd;
	border-color: #cf4240;
 	-webkit-box-shadow: inset 0 1px 0 rgba( 120, 200, 230, 0.6 );
 	box-shadow: inset 0 1px 0 rgba( 120, 200, 230, 0.6 );
	color: #faf9f1;
}

.ljmc-core-ui .button-primary.focus,
.ljmc-core-ui .button-primary:focus {
	border-color: #0e3950;
	-webkit-box-shadow:
		inset 0 1px 0 rgba( 120, 200, 230, 0.6 ),
		0 0 0 1px #b0302d,
		0 0 2px 1px rgba(30, 140, 190, .8);
	box-shadow:
		inset 0 1px 0 rgba( 120, 200, 230, 0.6 ),
		0 0 0 1px #b0302d,
		0 0 2px 1px rgba(30, 140, 190, .8);
}

.ljmc-core-ui .button-primary.active,
.ljmc-core-ui .button-primary.active:hover,
.ljmc-core-ui .button-primary.active:focus,
.ljmc-core-ui .button-primary:active {
	background: #cf4240;
	border-color: #005082;
	color: rgba( 255, 255, 255, 0.95 );
 	-webkit-box-shadow: inset 0 1px 0 rgba( 0, 0, 0, 0.1 );
 	box-shadow: inset 0 1px 0 rgba( 0, 0, 0, 0.1 );
 	vertical-align: top;
}

.ljmc-core-ui .button-primary[disabled],
.ljmc-core-ui .button-primary:disabled,
.ljmc-core-ui .button-primary-disabled,
.ljmc-core-ui .button-primary.disabled {
	color: #94cde7 !important;
	background: #298cba !important;
	border-color: #1b607f !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	text-shadow: 0 -1px 0 rgba( 0, 0, 0, 0.1 ) !important;
	cursor: default;
}

/* ----------------------------------------------------------------------------
  4.0 - Button Groups
---------------------------------------------------------------------------- */

.ljmc-core-ui .button-group {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	font-size: 0;
	vertical-align: middle;
}

.ljmc-core-ui .button-group > .button {
	display: inline-block;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin-left: -1px;
	z-index: 10;
}

.ljmc-core-ui .button-group > .button-primary {
	z-index: 100;
}

.ljmc-core-ui .button-group > .button:hover {
	z-index: 20;
}

.ljmc-core-ui .button-group > .button:first-child {
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.ljmc-core-ui .button-group > .button:last-child {
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.ljmc-core-ui .button-group > .button:focus {
	position: relative;
	z-index: 1;
}

/* ----------------------------------------------------------------------------
  5.0 - Responsive Button Styles
---------------------------------------------------------------------------- */

@media screen and ( max-width: 782px ) {

	.ljmc-core-ui .button,
	.ljmc-core-ui .button.button-large,
	.ljmc-core-ui .button.button-small,
	input#publish,
	input#save-post,
	a.preview {
		padding: 6px 14px;
		line-height: normal;
		font-size: 14px;
		vertical-align: middle;
		height: auto;
		margin-bottom: 4px;
	}

	#media-upload.ljmc-core-ui .button {
		padding: 0 10px 1px;
		height: 24px;
		line-height: 22px;
		font-size: 13px;
	}

	.media-frame.mode-grid .bulk-select .button {
		margin-bottom: 0;
	}

	/* Publish Metabox Options */
	.ljmc-core-ui .save-post-status.button {
		position: relative;
		margin: 0 10px 0 14px; /* 14px right margin to match all other buttons */
	}

	/* Reset responsive styles in Press This, Customizer */

	.ljmc-core-ui.ljmc-customizer .button {
		padding: 0 10px 1px;
		font-size: 13px;
		line-height: 26px;
		height: 28px;
		margin: 0;
		vertical-align: inherit;
	}

	/* Reset responsive styles on Log in button on iframed login form */

	.interim-login .button.button-large {
		height: 30px;
		line-height: 28px;
		padding: 0 12px 2px;
	}

}
