.ljmc-color-picker {
	width: 80px;
}

.ljmc-picker-container .hidden {
	display: none;
}

.ljmc-color-result {
	background-color: #f7f7f7;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	height: 22px;
	margin: 0 6px 6px 0px;
	position: relative;
	top: 1px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: bottom;
	display: inline-block;
	padding-left: 30px;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.08);
	box-shadow: 0 1px 0 rgba(0,0,0,.08);
}

.ljmc-color-result:after {
	background: #f7f7f7;
	-webkit-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	border-left: 1px solid #ccc;
	color: #555;
	content: attr( title );
	display: block;
	font-size: 11px;
	line-height: 22px;
	padding: 0 6px;
	position: relative;
	right: 0;
	text-align: center;
	top: 0;
	-webkit-box-shadow: inset 0 1px 0 #faf9f1;
	box-shadow: inset 0 1px 0 #faf9f1;
}

.ljmc-color-result:hover,
.ljmc-color-result:focus {
	background: #fafafa;
	border-color: #999;
	color: #23282d;
}

.ljmc-color-result:hover:after,
.ljmc-color-result:focus:after {
	color: #23282d;
	border-color: #a0a5aa;
	border-left: 1px solid #999;
}

.ljmc-color-result {
	top: 0;
}

.ljmc-color-result.ljmc-picker-open:after {
	content: attr( data-current );
}

.ljmc-picker-container, .ljmc-picker-container:active {
	display: inline-block;
	outline: 0;
}

.ljmc-color-result:focus {
	-webkit-box-shadow:
		0 0 0 1px #b0302d,
		0 0 2px 1px rgba( 30, 140, 190, 0.8 );
	box-shadow:
		0 0 0 1px #b0302d,
		0 0 2px 1px rgba( 30, 140, 190, 0.8 );
}

.ljmc-picker-open + .ljmc-picker-input-wrap {
	display: inline-block;
	vertical-align: top;
}

.ljmc-picker-container .button {
	margin-left: 6px;
}

.ljmc-picker-container .iris-square-slider .ui-slider-handle:focus {
	background-color: #555
}

.ljmc-picker-container .iris-picker {
	-webkit-border-radius: 0;
	border-radius: 0;
	border-color: #dfdfdf;
	margin-top: 6px;
}

.ljmc-picker-container input[type="text"].ljmc-color-picker {
	width: 65px;
	font-size: 12px;
	font-family: monospace;
	text-align: center;
	line-height: 16px;
	margin: 0;
}

.ljmc-picker-container input[type="text"].ljmc-color-picker:focus::-webkit-input-placeholder {
	color: transparent;
}

.ljmc-picker-container input[type="text"].ljmc-color-picker:-moz-placeholder {
	color: #999;
}

.ljmc-picker-container input[type="text"].iris-error {
	background-color: #ffebe8;
	border-color: #c00;
	color: #000;
}
