.ljmc-pointer-content {
	padding: 0 0 10px;
	position: relative;
	font-size: 13px;
	background: #faf9f1;
	border: 1px solid #dfdfdf;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.075);
	box-shadow: 0 3px 6px rgba(0,0,0,0.075);
}

.ljmc-pointer-content h3 {
	position: relative;
	margin: -1px -1px 5px;
	padding: 15px 60px 14px 18px;
	border: 1px solid #3592b6;
	border-bottom: none;
	line-height: 1.4em;
	font-size: 14px;
	color: #faf9f1;
	background: #00a0d2;
}

.ljmc-pointer-content h3:before {
	background: #faf9f1;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	color: #00a0d2;
	content: '\f227';
	font: normal 20px/1.6 'dashicons';
	position: absolute;
	top: 8px;
	right: 15px;
	speak: none;
	text-align: center;
	width: 32px;
	height: 32px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ljmc-pointer-content p {
	padding: 0 15px;
}

.ljmc-pointer-buttons {
	margin: 0;
	padding: 5px 15px;
	overflow: auto;
}

.ljmc-pointer-buttons a {
	float: left;
	display: inline-block;
	text-decoration: none;
}

.ljmc-pointer-buttons a.close {
	padding-right: 3px;
	position: relative;
}

.ljmc-pointer-buttons a.close:before {
	background: none;
	color: #b4b9be;
	content: '\f153';
	display: block !important;
	font: normal 16px/1 'dashicons';
	speak: none;
	margin: 1px 0;
	text-align: center;
	-webkit-font-smoothing: antialiased !important;
	width: 10px;
	height: 100%;
	position: absolute;
	right: -15px;
	top: 1px;
}

.ljmc-pointer-buttons a.close:hover:before {
	color: #c00;
}

/* The arrow base class must take up no space, even with transparent borders. */
.ljmc-pointer-arrow,
.ljmc-pointer-arrow-inner {
	position: absolute;
	width: 0;
	height: 0;
}

.ljmc-pointer-arrow {
	z-index: 10;
	width: 0;
	height: 0;
	border: 0 solid transparent;
}

.ljmc-pointer-arrow-inner {
	z-index: 20;
}

/* Make Room for the Arrow! */
.ljmc-pointer-top,
.ljmc-pointer-undefined {
	padding-top: 13px;
}

.ljmc-pointer-bottom {
	margin-top: -13px;
	padding-bottom: 13px;
}

/* rtl:ignore */
.ljmc-pointer-left {
	padding-left: 13px;
}
/* rtl:ignore */
.ljmc-pointer-right {
	margin-left: -13px;
	padding-right: 13px;
}

/* Base Size & Positioning */
.ljmc-pointer-top .ljmc-pointer-arrow,
.ljmc-pointer-bottom .ljmc-pointer-arrow,
.ljmc-pointer-undefined .ljmc-pointer-arrow {
	right: 50px;
}

.ljmc-pointer-left .ljmc-pointer-arrow,
.ljmc-pointer-right .ljmc-pointer-arrow {
	top: 50%;
	margin-top: -15px;
}

/* Arrow Sprite */
.ljmc-pointer-top .ljmc-pointer-arrow,
.ljmc-pointer-undefined .ljmc-pointer-arrow {
	top: 0;
	border-width: 0 13px 13px 13px;
	border-bottom-color: #3592b6;
}

.ljmc-pointer-top .ljmc-pointer-arrow-inner,
.ljmc-pointer-undefined .ljmc-pointer-arrow-inner {
	top: 1px;
	margin-right: -13px;
	margin-top: -13px;
	border: 13px solid transparent;
	border-bottom-color: #00a0d2;
	display: block;
	content: ' ';
}

.ljmc-pointer-bottom .ljmc-pointer-arrow {
	bottom: 0;
	border-width: 13px 13px 0 13px;
	border-top-color: #ccc;
}

.ljmc-pointer-bottom .ljmc-pointer-arrow-inner {
	bottom: 1px;
	margin-right: -13px;
	margin-bottom: -13px;
	border: 13px solid transparent;
	border-top-color: #faf9f1;
	display: block;
	content: ' ';
}

/* rtl:ignore */
.ljmc-pointer-left .ljmc-pointer-arrow {
	left: 0;
	border-width: 13px 13px 13px 0;
	border-right-color: #ccc;
}

/* rtl:ignore */
.ljmc-pointer-left .ljmc-pointer-arrow-inner {
	left: 1px;
	margin-left: -13px;
	margin-top: -13px;
	border: 13px solid transparent;
	border-right-color: #faf9f1;
	display: block;
	content: ' ';
}

/* rtl:ignore */
.ljmc-pointer-right .ljmc-pointer-arrow {
	right: 0;
	border-width: 13px 0 13px 13px;
	border-left-color: #ccc;
}

/* rtl:ignore */
.ljmc-pointer-right .ljmc-pointer-arrow-inner {
	right: 1px;
	margin-right: -13px;
	margin-top: -13px;
	border: 13px solid transparent;
	border-left-color: #faf9f1;
	display: block;
	content: ' ';
}

/* Disable pointers at responsive sizes */
@media screen and ( max-width: 782px ) {
	.ljmc-pointer {
		display: none;
	}
}
