#ljmcadminbar * {
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	position: static;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	font: normal 13px/32px "Open Sans", sans-serif;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: none;
	transition: none;
	-webkit-font-smoothing: subpixel-antialiased; /* Prevent Safari from switching to standard antialiasing on hover */
	-moz-osx-font-smoothing: auto; /* Prevent Firefox from inheriting from themes that use other values */
}

.rtl #ljmcadminbar * {
	font-family: Tahoma, sans-serif;
}

html:lang(he-il) .rtl #ljmcadminbar *  {
 	font-family: Arial, sans-serif;
}

#ljmcadminbar a.ab-item,
#ljmcadminbar > #ljmc-toolbar span.ab-label,
#ljmcadminbar > #ljmc-toolbar span.noticon {
	color: #eee;
}

#ljmcadminbar #ljmc-admin-bar-site-name a.ab-item,
#ljmcadminbar #ljmc-admin-bar-my-sites a.ab-item {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#ljmcadminbar ul li:before,
#ljmcadminbar ul li:after {
	content: normal;
}

#ljmcadminbar a,
#ljmcadminbar a:hover,
#ljmcadminbar a img,
#ljmcadminbar a img:hover {
	outline: none;
	border: none;
	text-decoration: none;
	background: none;
}

#ljmcadminbar a:focus,
#ljmcadminbar a:active,
#ljmcadminbar input[type="text"],
#ljmcadminbar input[type="password"],
#ljmcadminbar input[type="number"],
#ljmcadminbar input[type="search"],
#ljmcadminbar input[type="email"],
#ljmcadminbar input[type="url"],
#ljmcadminbar select,
#ljmcadminbar textarea,
#ljmcadminbar div {
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

#ljmcadminbar {
	direction: rtl;
	color: #ccc;
	font: normal 13px/32px "Open Sans", sans-serif;
	height: 32px;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	min-width: 600px; /* match the min-width of the body in ljmc-admin.css */
	z-index: 99999;
	background: #23282d;
}

#ljmcadminbar .ab-sub-wrapper,
#ljmcadminbar ul,
#ljmcadminbar ul li {
	background: none;
	clear: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-indent: 0;
	z-index: 99999;
}

#ljmcadminbar ul#ljmc-admin-bar-root-default>li {
	margin-left: 0;
}

#ljmcadminbar .quicklinks ul {
	text-align: right;
}

#ljmcadminbar li {
	float: right;
}

#ljmcadminbar .ab-empty-item {
	outline: none;
}

#ljmcadminbar .quicklinks .ab-top-secondary > li {
	float: left;
}

#ljmcadminbar .quicklinks a,
#ljmcadminbar .quicklinks .ab-empty-item,
#ljmcadminbar .shortlink-input {
	height: 32px;
	display: block;
	padding: 0 10px;
	margin: 0;
}

#ljmcadminbar .quicklinks > ul > li > a {
	padding: 0 7px 0 8px;
}

#ljmcadminbar .menupop .ab-sub-wrapper,
#ljmcadminbar .shortlink-input {
	margin: 0;
	padding: 0;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	background: #32373c;
	display: none;
	position: absolute;
	float: none;
}

#ljmcadminbar.ie7 .menupop .ab-sub-wrapper,
#ljmcadminbar.ie7 .shortlink-input {
	top: 32px;
	right: 0;
}

#ljmcadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
	min-width: 100%;
}

#ljmcadminbar .ab-top-secondary .menupop .ab-sub-wrapper {
	left: 0;
	right: auto;
}

#ljmcadminbar .ab-submenu {
	padding: 6px 0;
}

#ljmcadminbar .selected .shortlink-input {
	display: block;
}

#ljmcadminbar .quicklinks .menupop ul li {
	float: none;
}

#ljmcadminbar .quicklinks .menupop ul li a strong {
	font-weight: bold;
}

#ljmcadminbar .quicklinks .menupop ul li .ab-item,
#ljmcadminbar .quicklinks .menupop ul li a strong,
#ljmcadminbar .quicklinks .menupop.hover ul li .ab-item,
#ljmcadminbar.nojs .quicklinks .menupop:hover ul li .ab-item,
#ljmcadminbar .shortlink-input {
	line-height: 26px;
	height: 26px;
	white-space: nowrap;
	min-width: 140px;
}

#ljmcadminbar .shortlink-input {
	width: 200px;
}

#ljmcadminbar.nojs li:hover > .ab-sub-wrapper,
#ljmcadminbar li.hover > .ab-sub-wrapper {
	display: block;
}

#ljmcadminbar .menupop li:hover > .ab-sub-wrapper,
#ljmcadminbar .menupop li.hover > .ab-sub-wrapper {
	margin-right: 100%;
	margin-top: -32px;
}

#ljmcadminbar .ab-top-secondary .menupop li:hover > .ab-sub-wrapper,
#ljmcadminbar .ab-top-secondary .menupop li.hover > .ab-sub-wrapper {
	margin-right: 0;
	right: inherit;
	left: 100%;
}

#ljmcadminbar .ab-top-menu > li > .ab-item:focus,
#ljmcadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#ljmcadminbar .ab-top-menu > li:hover > .ab-item,
#ljmcadminbar .ab-top-menu > li.hover > .ab-item {
	background: #32373c;
	color: #00b9eb;
}

#ljmcadminbar > #ljmc-toolbar li:hover span.ab-label,
#ljmcadminbar > #ljmc-toolbar li.hover span.ab-label,
#ljmcadminbar > #ljmc-toolbar a:focus span.ab-label {
	color: #00b9eb;
}

#ljmcadminbar > #ljmc-toolbar > #ljmc-admin-bar-root-default .ab-icon,
#ljmcadminbar .ab-icon,
#ljmcadminbar .ab-item:before {
	position: relative;
	float: right;
	font: normal 20px/1 'dashicons';
	speak: none;
	padding: 4px 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
	margin-left: 6px;
}

#ljmcadminbar .ab-icon:before,
#ljmcadminbar .ab-item:before,
#ljmcadminbar #adminbarsearch:before {
	color: #a0a5aa;
	color: rgba(240,245,250,0.6);
}

#ljmcadminbar .ab-icon:before,
#ljmcadminbar .ab-item:before,
#ljmcadminbar #adminbarsearch:before {
	position: relative;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#ljmcadminbar .ab-label {
	display: inline-block;
	height: 32px;
}

#ljmcadminbar .ab-submenu .ab-item {
	color: #b4b9be;
	color: rgba(240,245,250,0.7);
}

#ljmcadminbar .quicklinks .menupop ul li a,
#ljmcadminbar .quicklinks .menupop ul li a strong,
#ljmcadminbar .quicklinks .menupop.hover ul li a,
#ljmcadminbar.nojs .quicklinks .menupop:hover ul li a {
	color: #b4b9be;
	color: rgba(240,245,250,0.7);
}

#ljmcadminbar .quicklinks .menupop ul li a:hover,
#ljmcadminbar .quicklinks .menupop ul li a:focus,
#ljmcadminbar .quicklinks .menupop ul li a:hover strong,
#ljmcadminbar .quicklinks .menupop ul li a:focus strong,
#ljmcadminbar .quicklinks .menupop.hover ul li a:hover,
#ljmcadminbar .quicklinks .menupop.hover ul li a:focus,
#ljmcadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#ljmcadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#ljmcadminbar li:hover .ab-icon:before,
#ljmcadminbar li:hover .ab-item:before,
#ljmcadminbar li a:focus .ab-icon:before,
#ljmcadminbar li .ab-item:focus:before,
#ljmcadminbar li.hover .ab-icon:before,
#ljmcadminbar li.hover .ab-item:before,
#ljmcadminbar li:hover #adminbarsearch:before,
#ljmcadminbar li #adminbarsearch.adminbar-focused:before {
	color: #00b9eb;
}

#ljmcadminbar .menupop .menupop > .ab-item:before,
#ljmcadminbar .ab-top-secondary .menupop .menupop > .ab-item:before {
	position: absolute;
	font: normal 17px/1 'dashicons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#ljmcadminbar .menupop .menupop > .ab-item {
	display: block;
	padding-left: 2em;
}

#ljmcadminbar .menupop .menupop > .ab-item:before {
	top: 1px;
	left: 4px;
	content: '\f139';
	color: inherit;
}

#ljmcadminbar .ab-top-secondary .menupop .menupop > .ab-item {
	padding-right: 2em;
	padding-left: 1em;
}

#ljmcadminbar .ab-top-secondary .menupop .menupop > .ab-item:before {
	top: 5px;
	right: 3px;
	content: '\f141';
}

#ljmcadminbar .quicklinks .menupop ul.ab-sub-secondary {
	display: block;
	position: relative;
	left: auto;
	margin: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#ljmcadminbar .quicklinks .menupop ul.ab-sub-secondary,
#ljmcadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
	background: #464b50;
}

#ljmcadminbar .quicklinks .menupop .ab-sub-secondary > li > a:hover,
#ljmcadminbar .quicklinks .menupop .ab-sub-secondary > li .ab-item:focus a {
	color: #00b9eb;
}

#ljmcadminbar .quicklinks a span#ab-updates {
	background: #eee;
	color: #32373c;
	display: inline;
	padding: 2px 5px;
	font-size: 10px;
	font-weight: bold;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#ljmcadminbar .quicklinks a:hover span#ab-updates  {
	background: #faf9f1;
	color: #000;
}

#ljmcadminbar .ab-top-secondary {
	float: left;
}

#ljmcadminbar ul li:last-child,
#ljmcadminbar ul li:last-child .ab-item {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/**
 * My Account
 */
#ljmc-admin-bar-my-account > ul {
	min-width: 198px;
}

#ljmc-admin-bar-my-account > .ab-item:before {
	content: "\f110";
	top: 2px;
	float: left;
	margin-right: 6px;
	margin-left: 0;
}

#ljmc-admin-bar-my-account.with-avatar > .ab-item:before {
	display: none;
	content: none;
}

#ljmc-admin-bar-my-account.with-avatar > ul {
	min-width: 270px;
}

#ljmcadminbar.ie8 #ljmc-admin-bar-my-account.with-avatar .ab-item {
	white-space: nowrap;
}

#ljmcadminbar #ljmc-admin-bar-user-actions > li {
	margin-right: 16px;
	margin-left: 16px;
}

#ljmcadminbar #ljmc-admin-bar-user-actions.ab-submenu {
	padding: 6px 0 12px;
}

#ljmcadminbar #ljmc-admin-bar-my-account.with-avatar #ljmc-admin-bar-user-actions > li {
	margin-right: 88px;
}

#ljmcadminbar #ljmc-admin-bar-user-info {
	margin-top: 6px;
	margin-bottom: 15px;
	height: auto;
	background: none;
}

#ljmc-admin-bar-user-info .avatar {
	position: absolute;
	right: -72px;
	top: 4px;
	width: 64px;
	height: 64px;
}

#ljmcadminbar #ljmc-admin-bar-user-info a {
	background: none;
	height: auto;
}

#ljmcadminbar #ljmc-admin-bar-user-info span {
	background: none;
	padding: 0;
	height: 18px;
}

#ljmcadminbar #ljmc-admin-bar-user-info .display-name,
#ljmcadminbar #ljmc-admin-bar-user-info .username {
	display: block;
}

#ljmcadminbar #ljmc-admin-bar-user-info .username {
	color: #999;
	font-size: 11px;
}

#ljmcadminbar #ljmc-admin-bar-my-account.with-avatar > a img {
	width: auto;
	height: 16px;
	padding: 0;
	border: 1px solid #82878c;
	background: #eee;
	line-height: 24px;
	vertical-align: middle;
	margin: -4px 6px 0 0;
	float: none;
	display: inline;
}

#ljmcadminbar.ie8 #ljmc-admin-bar-my-account.with-avatar > a img {
	width: auto;
}

/**
 * LJMC Logo
 */
#ljmcadminbar #ljmc-admin-bar-ljmc-logo > .ab-item .ab-icon {
	width: 15px;
	height: 20px;
	margin-left: 0;
	padding: 6px 0 5px;
}

#ljmcadminbar #ljmc-admin-bar-ljmc-logo > .ab-item {
	padding: 0 7px;
}

#ljmcadminbar #ljmc-admin-bar-ljmc-logo > .ab-item .ab-icon:before {
	content: '\f120';
	top: 2px;
}

/*
 * My Sites & Site Title
 */
#ljmcadminbar .quicklinks li .blavatar {
	float: right;
	font: normal 16px/1 'dashicons' !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #eee;
}

#ljmcadminbar .quicklinks li a:hover .blavatar {
	color: #00b9eb;
}

#ljmcadminbar .quicklinks li .blavatar:before {
	content: '\f120';
	height: 16px;
	width: 16px;
	display: inline-block;
	margin: 6px -2px 0 8px;
}

#ljmcadminbar #ljmc-admin-bar-appearance {
	margin-top: -12px;
}

#ljmcadminbar #ljmc-admin-bar-my-sites > .ab-item:before,
#ljmcadminbar #ljmc-admin-bar-site-name > .ab-item:before {
	content: '\f112';
	top: 2px;
}

#ljmcadminbar #ljmc-admin-bar-edit > .ab-item:before {
	content: '\f464';
	top: 2px;
}

#ljmcadminbar #ljmc-admin-bar-site-name > .ab-item:before {
	content: "\f226";
}

.ljmc-admin #ljmcadminbar #ljmc-admin-bar-site-name > .ab-item:before {
	content: "\f102";
}



/**
 * Comments
 */
#ljmcadminbar #ljmc-admin-bar-comments .ab-icon {
	margin-left: 6px;
}

#ljmcadminbar #ljmc-admin-bar-comments .ab-icon:before {
	content: '\f101';
	top: 3px;
}

#ljmcadminbar #ljmc-admin-bar-comments .count-0 {
	opacity: .5;
}

/**
 * New Content
 */
#ljmcadminbar #ljmc-admin-bar-new-content .ab-icon:before {
	content: '\f132';
	top: 4px;
}

/**
 * Updates
 */
#ljmcadminbar #ljmc-admin-bar-updates .ab-icon:before {
	content: '\f463';
	top: 2px;
}

/**
 * Search
 */
#ljmcadminbar.ie8 #ljmc-admin-bar-search {
	display: block;
	min-width: 32px;
}
#ljmcadminbar #ljmc-admin-bar-search .ab-item {
	padding: 0;
	background: transparent;
}

#ljmcadminbar #adminbarsearch {
	position: relative;
	height: 32px;
	padding: 0 2px;
	z-index: 1;
}

#ljmcadminbar #adminbarsearch:before {
	position: absolute;
	top: 6px;
	right: 5px;
	z-index: 20;
	font: normal 20px/1 'dashicons' !important;
	content: '\f179';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#ljmcadminbar > #ljmc-toolbar > #ljmc-admin-bar-top-secondary > #ljmc-admin-bar-search #adminbarsearch input.adminbar-input {
	position: relative;
	z-index: 30;
	font: 13px/24px "Open Sans", sans-serif;
	height: 24px;
	width: 24px;
	max-width: none;
	padding: 0 24px 0 3px;
	margin: 0;
	color: #ccc;
	background-color: rgba( 255, 255, 255, 0 );
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	-webkit-transition-property: width, background;
	transition-property: width, background;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}

#ljmcadminbar > #ljmc-toolbar > #ljmc-admin-bar-top-secondary > #ljmc-admin-bar-search #adminbarsearch input.adminbar-input:focus {
	z-index: 10;
	color: #000;
	width: 200px;
	background-color: rgba( 255, 255, 255, 0.9 );
	cursor: text;
	border: 0;
}

#ljmcadminbar.ie7 > #ljmc-toolbar > #ljmc-admin-bar-top-secondary > #ljmc-admin-bar-search #adminbarsearch input.adminbar-input {
	margin-top: 3px;
	width: 120px;
}

#ljmcadminbar.ie8 > #ljmc-toolbar > #ljmc-admin-bar-top-secondary > #ljmc-admin-bar-search #adminbarsearch input.adminbar-input {
	/* IE8 z-index bug with transparent / empty elements - fill in with an encoded transparent GIF */
	background: transparent 100% 0 repeat scroll url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBR‌​AA7");
}

/* IE8 doesn't redraw the pseudo elements unless you make a change to the content */
#ljmcadminbar.ie8 #adminbarsearch.adminbar-focused:before {
	content: '\f179 '; /* extra space */
}

#ljmcadminbar.ie8 > #ljmc-toolbar > #ljmc-admin-bar-top-secondary > #ljmc-admin-bar-search #adminbarsearch input.adminbar-input:focus {
	background: #faf9f1;
	z-index: -1;
}

#ljmcadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
	color: #999;
}
#ljmcadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
	color: #999;
}
#ljmcadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
	color: #999;
}
#ljmcadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
	color: #999;
}

#ljmcadminbar #adminbarsearch .adminbar-button {
	display: none;
}

/**
 * Customize support classes
 */
.no-customize-support .hide-if-no-customize,
.customize-support .hide-if-customize,
.no-customize-support #ljmcadminbar .hide-if-no-customize,
.no-customize-support.ljmc-core-ui .hide-if-no-customize,
.no-customize-support .ljmc-core-ui .hide-if-no-customize,
.customize-support #ljmcadminbar .hide-if-customize,
.customize-support.ljmc-core-ui .hide-if-customize,
.customize-support .ljmc-core-ui .hide-if-customize {
	display: none;
}

/* Skip link */
#ljmcadminbar .screen-reader-text,
#ljmcadminbar .screen-reader-text span {
	position: absolute;
	right: -1000em;
	top: -1000em;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

#ljmcadminbar .screen-reader-shortcut {
	position: absolute;
	top: -1000em;
}

#ljmcadminbar .screen-reader-shortcut:focus {
	right: 6px;
	top: 7px;
	height: auto;
	width: auto;
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 23px 14px;
	background: #f1f1f1;
	color: #21759b;
	z-index: 100000;
	line-height: normal;
	text-decoration: none;
	-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

/**
 * IE 6-targeted rules
 */
* html #ljmcadminbar {
	overflow: hidden;
	position: absolute;
}

* html #ljmcadminbar .quicklinks ul li a {
	float: right;
}

* html #ljmcadminbar .menupop a span {
	background-image: none;
}

/* No @font-face support */
.no-font-face #ljmcadminbar ul.ab-top-menu > li > a.ab-item {
	display: block;
	width: 45px;
	text-align: center;
	overflow: hidden;
	margin: 0 3px;
}

.no-font-face #ljmcadminbar #ljmc-admin-bar-my-sites > .ab-item,
.no-font-face #ljmcadminbar #ljmc-admin-bar-site-name > .ab-item,
.no-font-face #ljmcadminbar #ljmc-admin-bar-edit > .ab-item {
	text-indent: 0;
}

.no-font-face #ljmcadminbar .ab-icon,
.no-font-face #ljmcadminbar .ab-icon:before,
.no-font-face #ljmcadminbar a.ab-item:before,
.no-font-face #ljmcadminbar #ljmc-admin-bar-ljmc-logo > .ab-item {
	display: none !important;
}

.no-font-face #ljmcadminbar ul.ab-top-menu > li > a > span.ab-label {
	display: inline;
}

.no-font-face #ljmcadminbar #ljmc-admin-bar-menu-toggle span.ab-icon {
	display: inline !important;
}

.no-font-face #ljmcadminbar #ljmc-admin-bar-menu-toggle span.ab-icon:before {
	content: "Menu";
	font: 14px/45px sans-serif !important;
	display: inline-block !important;
	color: #faf9f1;
}

.no-font-face #ljmcadminbar #ljmc-admin-bar-site-name a.ab-item {
	color: #faf9f1;
}
/* End no @font-face */

@media screen and ( max-width: 782px ) {
	/* Toolbar Touchification*/
	html #ljmcadminbar {
		height: 46px;
		min-width: 300px;

	/*	These rules break dropdown tappability on Chrome/Android.
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;
		-webkit-transition: 0;
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;
		transition: 0;
	*/
	}

	#ljmcadminbar * {
		font: normal 14px/32px "Open Sans", sans-serif;
	}

	#ljmcadminbar .quicklinks > ul > li > a,
	#ljmcadminbar .quicklinks .ab-empty-item {
		padding: 0;
		height: 46px;
		line-height: 46px;
		width: auto;
	}

	#ljmcadminbar .ab-icon {
		font: 40px/1 dashicons !important;
		margin: 0;
		padding: 0;
		width: 52px;
		height: 46px;
		text-align: center;
	}

	#ljmcadminbar .ab-icon:before {
		text-align: center;
	}

	#ljmcadminbar .ab-submenu {
		padding: 0;
	}

	#ljmcadminbar #ljmc-admin-bar-site-name a.ab-item,
	#ljmcadminbar #ljmc-admin-bar-my-sites a.ab-item,
	#ljmcadminbar #ljmc-admin-bar-my-account a.ab-item {
		text-overflow: clip;
	}

	#ljmcadminbar .ab-label {
		display: none;
	}

	#ljmcadminbar .menupop li:hover > .ab-sub-wrapper,
	#ljmcadminbar .menupop li.hover > .ab-sub-wrapper {
		margin-top: -46px;
	}

	#ljmcadminbar .ab-top-menu .menupop .ab-sub-wrapper .menupop > .ab-item {
		padding-left: 30px;
	}

	#ljmcadminbar .menupop .menupop > .ab-item:before {
		top: 10px;
		left: 6px;
	}

	#ljmcadminbar .ab-top-menu > .menupop > .ab-sub-wrapper .ab-item {
		font-size: 16px;
		padding: 6px 15px 12px;
	}

	#ljmcadminbar .ab-top-menu > .menupop > .ab-sub-wrapper a:empty {
		display: none;
	}

	/* LJMC logo */
	#ljmcadminbar #ljmc-admin-bar-ljmc-logo > .ab-item {
		padding: 0;
	}

	#ljmcadminbar #ljmc-admin-bar-ljmc-logo > .ab-item .ab-icon {
		padding: 0;
		width: 52px;
		height: 46px;
		text-align: center;
		vertical-align: top;
	}

	#ljmcadminbar #ljmc-admin-bar-ljmc-logo > .ab-item .ab-icon:before {
		font: 28px/1 'dashicons' !important;
		top: -3px;
	}

	#ljmcadminbar .ab-icon,
	#ljmcadminbar .ab-item:before {
		padding: 0;
	}

	/* My Sites and "Site Title" menu */
	#ljmcadminbar #ljmc-admin-bar-my-sites > .ab-item,
	#ljmcadminbar #ljmc-admin-bar-site-name > .ab-item,
	#ljmcadminbar #ljmc-admin-bar-edit > .ab-item,
	#ljmcadminbar #ljmc-admin-bar-my-account > .ab-item {
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		width: 52px;
		padding: 0;
		color: #999;
		position: relative;
	}

	#ljmcadminbar > #ljmc-toolbar > #ljmc-admin-bar-root-default .ab-icon,
	#ljmcadminbar .ab-icon,
	#ljmcadminbar .ab-item:before {
		padding: 0;
		margin-left: 0;
	}

	#ljmcadminbar #ljmc-admin-bar-edit > .ab-item:before,
	#ljmcadminbar #ljmc-admin-bar-my-sites > .ab-item:before,
	#ljmcadminbar #ljmc-admin-bar-site-name > .ab-item:before,
	#ljmcadminbar #ljmc-admin-bar-my-account > .ab-item:before {
		display: block;
		text-indent: 0;
		font: normal 32px/1 'dashicons';
		speak: none;
		top: 7px;
		width: 52px;
		text-align: center;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	#ljmcadminbar #ljmc-admin-bar-appearance {
		margin-top: 0;
	}

	#ljmcadminbar .quicklinks li .blavatar:before {
		display: none;
	}

	/* Search */
	#ljmcadminbar #ljmc-admin-bar-search {
		display: none;
	}

	/* New Content */
	#ljmcadminbar #ljmc-admin-bar-new-content .ab-icon:before {
		top: 0;
		line-height: 53px;
		height: 46px !important;
		text-align: center;
		width: 52px;
		display: block;
	}

	/* Updates */
	#ljmcadminbar #ljmc-admin-bar-updates {
		text-align: center;
	}

	#ljmcadminbar #ljmc-admin-bar-updates .ab-icon:before {
		top: 3px;
	}

	/* Comments */
	#ljmcadminbar #ljmc-admin-bar-comments .ab-icon {
		margin: 0;
	}

	#ljmcadminbar #ljmc-admin-bar-comments .ab-icon:before {
		display: block;
		font-size: 34px;
		height: 46px;
		line-height: 47px;
		top: 0;
	}

	/* My Account */
	#ljmcadminbar #ljmc-admin-bar-my-account > a {
		position: relative;
		white-space: nowrap;
		text-indent: 150%; /* More than 100% indention is needed since this element has padding */
		width: 28px;
		padding: 0 10px;
		overflow: hidden; /* Prevent link text from forcing horizontal scrolling on mobile */
	}

	#ljmcadminbar .quicklinks li#ljmc-admin-bar-my-account.with-avatar > a img {
		position: absolute;
		top: 13px;
		left: 10px;
		width: 26px;
		height: 26px;
	}

	#ljmcadminbar #ljmc-admin-bar-user-actions.ab-submenu {
		padding: 0;
	}

	#ljmcadminbar #ljmc-admin-bar-user-actions.ab-submenu img.avatar {
		display: none;
	}

	#ljmcadminbar #ljmc-admin-bar-my-account.with-avatar #ljmc-admin-bar-user-actions > li {
		margin: 0;
	}

	#ljmcadminbar #ljmc-admin-bar-user-info .display-name {
		height: auto;
		font-size: 16px;
		line-height: 24px;
		color: #eee;
	}

	#ljmcadminbar #ljmc-admin-bar-user-info a {
		padding-top: 4px;
	}

	#ljmcadminbar #ljmc-admin-bar-user-info .username {
		line-height: 0.8 !important;
		margin-bottom: -2px;
	}

	/* Show only default top level items */
	#ljmc-toolbar > ul > li {
		display: none;
	}

	#ljmcadminbar li#ljmc-admin-bar-menu-toggle,
	#ljmcadminbar li#ljmc-admin-bar-ljmc-logo,
	#ljmcadminbar li#ljmc-admin-bar-my-sites,
	#ljmcadminbar li#ljmc-admin-bar-updates,
	#ljmcadminbar li#ljmc-admin-bar-site-name,
	#ljmcadminbar li#ljmc-admin-bar-new-content,
	#ljmcadminbar li#ljmc-admin-bar-edit,
	#ljmcadminbar li#ljmc-admin-bar-comments,
	#ljmcadminbar li#ljmc-admin-bar-new-content,
	#ljmcadminbar li#ljmc-admin-bar-my-account {
		display: block;
	}

	/* Allow dropdown list items to appear normally */
	#ljmcadminbar li:hover ul li,
	#ljmcadminbar li.hover ul li,
	#ljmcadminbar li:hover ul li:hover ul li {
		display: list-item;
	}

	/* Override default min-width so dropdown lists aren't stretched
		to 100% vieljmcort width at responsive sizes. */
	#ljmcadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
		min-width: -webkit-fit-content;
		min-width: -moz-fit-content;
		min-width: fit-content;
	}

	#ljmcadminbar ul#ljmc-admin-bar-root-default > li {
		margin-left: 0;
	}

	/* Experimental fix for touch toolbar dropdown positioning */
	#ljmcadminbar .ab-top-menu,
	#ljmcadminbar .ab-top-secondary,
	#ljmcadminbar #ljmc-admin-bar-ljmc-logo,
	#ljmcadminbar #ljmc-admin-bar-my-sites,
	#ljmcadminbar #ljmc-admin-bar-site-name,
	#ljmcadminbar #ljmc-admin-bar-updates,
	#ljmcadminbar #ljmc-admin-bar-comments,
	#ljmcadminbar #ljmc-admin-bar-new-content,
	#ljmcadminbar #ljmc-admin-bar-edit,
	#ljmcadminbar #ljmc-admin-bar-my-account {
		position: static;
	}

	#ljmcadminbar #ljmc-admin-bar-my-account {
		float: left;
	}

	.network-admin #ljmcadminbar ul#ljmc-admin-bar-top-secondary > li#ljmc-admin-bar-my-account {
		margin-left: 0;
	}

	/* Realign arrows on taller responsive submenus */

	#ljmcadminbar .ab-top-secondary .menupop .menupop > .ab-item:before {
		top: 10px;
		right: 0;
	}
}

/* Smartphone */
@media screen and (max-width: 600px) {
	#ljmcadminbar {
		position: absolute;
	}

	#ljmc-responsive-overlay {
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 400;
	}

	#ljmcadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
		width: 100%;
		right: 0;
	}

	#ljmcadminbar .menupop .menupop > .ab-item:before {
		display: none;
	}

	#ljmcadminbar #ljmc-admin-bar-ljmc-logo.menupop .ab-sub-wrapper {
		margin-right: 0;
	}

	#ljmcadminbar .ab-top-menu > .menupop li > .ab-sub-wrapper {
		margin: 0;
		width: 100%;
		top: auto;
		right: auto;
		position: relative;
	}

	#ljmcadminbar .ab-top-menu > .menupop li > .ab-sub-wrapper .ab-item {
		font-size: 16px;
		padding: 6px 30px 19px 15px;
	}

	#ljmcadminbar li:hover ul li ul li {
		display: list-item;
	}

	#ljmcadminbar li#ljmc-admin-bar-ljmc-logo,
	#ljmcadminbar li#ljmc-admin-bar-updates {
		display: none;
	}

	/* Make submenus full-width at this size */

	#ljmcadminbar .ab-top-menu > .menupop li > .ab-sub-wrapper {
		position: static;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
