/*------------------------------------------------------------------------------
 TinyMCE and Quicklinks toolbars
------------------------------------------------------------------------------*/

/* TinyMCE widgets/containers */

.mce-container,
.mce-container *,
.mce-widget,
.mce-widget * {
	color: inherit;
	font-family: inherit;
}

/* TinyMCE windows */
#mce-modal-block,
#mce-modal-block.mce-fade {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-webkit-transition: none;
	transition: none;
}

.mce-window {
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
	box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: none;
	transition: none;
}

.mce-window .mce-container-body.mce-abs-layout {
	overflow: visible;
}

.mce-window .mce-window-head {
	background: #fcfcfc;
	border-bottom: 1px solid #dfdfdf;
	padding: 0;
	min-height: 36px;
}

.mce-window .mce-window-head .mce-title {
	color: #444;
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
	margin: 0;
	padding: 0 16px 0 36px;
}

.mce-window .mce-window-head .mce-close {
	color: transparent;
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
}

.mce-window .mce-window-head .mce-close:before {
	font: normal 20px/36px 'dashicons';
	text-align: center;
	color: #666;
	width: 36px;
	height: 36px;
	display: block;
}

.mce-window .mce-window-head .mce-close:hover:before {
	color: #00a0d2;
}

.mce-window .mce-window-head .mce-dragh {
	width: -webkit-calc( 100% - 36px );
	width: calc( 100% - 36px );
}

.mce-ljmc-help .mce-window-head {
	border-bottom: none;
}

.mce-textbox,
.mce-checkbox i.mce-i-checkbox,
#ljmc-link .query-results {
	border: 1px solid #ddd;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.07);
	-webkit-transition: .05s all ease-in-out;
	transition: .05s all ease-in-out;
}

.mce-textbox:focus,
.mce-textbox.mce-focus,
.mce-checkbox:focus i.mce-i-checkbox,
#ljmc-link .query-results:focus {
	border-color: #b0302d;
	-webkit-box-shadow: 0 0 2px rgba(30,140,190,0.8);
	box-shadow: 0 0 2px rgba(30,140,190,0.8);
}

/* TinyMCE menus */
.mce-menu,
.mce-floatpanel.mce-popover {
	border-color: rgba(0,0,0,0.15);
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 3px 5px rgba( 0, 0, 0, 0.2 );
	box-shadow: 0 3px 5px rgba( 0, 0, 0, 0.2 );
}

.mce-floatpanel.mce-popover.mce-bottom {
	margin-top: 2px;
}

.mce-floatpanel .mce-arrow {
	display: none;
}

.mce-menu .mce-container-body {
	min-width: 160px;
}

.mce-menu-item {
	border: none;
	margin-bottom: 2px;
}

.mce-menu-has-icons i.mce-ico {
	line-height: 20px;
}

/* TinyMCE panel */
div.mce-panel {
	border: 0;
	background: #faf9f1;
	-webkit-filter: none;
	filter: none;
}

.mce-panel.mce-menu {
	border: 1px solid #ddd;
}

div.mce-tab {
	line-height: 13px;
}

/* TinyMCE toolbars */
div.mce-toolbar-grp {
	border-bottom: 1px solid #dedede;
	background: #f5f5f5;
	padding: 0;
	position: relative;
}

div.mce-inline-toolbar-grp {
	border: 1px solid #a0a5aa;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.15 );
	box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.15 );
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 8px;
	position: absolute;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 100100; /* Same as the other TinyMCE "panels" */
}

div.mce-inline-toolbar-grp > div.mce-stack-layout {
	padding: 1px;
}

div.mce-inline-toolbar-grp.mce-arrow-up {
	margin-bottom: 0;
	margin-top: 8px;
}

div.mce-inline-toolbar-grp:before,
div.mce-inline-toolbar-grp:after {
	position: absolute;
	right: 50%;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	content: '';
}

div.mce-inline-toolbar-grp.mce-arrow-up:before {
	top: -18px;
	border-bottom-color: #a0a5aa;
	border-width: 9px;
	margin-right: -9px;
}

div.mce-inline-toolbar-grp.mce-arrow-down:before {
	bottom: -18px;
	border-top-color: #a0a5aa;
	border-width: 9px;
	margin-right: -9px;
}

div.mce-inline-toolbar-grp.mce-arrow-up:after {
	top: -16px;
	border-bottom-color: #f5f5f5;
	border-width: 8px;
	margin-right: -8px;
}

div.mce-inline-toolbar-grp.mce-arrow-down:after {
	bottom: -16px;
	border-top-color: #f5f5f5;
	border-width: 8px;
	margin-right: -8px;
}

div.mce-inline-toolbar-grp.mce-arrow-left:before,
div.mce-inline-toolbar-grp.mce-arrow-left:after {
	margin: 0;
}

div.mce-inline-toolbar-grp.mce-arrow-left:before {
	right: 20px;
}
div.mce-inline-toolbar-grp.mce-arrow-left:after {
	right: 21px;
}

div.mce-inline-toolbar-grp.mce-arrow-right:before,
div.mce-inline-toolbar-grp.mce-arrow-right:after {
	right: auto;
	margin: 0;
}

div.mce-inline-toolbar-grp.mce-arrow-right:before {
	left: 20px;
}

div.mce-inline-toolbar-grp.mce-arrow-right:after {
	left: 21px;
}

div.mce-inline-toolbar-grp.mce-arrow-full {
	left: 0;
}

div.mce-inline-toolbar-grp.mce-arrow-full > div {
	width: 100%;
	overflow-x: auto;
}

div.mce-toolbar-grp > div {
	padding: 3px;
}

.has-dfw div.mce-toolbar-grp .mce-toolbar.mce-first {
	padding-left: 32px;
}

.mce-toolbar .mce-btn-group {
	margin: 0;
}

div.mce-statusbar {
	border-top: 1px solid #e5e5e5;
}

div.mce-path {
	padding: 2px 10px;
	margin: 0;
}

.mce-path,
.mce-path-item,
.mce-path .mce-divider {
	font-size: 12px;
	line-height: 18px;
}

.mce-toolbar .mce-btn,
.qt-dfw {
	border-color: transparent;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	cursor: pointer;
}

#ljmc-fullscreen-buttons .mce-btn,
.mce-toolbar .mce-btn-group .mce-btn,
.qt-dfw {
	border: 1px solid transparent;
	margin: 2px;
	background-image: none;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-filter: none;
	filter: none;
}

#ljmc-fullscreen-buttons .mce-btn:hover,
.mce-toolbar .mce-btn-group .mce-btn:hover,
#ljmc-fullscreen-buttons .mce-btn:focus,
.mce-toolbar .mce-btn-group .mce-btn:focus,
.qt-dfw:hover,
.qt-dfw:focus {
	background: #fafafa;
	border-color: #999;
	color: #23282d;
	-webkit-box-shadow: inset 0 1px 0 #faf9f1, 0 1px 0 rgba( 0, 0, 0, 0.08 );
	box-shadow: inset 0 1px 0 #faf9f1, 0 1px 0 rgba( 0, 0, 0, 0.08 );
	outline: none;
}

.mce-toolbar .mce-btn-group .mce-btn.mce-active,
#ljmc-fullscreen-buttons .mce-btn.mce-active,
.mce-toolbar .mce-btn-group .mce-btn:active,
#ljmc-fullscreen-buttons .mce-btn:active,
.qt-dfw.active {
	background: #ebebeb;
	border-color: #999;
	-webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.3 );
	box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.3 );
}

.mce-toolbar .mce-btn-group .mce-btn.mce-active:hover {
	border-color: #555;
}

.mce-toolbar .mce-btn-group .mce-btn.mce-active:hover i.mce-ico {
	color: #555;
}

.mce-toolbar .mce-btn-group .mce-btn.mce-disabled:hover,
#ljmc-fullscreen-buttons .mce-btn.mce-disabled:hover,
.mce-toolbar .mce-btn-group .mce-btn.mce-disabled:focus,
#ljmc-fullscreen-buttons .mce-btn.mce-disabled:focus {
	color: #a0a5aa;
	background: none;
	border-color: #ddd;
	text-shadow: 0 1px 0 #faf9f1;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.mce-toolbar .mce-btn-group .mce-first,
.mce-toolbar .mce-btn-group .mce-last {
	border-color: transparent;
}

.mce-toolbar .mce-btn button,
.qt-dfw {
	padding: 2px 3px;
	line-height: normal;
}

.mce-toolbar .mce-btn i {
	text-shadow: none;
}

.mce-toolbar .mce-btn-group > div {
	white-space: normal;
}

.mce-toolbar .mce-colorbutton .mce-open {
	border-left: 0;
}

.mce-toolbar .mce-colorbutton .mce-preview {
	margin: 0;
	padding: 0;
	top: auto;
	bottom: 2px;
	right: 3px;
	height: 3px;
	width: 20px;
}

/* mce listbox */
.mce-toolbar .mce-btn-group .mce-btn.mce-listbox {
    -webkit-border-radius: 0;
    border-radius: 0;
    direction: rtl;
    background: #faf9f1;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 1px -1px rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 1px -1px rgba(0, 0, 0, .2);
}

.mce-toolbar .mce-btn-group .mce-btn.mce-listbox:hover {
    background-image: none;
    border-color: #b4b9be;
}

.mce-toolbar .mce-btn-group .mce-btn.mce-listbox span {
	font-size: 13px;
}

.mce-panel .mce-btn i.mce-caret {
	border-top: 6px solid #777;
	margin-right: 2px;
	margin-left: 2px;
}

.mce-listbox i.mce-caret {
	left: 6px;
}

.mce-panel .mce-btn button.mce-open i.mce-caret,
.mce-panel .mce-btn.mce-listbox i.mce-caret {
	margin-right: 0;
	margin-left: 0;
}

.mce-panel .mce-btn:hover i.mce-caret {
	border-top-color: #32373c;
}

.mce-panel .mce-active i.mce-caret {
	border-top: 0;
	border-bottom: 6px solid #32373c;
	margin-top: 7px;
}

.mce-listbox.mce-active i.mce-caret {
	margin-top: -3px;
}

.mce-toolbar .mce-splitbtn:hover .mce-open {
	border-left-color: transparent;
}

.mce-toolbar .mce-splitbtn .mce-open.mce-active{
	-webkit-box-shadow: none;
	box-shadow: none;
}

.mce-menu .mce-menu-item-normal.mce-active {
	background-color: #e5e5e5;
	-webkit-filter: none;
	filter: none;
}

.mce-menu .mce-menu-item:hover,
.mce-menu .mce-menu-item.mce-selected,
.mce-menu .mce-menu-item:focus {
	color: #000;
	background-color: #b4b9be;
	background-image: none;
	-webkit-filter: none;
	filter: none;
}

.mce-menu .mce-menu-item:hover .mce-ico,
.mce-menu .mce-menu-item.mce-selected .mce-ico,
.mce-menu .mce-menu-item:focus .mce-ico,
.mce-menu .mce-menu-item:hover .mce-text,
.mce-menu .mce-menu-item.mce-active:hover .mce-text,
.mce-menu .mce-menu-item.mce-selected .mce-text {
	color: #000;
}

/* Menubar */
.mce-menubar {
	border-color: #e5e5e5;
	background: #faf9f1;
	border-width: 0px 0px 1px;
}

.mce-menubar .mce-btn:focus {
	outline: 0;
}

div.mce-menu .mce-menu-item-sep,
.mce-menu-item-sep:hover {
	margin: 5px 0 4px;
}

.mce-menubtn span {
	margin-left: 0;
	padding-right: 3px;
}

.mce-menu-has-icons i.mce-ico:before {
	margin-right: -2px;
}

/* Buttons in modals */
.mce-primary button,
.mce-primary button i {
	text-align: center;
	color: #faf9f1;
	text-shadow: none;
	padding: 0;
	line-height: 26px;
}

.mce-window .mce-btn {
	color: #555;
	background: #f7f7f7;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: 1px solid #ccc;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-box-shadow: inset 0 1px 0 #faf9f1, 0 1px 0 rgba( 0, 0, 0, 0.08 );
	box-shadow: inset 0 1px 0 #faf9f1, 0 1px 0 rgba( 0, 0, 0, 0.08 );
	background-image: none;
}

/* Remove the dotted border on :focus and the extra padding in Firefox */
.mce-window .mce-btn::-moz-focus-inner {
	border-width: 1px 0;
	border-style: solid none;
	border-color: transparent;
	padding: 0;
}

.mce-window .mce-btn:hover,
.mce-window .mce-btn:focus {
	background: #fafafa;
	border-color: #999;
	color: #23282d;
}

.mce-window .mce-btn:focus {
	-webkit-box-shadow:
		0 0 0 1px #b0302d,
		0 0 2px 1px rgba( 30, 140, 190, 0.8 );
	box-shadow:
		0 0 0 1px #b0302d,
		0 0 2px 1px rgba( 30, 140, 190, 0.8 );
}

.mce-window .mce-btn:active {
	background: #eee;
	border-color: #999;
	color: #32373c;
	-webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
	box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
}

.mce-window .mce-btn.mce-disabled {
	color: #a0a5aa;
	border-color: #ddd;
	background: #f7f7f7;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: 0 1px 0 #faf9f1;
	cursor: default;
}

.mce-window .mce-btn.mce-primary {
	background: #00a0d2;
	border-color: #cf4240;
	-webkit-box-shadow: inset 0 1px 0 rgba( 120, 200, 230, 0.5), 0 1px 0 rgba( 0, 0, 0, 0.15 );
	box-shadow: inset 0 1px 0 rgba( 120, 200, 230, 0.5 ), 0 1px 0 rgba( 0, 0, 0, 0.15 );
	color: #faf9f1;
	text-decoration: none;
}

.mce-window .mce-btn.mce-primary:hover,
.mce-window .mce-btn.mce-primary:focus {
	background: #1e8cbe;
	border-color: #cf4240;
	-webkit-box-shadow: inset 0 1px 0 rgba( 120, 200, 230, 0.6 );
	box-shadow: inset 0 1px 0 rgba( 120, 200, 230, 0.6 );
	color: #faf9f1;
}

.mce-window .mce-btn.mce-primary:focus {
	border-color: #0e3950;
	-webkit-box-shadow:
		inset 0 1px 0 rgba( 120, 200, 230, 0.6 ),
		0 0 0 1px #b0302d,
		0 0 2px 1px rgba( 30, 140, 190, 0.8 );
	box-shadow:
		inset 0 1px 0 rgba( 120, 200, 230, 0.6 ),
		0 0 0 1px #b0302d,
		0 0 2px 1px rgba( 30, 140, 190, 0.8 );
}

.mce-window .mce-btn.mce-primary:active {
	background: #1b7aa6;
	border-color: #005684;
	color: rgba( 255, 255, 255, 0.95 );
	-webkit-box-shadow: inset 0 1px 0 rgba( 0, 0, 0, 0.1 );
	box-shadow: inset 0 1px 0 rgba( 0, 0, 0, 0.1 );
	vertical-align: top;
}

.mce-window .mce-btn.mce-primary.mce-disabled {
	color: #94cde7;
	background: #298cba;
	border-color: #1b607f;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: 0 -1px 0 rgba( 0, 0, 0, 0.1 );
	cursor: default;
}

.mce-menubtn.mce-fixed-width button span {
	max-width: 80px;
	padding-left: 16px;
}

/* Charmap modal */
.mce-charmap {
	margin: 3px;
}

.mce-charmap td {
	padding: 0;
	border-color: #dfdfdf;
	cursor: pointer;
}

.mce-charmap td:hover {
	background: #f3f3f3;
}

.mce-charmap td div {
	width: 18px;
	height: 22px;
	line-height: 22px;
}

/* TinyMCE tooltips */
.mce-tooltip {
	margin-top: 2px;
}

.mce-tooltip-inner {
	-webkit-box-shadow: 0 3px 5px rgba( 0, 0, 0, 0.2 );
	box-shadow: 0 3px 5px rgba( 0, 0, 0, 0.2 );
	color: #faf9f1;
	font-size: 12px;
}

/* TinyMCE icons */
.mce-ico {
	font-family: 'tinymce', Arial;
}

.mce-btn-small .mce-ico {
    font-family: 'tinymce-small', Arial;
}

.mce-toolbar .mce-ico {
	color: #777;
	line-height: 20px;
	width: 20px;
	height: 20px;
	text-align: center;
	text-shadow: none;
	margin: 0;
	padding: 0;
}

.qt-dfw {
	color: #777;
	line-height: 20px;
	width: 28px;
	height: 26px;
	text-align: center;
	text-shadow: none;
}

.mce-toolbar .mce-btn .mce-open {
	line-height: 20px;
}

.mce-toolbar .mce-btn:hover .mce-open,
.mce-toolbar .mce-btn:focus .mce-open,
.mce-toolbar .mce-btn.mce-active .mce-open {
	border-right-color: #999;
}

i.mce-i-bold,
i.mce-i-italic,
i.mce-i-bullist,
i.mce-i-numlist,
i.mce-i-blockquote,
i.mce-i-alignleft,
i.mce-i-aligncenter,
i.mce-i-alignright,
i.mce-i-link,
i.mce-i-unlink,
i.mce-i-ljmc_more,
i.mce-i-strikethrough,
i.mce-i-spellchecker,
i.mce-i-fullscreen,
i.mce-i-ljmc_fullscreen,
i.mce-i-dfw,
i.mce-i-ljmc_adv,
i.mce-i-underline,
i.mce-i-alignjustify,
i.mce-i-forecolor,
i.mce-i-backcolor,
i.mce-i-pastetext,
i.mce-i-pasteword,
i.mce-i-removeformat,
i.mce-i-charmap,
i.mce-i-outdent,
i.mce-i-indent,
i.mce-i-undo,
i.mce-i-redo,
i.mce-i-help,
i.mce-i-ljmc_help,
i.mce-i-ljmc-media-library,
i.mce-i-ltr,
i.mce-i-ljmc_page,
i.mce-i-hr,
i.mce-i-ljmc_code,
i.mce-i-dashicon,
.mce-close {
	font: normal 20px/1 'dashicons';
	padding: 0;
	vertical-align: top;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: -2px;
	padding-left: 2px;
}

.qt-dfw {
	font: normal 20px/1 'dashicons';
	vertical-align: top;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

i.mce-i-bold:before {
	content: '\f200';
}

i.mce-i-italic:before {
	content: '\f201';
}

i.mce-i-bullist:before {
	content: '\f203';
}

i.mce-i-numlist:before {
	content: '\f204';
}

i.mce-i-blockquote:before {
	content: '\f205';
}

i.mce-i-alignleft:before {
	content: '\f206';
}

i.mce-i-aligncenter:before {
	content: '\f207';
}

i.mce-i-alignright:before {
	content: '\f208';
}

i.mce-i-link:before {
	content: '\f103';
}

i.mce-i-unlink:before {
	content: '\f225';
}

i.mce-i-ljmc_more:before {
	content: '\f209';
}

i.mce-i-strikethrough:before {
	content: '\f224';
}

i.mce-i-spellchecker:before {
	content: '\f210';
}

i.mce-i-fullscreen:before,
i.mce-i-ljmc_fullscreen:before,
i.mce-i-dfw:before,
.qt-dfw:before {
	content: '\f211';
}

i.mce-i-ljmc_adv:before {
	content: '\f212';
}

i.mce-i-underline:before {
	content: '\f213';
}

i.mce-i-alignjustify:before {
	content: '\f214';
}

i.mce-i-forecolor:before,
i.mce-i-backcolor:before {
	content: '\f215';
}

i.mce-i-pastetext:before {
	content: '\f217';
}

i.mce-i-removeformat:before {
	content: '\f218';
}

i.mce-i-charmap:before {
	content: '\f220';
}

i.mce-i-outdent:before {
	content: '\f221';
}

i.mce-i-indent:before {
	content: '\f222';
}

i.mce-i-undo:before {
	content: '\f171';
}

i.mce-i-redo:before {
	content: '\f172';
}

i.mce-i-help:before,
i.mce-i-ljmc_help:before {
	content: '\f223';
}

i.mce-i-ljmc-media-library:before {
	content: '\f104';
}

i.mce-i-ltr:before {
	content: '\f320';
}

i.mce-i-ljmc_page:before {
	content: '\f105';
}

i.mce-i-hr:before {
	content: '\f460';
}

.mce-close:before {
	content: '\f158';
}

i.mce-i-ljmc_code:before {
	content: '\f475';
}

/* RTL button icons */
.rtl i.mce-i-outdent:before {
	content: '\f222';
}

.rtl i.mce-i-indent:before {
	content: '\f221';
}

/* Editors */
.ljmc-editor-wrap {
	position: relative;
}

.ljmc-editor-tools {
	position: relative;
	z-index: 1;
}

.ljmc-editor-tools:after {
	clear: both;
	content: '';
	display: table;
}

.ljmc-editor-container {
	clear: both;
}

.ljmc-editor-area {
	font-family: Consolas, Monaco, monospace;
	font-size: 13px;
	padding: 10px;
	margin: 1px 0 0;
	line-height: 150%;
	border: 0 none;
	outline: none;
	display: block;
	resize: vertical;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.rtl .ljmc-editor-area {
	font-family: Tahoma, Monaco, monospace;
}

.locale-he-il .ljmc-editor-area {
	font-family: Arial, Monaco, monospace;
}

.ljmc-editor-container textarea.ljmc-editor-area {
	width: 100%;
	margin: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ljmc-editor-tabs {
	float: left;
}

.ljmc-switch-editor {
	float: right;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	position: relative;
	top: 1px;
	background: #ebebeb;
	color: #777;
	cursor: pointer;
	font: 13px/19px "Open Sans", sans-serif;
	height: 20px;
	margin: 5px 5px 0 0;
	padding: 3px 8px 4px;
	border: 1px solid #e5e5e5;
}

.ljmc-switch-editor:focus {
	-webkit-box-shadow:
		0 0 0 1px #b0302d,
		0 0 2px 1px rgba(30, 140, 190, .8);
	box-shadow:
		0 0 0 1px #b0302d,
		0 0 2px 1px rgba(30, 140, 190, .8);
	outline: none;
	color: #23282d;
}

.ljmc-switch-editor:active,
.html-active .switch-html:focus,
.tmce-active .switch-tmce:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ljmc-switch-editor:active {
	background-color: #f5f5f5;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.js .tmce-active .ljmc-editor-area {
	color: white;
}

.tmce-active .quicktags-toolbar {
	 display: none;
}

.tmce-active .switch-tmce,
.html-active .switch-html {
	background: #f5f5f5;
	color: #555;
	border-bottom-color: #f5f5f5;
}

.ljmc-media-buttons {
	float: right;
}

.ljmc-media-buttons .button {
	margin-left: 5px;
	margin-bottom: 4px;
	padding-right: 7px;
	padding-left: 7px;
}

.ljmc-media-buttons .button:active {
	position: relative;
	top: 1px;
	margin-top: -1px;
	margin-bottom: 1px;
}

.ljmc-media-buttons .insert-media {
	padding-right: 5px;
}

.ljmc-media-buttons a {
	text-decoration: none;
	color: #464646;
	font-size: 12px;
}

.ljmc-media-buttons img {
	padding: 0 4px;
	vertical-align: middle;
}

.ljmc-media-buttons span.ljmc-media-buttons-icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: text-top;
	margin: 0 2px;
}

.ljmc-media-buttons .add_media span.ljmc-media-buttons-icon {
	background: none;
}

.ljmc-media-buttons .add_media span.ljmc-media-buttons-icon:before {
	font: normal 18px/1 'dashicons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ljmc-media-buttons .add_media span.ljmc-media-buttons-icon:before {
	content: '\f104';
}

/* Quicktags */
.quicktags-toolbar {
	padding: 3px;
	position: relative;
	border-bottom: 1px solid #dedede;
	background: #f5f5f5;
}

.has-dfw .quicktags-toolbar {
	padding-left: 35px;
}

.ljmc-core-ui .quicktags-toolbar input.button.button-small {
	margin: 2px;
}

.quicktags-toolbar input[value="link"] {
	text-decoration: underline;
}

.quicktags-toolbar input[value="del"] {
	text-decoration: line-through;
}

.quicktags-toolbar input[value="i"] {
	font-style: italic;
}

.quicktags-toolbar input[value="b"] {
	font-weight: bold;
}

.mce-toolbar .mce-btn-group .mce-btn.mce-ljmc-dfw,
.qt-dfw {
	position: absolute;
	top: 0;
	left: 0;
	margin: 5px 0 0 5px;
}

.qt-fullscreen {
	position: static;
	margin: 2px;
}

@media screen and ( max-width: 782px ) {
	.mce-toolbar .mce-btn button,
	.qt-dfw {
		padding: 6px 7px;
	}

	#ljmc-fullscreen-buttons .mce-btn,
	.mce-toolbar .mce-btn-group .mce-btn {
		margin: 1px;
	}

	.qt-dfw {
		width: 36px;
		height: 34px;
	}

	.mce-toolbar .mce-btn-group .mce-btn.mce-ljmc-dfw {
		margin: 4px 0 0 4px;
	}

	.mce-toolbar .mce-colorbutton .mce-preview {
		right: 8px;
		bottom: 6px;
	}

	.mce-window .mce-btn {
		padding: 2px 0;
	}

	.has-dfw div.mce-toolbar-grp .mce-toolbar.mce-first,
	.has-dfw .quicktags-toolbar {
		padding-left: 40px;
	}
}

@media screen and ( min-width: 782px ) {
	.ljmc-core-ui .quicktags-toolbar input.button.button-small {
		/* .button-small is normaly 11px, but a bit too small for these buttons. */
		font-size: 12px;
		height: 26px;
		line-height: 24px;
	}
}

#ljmc_editbtns,
#ljmc_gallerybtns {
	padding: 2px;
	position: absolute;
	display: none;
	z-index: 100020;
}

#ljmc_editimgbtn,
#ljmc_delimgbtn,
#ljmc_editgallery,
#ljmc_delgallery {
	border-color: #999;
	background-color: #eee;
	margin: 2px;
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#ljmc_editimgbtn:hover,
#ljmc_delimgbtn:hover,
#ljmc_editgallery:hover,
#ljmc_delgallery:hover {
	border-color: #555;
	background-color: #ccc;
}

/*------------------------------------------------------------------------------
 ljmc-link
------------------------------------------------------------------------------*/

#ljmc-link-wrap {
	display: none;
	background-color: #faf9f1;
	-webkit-box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
	box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
	width: 500px;
	overflow: hidden;
	margin-right: -250px;
	margin-top: -125px;
	position: fixed;
	top: 50%;
	right: 50%;
	z-index: 100105;
	-webkit-transition: height 0.2s, margin-top 0.2s;
	transition: height 0.2s, margin-top 0.2s;
}

#ljmc-link-backdrop {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	min-height: 360px;
	background: #000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	z-index: 100100;
}

#ljmc-link {
	position: relative;
	height: 100%;
}

#ljmc-link-wrap.search-panel-visible {
	height: 500px;
	margin-top: -250px;
}

#ljmc-link-wrap .ljmc-link-text-field {
	display: none;
}

#ljmc-link-wrap.has-text-field .ljmc-link-text-field {
	display: block;
}

#link-modal-title {
	background: #fcfcfc;
	border-bottom: 1px solid #dfdfdf;
	height: 36px;
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
	padding: 0 16px 0 36px;
	top: 0;
	left: 0;
	right: 0;
}

#ljmc-link-close {
	color: #666;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	text-align: center;
	background: none;
	border: none;
	cursor: pointer;
}

#ljmc-link-close:before {
	font: normal 20px/36px 'dashicons';
	vertical-align: top;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 36px;
	height: 36px;
	content: '\f158';
}

#ljmc-link-close:hover,
#ljmc-link-close:focus {
	color: #00a0d2;
}

#ljmc-link-close:focus {
	outline: none;
	-webkit-box-shadow:
		0 0 0 1px #b0302d,
		0 0 2px 1px rgba(30, 140, 190, .8);
	box-shadow:
		0 0 0 1px #b0302d,
		0 0 2px 1px rgba(30, 140, 190, .8);
}

#link-selector {
	padding: 0 16px 50px;
}

#ljmc-link-wrap.search-panel-visible #link-selector {
	-webkit-overflow-scrolling: touch;
	padding: 0 16px;
	position: absolute;
	top: 36px;
	right: 0;
	left: 0;
	bottom: 44px;
}

#ljmc-link ol,
#ljmc-link ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#ljmc-link-search-toggle:after {
	display: inline-block;
	font: normal 20px/1 'dashicons';
	vertical-align: top;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f140';
}

.search-panel-visible #ljmc-link-search-toggle:after {
	content: '\f142';
}

#ljmc-link input[type="text"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#ljmc-link #link-options {
	padding: 8px 0 12px;
}

#ljmc-link p.howto {
	margin: 3px 0;
}

#ljmc-link p.howto a {
	text-decoration: none;
	color: inherit;
}

#ljmc-link-search-toggle {
	cursor: pointer;
}

#ljmc-link label input[type="text"] {
	margin-top: 5px;
	width: 70%;
}

#ljmc-link #link-options label span,
#ljmc-link #search-panel label span.search-label {
	display: inline-block;
	width: 80px;
	text-align: left;
	padding-left: 5px;
	max-width: 24%;
}

#ljmc-link .link-search-field {
	float: right;
	width: 250px;
	max-width: 70%;
}

#ljmc-link .link-search-wrapper {
	margin: 5px 0 9px;
	display: block;
	overflow: hidden;
}

#ljmc-link .link-search-wrapper span {
	float: right;
	margin-top: 4px;
}

#ljmc-link .link-search-wrapper .spinner {
	margin-top: 5px;
}

#ljmc-link .link-target {
	padding: 3px 0 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#ljmc-link .link-target label {
	max-width: 70%;
}

#ljmc-link .query-results {
	border: 1px #dfdfdf solid;
	margin: 0;
	background: #faf9f1;
	overflow: auto;
	position: absolute;
	right: 16px;
	left: 16px;
	bottom: 16px;
	top: 172px;
}

.has-text-field #ljmc-link .query-results {
	top: 205px;
}

#ljmc-link li {
	clear: both;
	margin-bottom: 0;
	border-bottom: 1px solid #f1f1f1;
	color: #32373c;
	padding: 4px 10px 4px 6px;
	cursor: pointer;
	position: relative;
}

#ljmc-link .query-notice {
	padding: 0;
	border-bottom: 1px solid #dfdfdf;
	background-color: #f7fcfe;
	color: #000;
}

#ljmc-link .query-notice .query-notice-default,
#ljmc-link .query-notice .query-notice-hint {
	display: block;
	padding: 6px;
	border-right: 4px solid #00a0d2;
}

#ljmc-link .unselectable.no-matches-found {
	padding: 0;
	border-bottom: 1px solid #dfdfdf;
	background-color: #fef7f1;
}

#ljmc-link .no-matches-found .item-title {
	display: block;
	padding: 6px;
	border-right: 4px solid #d54e21;
}

#ljmc-link .query-results em {
	font-style: normal;
}

#ljmc-link li:hover {
	background: #eaf2fa;
	color: #151515;
}

#ljmc-link li.unselectable {
	border-bottom: 1px solid #dfdfdf;
}

#ljmc-link li.unselectable:hover {
	background: #faf9f1;
	cursor: auto;
	color: #32373c;
}

#ljmc-link li.selected {
	background: #ddd;
	color: #32373c;
}

#ljmc-link li.selected .item-title {
	font-weight: bold;
}

#ljmc-link li:last-child {
	border: none;
}

#ljmc-link .item-title {
	display: inline-block;
	width: 80%;
	width: -webkit-calc(100% - 68px);
	width: calc(100% - 68px);
	word-wrap: break-word;
}

#ljmc-link .item-info {
	text-transform: uppercase;
	color: #666;
	font-size: 11px;
	position: absolute;
	left: 5px;
	top: 5px;
}

#ljmc-link #search-results,
#ljmc-link #search-panel {
	display: none;
}

#ljmc-link-wrap.search-panel-visible #search-panel {
	display: block;
}

#ljmc-link .river-waiting {
	display: none;
	padding: 10px 0;
}

#ljmc-link .submitbox {
	padding: 8px 16px;
	background: #fcfcfc;
	border-top: 1px solid #dfdfdf;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

#ljmc-link-cancel {
	line-height: 25px;
	float: right;
}

#ljmc-link-update {
	line-height: 23px;
	float: left;
}

#ljmc-link-submit {
	float: left;
	margin-bottom: 0;
}

@media screen and ( max-width: 782px ) {
	#ljmc-link-wrap {
		margin-top: -140px;
	}

	#ljmc-link-wrap.search-panel-visible .query-results {
		top: 195px;
	}

	#ljmc-link-wrap.search-panel-visible.has-text-field .query-results {
		top: 235px;
	}

	#link-selector {
		padding: 0 16px 60px;
	}

	#ljmc-link-wrap.search-panel-visible #link-selector {
		bottom: 52px;
	}

	#ljmc-link-cancel {
		line-height: 32px;
	}
}

@media screen and ( max-width: 520px ) {
	#ljmc-link-wrap {
		width: auto;
		margin-right: 0;
		right: 10px;
		left: 10px;
		max-width: 500px;
	}
}

@media screen and ( max-height: 520px ) {
	#ljmc-link-wrap {
		-webkit-transition: none;
		transition: none;
	}

	#ljmc-link-wrap.search-panel-visible {
		height: auto;
		margin-top: 0;
		top: 10px;
		bottom: 10px;
	}

	.search-panel-visible #link-selector {
		overflow: auto;
	}

	.search-panel-visible #search-panel .query-results {
		position: static;
	}
}

@media screen and ( max-height: 290px ) {
	#ljmc-link-wrap {
		height: auto;
		margin-top: 0;
		top: 10px;
		bottom: 10px;
	}

	#link-selector {
		overflow: auto;
		height: -webkit-calc(100% - 92px);
		height: calc(100% - 92px);
		padding-bottom: 2px;
	}

	#search-panel .query-results {
		position: static;
	}
}

/* Old TinyMCE 3.x modal */
/*
.clearlooks2 .mceTop {
	border-bottom: 1px solid #ccc;
}

.clearlooks2 .mceTop span {
	font: 13px/24px "Open Sans", sans-serif;
	color: #e5e5e5;
}

.clearlooks2 .mceTop .mceLeft {
	background: #444444;
	border-color: transparent;
}

.clearlooks2 .mceTop .mceRight {
	background: #444444;
	border-color: transparent;
}

.clearlooks2 .mceMiddle {
	clip: rect(24px auto auto auto);
}

.clearlooks2 .mceMiddle .mceLeft {
	background: #f1f1f1;
	border-color: transparent;
}

.clearlooks2 .mceMiddle .mceRight {
	background: #f1f1f1;
	border-color: transparent;
}

.clearlooks2 .mceBottom {
	background: #f1f1f1;
	border-color: transparent;
}

.clearlooks2 .mceBottom .mceLeft {
	background: #f1f1f1;
	border-color: transparent;
}

.clearlooks2 .mceBottom .mceCenter {
	background: #f1f1f1;
	border-color: transparent;
}

.clearlooks2 .mceBottom .mceRight {
	background: #f1f1f1;
	border-color: transparent;
}

.clearlooks2 .mceClose,
.clearlooks2 .mceFocus .mceClose,
.clearlooks2 .mceFocus .mceClose:hover {
	background-image: none;
}
.clearlooks2 .mceClose:before {
	content: '\f158';
	font: normal 20px/1 'dashicons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #999;
	padding-left: 12px;
}

/* from colors.css
.clearlooks2 {
	box-shadow: 0 5px 15px rgba(0,0,0,0.7);
}

.clearlooks2 .mceMiddle span,
.clearlooks2 .mceMiddle .mceLeft,
.clearlooks2 .mceMiddle .mceRight,
.clearlooks2 .mceBottom,
.clearlooks2 .mceBottom .mceLeft,
.clearlooks2 .mceBottom .mceCenter,
.clearlooks2 .mceBottom .mceRight {
	background-color: #fcfcfc;
}

.clearlooks2 .mceTop span,
.clearlooks2 .mceFocus .mceTop span {
	color: #23282d;
}

.clearlooks2 .mceClose:before {
	color: #999;
}

.clearlooks2 .mceClose:hover:before {
	color: #00a0d2;
}
*/
/* Distraction-Free Writing mode
 * =Overlay Styles
-------------------------------------------------------------- */
.fullscreen-overlay {
	z-index: 100005;
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	-webkit-filter: inherit;
	filter: inherit;
}

.ljmc-fullscreen-active .fullscreen-overlay,
.ljmc-fullscreen-active #ljmc-fullscreen-body {
	display: block;
}

.fullscreen-fader {
	z-index: 200000;
}

.ljmc-fullscreen-active .fullscreen-fader,
.ljmc-core-ui.ljmc-fullscreen-active .postbox-container {
	display: none;
}

/* =Overlay Body
-------------------------------------------------------------- */

#ljmc-fullscreen-body,
.mce-fullscreen {
	z-index: 100010;
}

#ljmc-fullscreen-body {
	display: none;
}

.ljmc-fullscreen-wrap {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 30px;
	top: 60px;
	z-index: 100015;
}

.ljmc-fullscreen-wrap .ljmc-editor-container,
.ljmc-fullscreen-title,
#ljmc-fullscreen-central-toolbar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
}

.ljmc-fullscreen-active .ljmc-editor-tools,
.ljmc-fullscreen-active .quicktags-toolbar,
.ljmc-fullscreen-active .mce-toolbar-grp,
.ljmc-fullscreen-active .mce-statusbar {
	display: none;
}

#ljmc-fullscreen-statusbar {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	height: 30px;
	z-index: 100020;
	background: #faf9f1;
	-webkit-transition: height 0.2s;
	transition: height 0.2s;
}

#ljmc-fullscreen-status {
	margin: 0 auto;
	padding: 0;
}

.ljmc-fullscreen-active .ljmc-fullscreen-title,
.ljmc-fullscreen-active .ljmc-fullscreen-title:focus,
.ljmc-fullscreen-active .ljmc-editor-container {
	-webkit-border-radius: 0;
	border-radius: 0;
	border: 1px dashed transparent;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color 0.4s;
	transition: border-color 0.4s;
}

.ljmc-fullscreen-active .ljmc-editor-container {
	margin: 0 auto 40px;
}

.ljmc-fullscreen-active .ljmc-fullscreen-title {
	font-size: 1.7em;
	line-height: 100%;
	outline: medium none;
	padding: 3px 7px;
	margin: 10px auto 30px;
	display: block;
}

#ljmc-fullscreen-tagline {
	color: #82878c;
	font-size: 18px;
	float: left;
	padding: 4px 0 0;
}

/* =Top bar
-------------------------------------------------------------- */
#fullscreen-topbar {
	background: #f5f5f5;
	border-bottom: 1px solid #dedede;
	height: 45px;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100020;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

#ljmc-fullscreen-toolbar {
	padding: 6px 10px 0;
	clear: both;
	max-width: 1100px;
	margin: 0 auto;
}

#ljmc-fullscreen-mode-bar,
#ljmc-fullscreen-button-bar,
#ljmc-fullscreen-close {
	float: right;
}

#ljmc-fullscreen-count,
#ljmc-fullscreen-tagline {
	display: inline-block;
}

#ljmc-fullscreen-button-bar {
	margin-top: 2px;
}

#ljmc-fullscreen-save {
	float: left;
	padding: 2px 0 0;
	min-width: 95px;
}

#ljmc-fullscreen-count,
#ljmc-fullscreen-close {
	padding: 5px 0 0;
}

#ljmc-fullscreen-central-toolbar {
	margin: auto;
	padding: 0;
	min-width: 620px;
}

#ljmc-fullscreen-buttons > div {
	float: right;
}

#ljmc-fullscreen-mode-bar {
	padding: 3px 0 0 14px;
}

#ljmc-fullscreen-buttons .hidden {
	display: none;
}

#ljmc-fullscreen-buttons .disabled {
	opacity: 0.5;
}

#ljmc-fullscreen-buttons .mce-btn button {
    margin: 0;
    outline: 0 none;
    border: 0 none;
    white-space: nowrap;
    width: auto;
    background: none;
	color: #32373c;
    cursor: pointer;
    font-size: 18px;
    line-height: 20px;
    overflow: visible;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ljmc-html-mode #ljmc-fullscreen-buttons div {
	display: none;
}

.ljmc-html-mode #ljmc-fullscreen-buttons div.ljmc-fullscreen-both {
	display: block;
}

#ljmc-fullscreen-save img {
	vertical-align: middle;
}

#ljmc-fullscreen-save span {
	display: none;
	margin: 5px 6px 0;
	float: right;
}

/* =Thickbox Adjustments
-------------------------------------------------------------- */
.ljmc-fullscreen-active #TB_overlay {
	z-index: 100050;
}

.ljmc-fullscreen-active #TB_window {
	z-index: 100051;
}

/* Colors */
.fullscreen-overlay {
	background: #faf9f1;
}

/* =CSS 3 transitions
-------------------------------------------------------------- */

.ljmc-fullscreen-active #fullscreen-topbar {
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
	opacity: 0;
	filter: alpha(opacity=0);
}

.ljmc-fullscreen-active #ljmc-fullscreen-statusbar {
	height: 0;
}

.ljmc-fullscreen-active.ljmc-dfw-show-ui #fullscreen-topbar {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	opacity: 1;
	filter: alpha(opacity=100);
}

.ljmc-fullscreen-active.ljmc-dfw-show-ui #ljmc-fullscreen-statusbar {
	height: 29px;
	background: #f8f8f8;
	border-top: 1px solid #eee;
}

.ljmc-fullscreen-active .ljmc-fullscreen-title,
.ljmc-fullscreen-active .ljmc-editor-container {
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
	border-color: transparent;
}

.ljmc-fullscreen-active.ljmc-dfw-show-ui .ljmc-fullscreen-title,
.ljmc-fullscreen-active.ljmc-dfw-show-ui .ljmc-editor-container {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-color: #ccc;
}

.fade-1000,
.fade-600,
.fade-400,
.fade-300 {
	opacity: 0;
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

.fade-1000 {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.fade-600 {
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

.fade-400 {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.fade-300 {
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.fade-trigger {
	opacity: 1;
}

/* DFW on touch screen devices */
.ljmc-dfw-touch #fullscreen-topbar {
	position: absolute;
	opacity: 1;
}

.ljmc-dfw-touch .ljmc-fullscreen-wrap .ljmc-editor-container,
.ljmc-dfw-touch .ljmc-fullscreen-title {
	max-width: 700px;
}

.ljmc-fullscreen-active.ljmc-dfw-touch  .ljmc-fullscreen-title,
.ljmc-fullscreen-active.ljmc-dfw-touch .ljmc-editor-container {
	border-color: #ccc;
}

.ljmc-dfw-touch #ljmc-fullscreen-statusbar {
	height: 30px;
}

@media screen and ( max-width: 782px ) {
	#ljmc-fullscreen-close,
	#ljmc-fullscreen-central-toolbar,
	#ljmc-fullscreen-mode-bar,
	#ljmc-fullscreen-button-bar,
	#ljmc-fullscreen-save {
		display: inline-block;
	}

	#fullscreen-topbar {
		height: 85px;
	}

	#ljmc-fullscreen-central-toolbar {
		width: auto !important;
		min-width: 0;
	}

	#ljmc-fullscreen-close {
		line-height: 30px;
		vertical-align: top;
		padding: 0 12px;
	}

	#ljmc-fullscreen-button-bar {
		position: absolute;
		top: 45px;
		right: 0;
	}

	.ljmc-fullscreen-wrap {
		top: 95px;
	}

	#ljmc-fullscreen-save {
		position: absolute;
		left: 10px;
	}
}

@media screen and ( max-width: 480px ) {
	#ljmc_fs_help {
		display: none;
	}

	.ljmc-fullscreen-wrap .ljmc-editor-container,
	.ljmc-fullscreen-title {
		width: 480px !important;
	}

	body.ljmc-fullscreen-active {
		width: 480px;
		overflow: auto;
	}

	#fullscreen-topbar,
	.ljmc-fullscreen-wrap {
		width: 480px;
	}

	#fullscreen-topbar {
		position: absolute;
	}

	#ljmc-fullscreen-status {
		width: auto !important;
		max-width: 100%;
		padding: 0 10px;
	}
}

/* =Localization
-------------------------------------------------------------- */
.rtl .ljmc-switch-editor,
.rtl .quicktags-toolbar input {
	font-family: Tahoma, sans-serif;
}

/* rtl:ignore */
.mce-rtl .mce-flow-layout .mce-flow-layout-item > div {
	direction: rtl;
}

/* rtl:ignore */
.mce-rtl .mce-listbox i.mce-caret {
	left: 6px;
}

html:lang(he-il) .rtl .ljmc-switch-editor,
html:lang(he-il) .rtl .quicktags-toolbar input  {
 	font-family: Arial, sans-serif;
}

/* HiDPI */
@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
	.ljmc-media-buttons .add_media span.ljmc-media-buttons-icon,
	#ljmc-fullscreen-buttons #ljmc_fs_image span.mce_image {
		background: none;
	}
}
