/*------------------------------------------------------------------------------
 Interim login dialog
------------------------------------------------------------------------------*/

#ljmc-auth-check-wrap.hidden {
	display: none;
}

#ljmc-auth-check-wrap #ljmc-auth-check-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	z-index: 1000010; /* needs to appear above .notification-dialog */
}

#ljmc-auth-check-wrap #ljmc-auth-check {
	position: fixed;
	left: 50%;
	overflow: hidden;
	top: 40px;
	bottom: 20px;
	max-height: 415px;
	width: 380px;
	margin: 0 0 0 -190px;
	padding: 30px 0 0;
	background-color: #f1f1f1;
	z-index: 1000011; /* needs to appear above #ljmc-auth-check-bg */
	-webkit-box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
	box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
}

@media screen and ( max-width: 380px ) {
	#ljmc-auth-check-wrap #ljmc-auth-check {
		left: 0;
		width: 100%;
		margin: 0;
	}
}

#ljmc-auth-check-wrap.fallback #ljmc-auth-check {
	max-height: 180px;
	overflow: auto;
}

#ljmc-auth-check-wrap #ljmc-auth-check-form {
	background: url(../images/spinner-2x.gif) no-repeat center center;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#ljmc-auth-check-wrap #ljmc-auth-check-form iframe {
	height: 98%; /* Scrollbar fix */
	width: 100%;
}

#ljmc-auth-check-wrap .ljmc-auth-check-close {
	position: absolute;
	top: 8px;
	right: 8px;
	height: 22px;
	width: 22px;
	cursor: pointer;
}

#ljmc-auth-check-wrap .ljmc-auth-check-close:before {
	content: '\f158';
	display: block !important;
	font: normal 20px/1 'dashicons';
	speak: none;
	height: 22px;
	margin: 2px 0;
	text-align: center;
	width: 22px;
	color: #777;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
}

#ljmc-auth-check-wrap .ljmc-auth-check-close:hover:before {
	color: #cf4240;
}

#ljmc-auth-check-wrap .ljmc-auth-check-close:focus {
	outline: 1px dotted #82878c;
}

#ljmc-auth-check-wrap .ljmc-auth-fallback-expired {
	outline: 0;
}

#ljmc-auth-check-wrap .ljmc-auth-fallback {
	font-size: 14px;
	line-height: 21px;
	padding: 0 25px;
	display: none;
}

#ljmc-auth-check-wrap.fallback .ljmc-auth-fallback,
#ljmc-auth-check-wrap.fallback .ljmc-auth-check-close {
	display: block;
}
