.ljmcseo-score-icon {
	display: inline-block !important;
	float: left;
	width: 12px !important;
	height: 12px !important;
	margin: 10px 10px 0 4px !important;
	border-radius: 50% !important;
	background-color: #999;
}

.ljmcseo-score-icon.good {
	background-color: #7ad03a;
}

.ljmcseo-score-icon.ok {
	background-color: #ffba00;
}

.ljmcseo-score-icon.poor {
	background-color: #ee7c1b;
}

.ljmcseo-score-icon.bad {
	background-color: #dd3d36;
}

.ljmcseo-score-icon.na {
	background-color: #999;
}

.ljmcseo-score-icon.noindex {
	background-color: #1e8cbe;
}

#ljmc-admin-bar-ljmcseo-menu:hover .ljmcseo-score-icon {
	background-color: #2ea2cc;
}
