.ljmcseo-score-icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 3px 10px 0 3px;
	border-radius: 50%;
	background: #888;
	vertical-align: top;
}

.ljmcseo-score-icon.good {
	background-color: #7ad03a;
}

.ljmcseo-score-icon.ok {
	background-color: #ffba00;
}

.ljmcseo-score-icon.poor {
	background-color: #ee7c1b;
}

.ljmcseo-score-icon.bad {
	background-color: #dd3d36;
}

.ljmcseo-score-icon.na {
	background-color: #888;
}

.ljmcseo-score-icon.noindex {
	background-color: #1e8cbe;
}

#ljmcseo-dashboard-overview th {
	font-weight: 400;
	text-align: left;
}

#ljmcseo-dashboard-overview th:after {
	color: #0073aa;
	/* &raquo; */
	content: "\bb";
}

#ljmcseo-dashboard-overview .post-count {
	padding: 0 0 0 10px;
	text-align: right;
}
