.ljmcseo-score-icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-left: 6px;
	border-radius: 50%;
	background: #888;
	line-height: 16px;
}

.ljmcseo-score-icon.good {
	background-color: #7ad03a;
}

.ljmcseo-score-icon.ok {
	background-color: #ffba00;
}

.ljmcseo-score-icon.poor {
	background-color: #ee7c1b;
}

.ljmcseo-score-icon.bad {
	background-color: #dd3d36;
}

.ljmcseo-score-icon.na {
	background-color: #888;
}

.ljmcseo-score-icon.noindex {
	background-color: #1e8cbe;
}

th#ljmcseo-score {
	width: 63px;
}

@media screen and ( max-width: 782px ) {
	.column-ljmcseo-title,
	.column-ljmcseo-score,
	.column-ljmcseo-metadesc,
	.column-ljmcseo-focuskw {
		display: none;
	}
}
