/**
 * RTL support
 */

p.desc {
	padding: 0 22px 8px 0;
}

p.desc.label {
	padding: 2px 180px 10px 0;
}

div.yoastbox ul {
	margin-right: 20px;
	margin-left: auto;
}

.postbox {
	margin: 10px 0 0 10px;
}

label {
	float: right;
	margin-right: 6px;
	margin-left: auto;
}

input.textinput,
textarea.textinput,
select.select,
input.checkbox {
	float: right;
	margin: 12px 0 0 3px;
}

label.radio {
	margin-left: auto;
}

table.yoast_help th,
table.yoast_help td {
	text-align: right;
}

.button.fixit {
	float: left;
}

pre {
	direction: ltr;
}

#pointer-primary {
	margin: 0 0 0 5px;
}

.ljmcseo-heading {
	padding-right: 10px;
	padding-left: 0;
}

table.ljmcseoanalysis th {
	text-align: right;
}

table.ljmcseoanalysis td.score {
	padding-right: 10px;
	padding-left: 0;
}
