/**
 * Metabox Tabs
 */

ul.ljmcseo-metabox-tabs li.active {
	background-color: #eff8ff;
}

ul.ljmcseo-metabox-tabs li.active,
div.ljmcseo-tab-content {
	border-color: #d1e5ee;
}

.ljmcseo-metabox-tabs .active a {
	color: #333;
}

#ljmcseotab .ui-widget-content .ui-state-hover {
	border: 1px solid #d1e5ee;
	color: #333;
	background: #eff8ff;
}
