/**
 * Metabox Tabs
 */

ul.ljmcseo-metabox-tabs li.active {
	background-color: #f1f1f1;
}

ul.ljmcseo-metabox-tabs li.active,
div.ljmcseo-tab-content {
	border-color: #dfdfdf;
	background-color: #fff;
}

.ljmcseo-metabox-tabs .active a {
	color: #333;
}

#ljmcseotab .ui-widget-content .ui-state-hover {
	border: 1px solid #dfdfdf;
	color: #333;
	background: #f1f1f1;
}
