h4 {
	clear: both;
	margin: 2em 0 0 0;
}

p.desc {
	margin: 6px 0 10px 0;
	padding: 0 0 8px 25px;
}

p.desc.label {
	margin-bottom: 20px;
	padding: 2px 0 10px 185px;
}

tr.yst_row {
	margin: 5px 0 0 0;
	padding: 5px 0 0 0;
}

tr.yst_row.even {
	background-color: #f6f6f6;
}

div.yoastbox ul {
	margin-left: 20px;
}

.postbox {
	margin: 10px 10px 0 0;
}

label {
	float: left;
	margin-left: 6px;
}

label.radio {
	float: none;
}

input.textinput,
textarea,
select {
	width: 400px;
}

input.checkbox + label.checkbox {
	width: auto;
}

input.textinput,
textarea.textinput,
select.select,
input.checkbox {
	float: left;
	margin: 5px 3px 5px 0;
	padding: 5px;
}

select.select {
	padding: 3px;
}

input.checkbox.double {
	margin: 5px 10px 0 0;
}

.textinput.metadesc {
	height: 50px;
}

textarea.import {
	width: 500px;
	height: 100px;
}

label.textinput,
label.select,
label.checkbox {
	width: 180px;
	margin: 5px 0 5px 0;
	background-color: transparent;
}

table.ljmcseo th {
	text-align: left;
}

label.radio {
	margin-right: 20px;
}

.ljmcseo_content_wrapper {
	display: table;
	width: 100%;
}

.ljmcseo_content_cell {
	display: table-cell;
	height: 500px;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

#ljmcseo_content_top {
	min-width: 800px;
}

div.ljmcseo_variable_warning {
	margin: 5px 0 0 0;
	padding: 5px;
	color: red;
}

input.ljmcseo_variable_warning,
textarea.ljmcseo_variable_warning {
	border: 1px solid red;
}

.ljmcseo_variable_warning a {
	color: red;
}

.ljmcseo_content_wrapper div.ljmcseo-warning {
	margin: 2em 0 0 0;
	padding-right: 10px;
	padding-left: 10px;
	border: 2px solid red;
	background-color: #dedede;
}

.ljmcseo_content_wrapper div.ljmcseo-warning h4 {
	margin: 1em 0 0 0;
}

.ljmcseo_content_wrapper div.ljmcseo-warning p.error-message {
	font-weight: normal;
}

#sidebar-container {
	width: 261px;
	padding: 0 0 0 20px;
}

@media (max-width: 1020px) {
	#ljmcseo_content_top {
		margin-left: 0;
		padding-left: 0;
	}
}

.ljmcseo-admin-page .form-table tr,
.ljmcseo-admin-page .form-table th,
.ljmcseo-admin-page .form-table td {
	vertical-align: top;
}

.postbox form {
	line-height: 150%;
}

div.yoastbox ul li {
	font-size: 11px;
	line-height: 16px;
	list-style: square;
}

div.yoastbox a {
	font-family: sans-serif;
	font-size: 12px;
}

div.yoastbox a:hover {
	text-decoration: underline;
}

.text {
	width: 250px;
}

div.yoastbox .button:hover,
div.yoastbox .button-primary:hover {
	text-decoration: none;
}

/*.button, .button-primary {*/
/*margin-top: 10px;*/
/*}*/

table.yoast_help,
table.yoast_help th,
table.yoast_help td {
	border: 1px solid #ddd;
	border-collapse: collapse;
	font-size: 12px;
}

table.yoast_help th,
table.yoast_help td {
	padding: 5px 10px;
	text-align: left;
	vertical-align: text-top;
}

table.yoast_help tr:nth-child(2n) {
	background-color: #fbfbfe;
}

table.yoast_help tr:hover {
	background-color: #ddd;
}

.correct {
	padding: 5px;
	color: white;
	background-color: green;
}

.wrong {
	padding: 5px;
	color: white;
	background-color: red;
}

.wrong code {
	padding: 3px 8px;
	color: #000;
}

.button.fixit {
	float: right;
	margin: 0 5px;
}

.button.checkit {
	float: right;
	margin: 0 5px;
	padding: 5px 8px;
}

.fb-buttons .button-primary,
.fb-buttons .button {
	margin-right: 8px;
}

.button {
	color: #000 !important;
}

.button#submit {
	color: #fff !important;
}

.postbox#donate {
	border: 2px green;
}

.ljmcseotab {
	display: none;
	margin-top: 15px;
}

.ljmcseotab.active {
	display: block;
}

.ljmcseotab strong {
	font-size: 115%;
}

#sidebar .yoastbox {
	margin: 0 0 10px 0;
	padding: 10px 15px;
	border: 1px solid #ccc;
	border-radius: 5px 25px;
}

#sidebar .yoastbox h2 {
	font-size: 16px;
}

#sidebar .promo {
	color: #000;
}

#donate.yoastbox,
#sitereview.yoastbox {
	border-color: green;
	background-color: #cfc;
}

h2 {
	margin-bottom: 20px;
}

h2 code {
	font-size: 23px;
}

#ljmcseo-conf {
	/*max-width: 600px;*/
	;
}

#pointer-primary {
	margin: 0 5px 0 0;
}

#ljmcseo-debug-info {
	clear: both;
}

#ljmcseo-debug-info .hndle {
	cursor: auto;
}

#ljmcseo-debug-info h3 span:last-child {
	padding-left: 16px;
}

#ljmcseo-debug-info .ljmcseo-debug {
	display: inline-block;
	padding-left: 20px;
	color: #c00;
}

input.ljmcseo-new-title,
textarea.ljmcseo-new-metadesc {
	width: 100%;
	max-width: 100%;
}

.ljmcseotab .extension {
	float: left;
	box-sizing: border-box;
	width: 300px;
	height: 230px;
	margin: 10px 20px 10px 0;
	border: 1px solid #ccc;
}

.ljmcseotab .extension p {
	margin: 0;
	padding: 10px;
}

.ljmcseotab .extension h3 {
	box-sizing: border-box;
	height: 110px;
	margin: 0;
	padding: 20px 10px 0 120px;
	border-bottom: 1px solid #ccc;
	background: #fff no-repeat left 10px;
	background-size: 130px 100px;
}

.ljmcseotab .extension a {
	text-decoration: none;
}

.ljmcseotab .extension button.installed {
	border-color: #00a000;
	background-color: #00a000;
	cursor: default;
}

.ljmcseotab .seo-premium h3 {
	background-image: url(../images/Premium_130x100.png);
}

.ljmcseotab .video-seo h3 {
	background-image: url(../images/Video_130x100.png);
}

.ljmcseotab .local-seo h3 {
	background-image: url(../images/Local_130x100.png);
}

.ljmcseotab .woocommerce-seo h3 {
	background-image: url(../images/Woo_130x100.png);
}

.ljmcseotab .news-seo h3 {
	background-image: url(../images/News_SEO.png);
	background-size: 115px 100px;
}

div#separator {
	clear: right;
	margin: 0 0 0 25px;
}

div#separator input.radio {
	display: none;
	float: left;
	width: 0 !important;
	min-width: 0 !important;
	opacity: 0;
}

div#separator input.radio + label {
	float: left;
	width: 30px !important;
	margin: 3px 3px 0 0;
	padding: 5px 8px;
	border: 1px solid #ccc;
	/* Don't change: these mimic Google's font and font size for titles */
	font-family: Arial,Helvetica,sans-serif !important;
	font-size: 18px !important;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
}

div#separator input.radio:checked + label {
	border: 1px solid green;
	background-color: #fff;
	box-shadow: 1px 1px 1px green;
}

.feature-section .dashicons {
	font-size: 600%;
}

.nav-tab .dashicons {
	width: 18px;
	height: 18px;
	font-size: 18px;
	line-height: 24px;
}

#TB_window .ljmcseo_content_wrapper p {
	font-size: 14px;
	font-style: normal;
}

#TB_window .ljmcseo_content_wrapper label {
	margin: 0 10px 0 0;
	font-size: 14px;
	font-weight: bold;
}
