
@import 'variables';
@import 'mixins';


html {
	background: $body-background;
}


/* Links */

a {
	color: $link;

	&:hover,
	&:active,
	&:focus {
		color: $link-focus;
	}
}

#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover {
	color: $link-focus;
}


/* Forms */

input[type=checkbox]:checked:before {
	color: $form-checked;
}

input[type=radio]:checked:before {
	background: $form-checked;
}

.ljmc-core-ui input[type="reset"]:hover,
.ljmc-core-ui input[type="reset"]:active {
	color: $link-focus;
}


/* Core UI */

.ljmc-core-ui {
	.button-primary {
		@include button( $button-color );
	}

	.ljmc-ui-primary {
		color: $text-color;
		background-color: $base-color;
	}
	.ljmc-ui-text-primary {
		color: $base-color;
	}

	.ljmc-ui-highlight {
		color: $menu-highlight-text;
		background-color: $menu-highlight-background;
	}
	.ljmc-ui-text-highlight {
		color: $menu-highlight-background;
	}

	.ljmc-ui-notification {
		color: $menu-bubble-text;
		background-color: $menu-bubble-background;
	}
	.ljmc-ui-text-notification {
		color: $menu-bubble-background;
	}

	.ljmc-ui-text-icon {
		color: $menu-icon;
	}
}


/* List tables */

.wrap .add-new-h2:hover,
#add-new-comment a:hover,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
	color: $menu-text;
	background-color: $menu-background;
}

.view-switch a.current:before {
	color: $menu-background;
}

.view-switch a:hover:before {
	color: $menu-bubble-background;
}

.post-com-count:hover:after {
	border-top-color: $menu-background;
}
.post-com-count:hover span {
	color: $menu-text;
	background-color: $menu-background;
}

strong .post-com-count:after {
	border-top-color: $menu-bubble-background;
}
strong .post-com-count span {
	background-color: $menu-bubble-background;
}


/* Admin Menu */

#adminmenuback,
#adminmenuwrap,
#adminmenu {
	background: $menu-background;
}

#adminmenu a {
	color: $menu-text;
}

#adminmenu div.ljmc-menu-image:before {
	color: $menu-icon;
}

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
	color: $menu-highlight-text;
	background-color: $menu-highlight-background;
}

#adminmenu li.menu-top:hover div.ljmc-menu-image:before,
#adminmenu li.opensub > a.menu-top div.ljmc-menu-image:before {
	color: $menu-highlight-icon;
}


/* Active tabs use a bottom border color that matches the page background color. */

.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
	background-color: $body-background;
	border-bottom-color: $body-background;
}


/* Admin Menu: submenu */

#adminmenu .ljmc-submenu,
#adminmenu .ljmc-has-current-submenu .ljmc-submenu,
#adminmenu .ljmc-has-current-submenu.opensub .ljmc-submenu,
.folded #adminmenu .ljmc-has-current-submenu .ljmc-submenu,
#adminmenu a.ljmc-has-current-submenu:focus + .ljmc-submenu {
	background: $menu-submenu-background;
}

#adminmenu li.ljmc-has-submenu.ljmc-not-current-submenu.opensub:hover:after {
	border-right-color: $menu-submenu-background;
}

#adminmenu .ljmc-submenu .ljmc-submenu-head {
	color: $menu-submenu-text;
}

#adminmenu .ljmc-submenu a,
#adminmenu .ljmc-has-current-submenu .ljmc-submenu a,
.folded #adminmenu .ljmc-has-current-submenu .ljmc-submenu a,
#adminmenu a.ljmc-has-current-submenu:focus + .ljmc-submenu a,
#adminmenu .ljmc-has-current-submenu.opensub .ljmc-submenu a {
	color: $menu-submenu-text;

	&:focus, &:hover {
		color: $menu-submenu-focus-text;
	}
}


/* Admin Menu: current */

#adminmenu .ljmc-submenu li.current a,
#adminmenu a.ljmc-has-current-submenu:focus + .ljmc-submenu li.current a,
#adminmenu .ljmc-has-current-submenu.opensub .ljmc-submenu li.current a {
	color: $menu-submenu-current-text;

	&:hover, &:focus {
		color: $menu-submenu-focus-text;
	}
}

ul#adminmenu a.ljmc-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
    border-right-color: $body-background;
}

#adminmenu li.current a.menu-top,
#adminmenu li.ljmc-has-current-submenu a.ljmc-has-current-submenu,
#adminmenu li.ljmc-has-current-submenu .ljmc-submenu .ljmc-submenu-head,
.folded #adminmenu li.current.menu-top {
	color: $menu-current-text;
	background: $menu-current-background;
}

#adminmenu li.ljmc-has-current-submenu div.ljmc-menu-image:before,
#adminmenu a.current:hover div.ljmc-menu-image:before,
#adminmenu li.ljmc-has-current-submenu a:focus div.ljmc-menu-image:before,
#adminmenu li.ljmc-has-current-submenu.opensub div.ljmc-menu-image:before,
#adminmenu li:hover div.ljmc-menu-image:before,
#adminmenu li a:focus div.ljmc-menu-image:before,
#adminmenu li.opensub div.ljmc-menu-image:before,
.ie8 #adminmenu li.opensub div.ljmc-menu-image:before {
	color: $menu-current-icon;
}


/* Admin Menu: bubble */

#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
	color: $menu-bubble-text;
	background: $menu-bubble-background;
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.ljmc-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
	color: $menu-bubble-current-text;
	background: $menu-bubble-current-background;
}


/* Admin Menu: collapse button */

#collapse-menu {
    color: $menu-collapse-text;
}

#collapse-menu:hover {
    color: $menu-collapse-focus-text;
}

#collapse-button div:after {
    color: $menu-collapse-icon;
}

#collapse-menu:hover #collapse-button div:after {
    color: $menu-collapse-focus-icon;
}


/* Admin Bar */

#ljmcadminbar {
	color: $menu-text;
	background: $menu-background;
}

#ljmcadminbar .ab-item,
#ljmcadminbar a.ab-item,
#ljmcadminbar > #ljmc-toolbar span.ab-label,
#ljmcadminbar > #ljmc-toolbar span.noticon {
	color: $menu-text;
}

#ljmcadminbar .ab-icon,
#ljmcadminbar .ab-icon:before,
#ljmcadminbar .ab-item:before,
#ljmcadminbar .ab-item:after {
	color: $menu-icon;
}

#ljmcadminbar .ab-top-menu > li:hover > .ab-item,
#ljmcadminbar .ab-top-menu > li.hover > .ab-item,
#ljmcadminbar .ab-top-menu > li > .ab-item:focus,
#ljmcadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#ljmcadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item,
#ljmcadminbar .ab-top-menu > li.menupop.hover > .ab-item {
	color: $menu-submenu-focus-text;
	background: $menu-submenu-background;
}

#ljmcadminbar > #ljmc-toolbar li:hover span.ab-label,
#ljmcadminbar > #ljmc-toolbar li.hover span.ab-label,
#ljmcadminbar > #ljmc-toolbar a:focus span.ab-label {
	color: $menu-submenu-focus-text;
}

#ljmcadminbar li:hover .ab-icon:before,
#ljmcadminbar li:hover .ab-item:before,
#ljmcadminbar li:hover .ab-item:after,
#ljmcadminbar li:hover #adminbarsearch:before {
	color: $menu-highlight-icon;
}


/* Admin Bar: submenu */

#ljmcadminbar .menupop .ab-sub-wrapper {
	background: $menu-submenu-background;
}

#ljmcadminbar .quicklinks .menupop ul.ab-sub-secondary,
#ljmcadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
	background: $menu-submenu-background-alt;
}

#ljmcadminbar .ab-submenu .ab-item,
#ljmcadminbar .quicklinks .menupop ul li a,
#ljmcadminbar .quicklinks .menupop.hover ul li a,
#ljmcadminbar-nojs .quicklinks .menupop:hover ul li a {
	color: $menu-submenu-text;
}

#ljmcadminbar .quicklinks li .blavatar,
#ljmcadminbar .menupop .menupop > .ab-item:before {
	color: $menu-icon;
}

#ljmcadminbar .quicklinks .menupop ul li a:hover,
#ljmcadminbar .quicklinks .menupop ul li a:focus,
#ljmcadminbar .quicklinks .menupop ul li a:hover strong,
#ljmcadminbar .quicklinks .menupop ul li a:focus strong,
#ljmcadminbar .quicklinks .menupop.hover ul li a:hover,
#ljmcadminbar .quicklinks .menupop.hover ul li a:focus,
#ljmcadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#ljmcadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#ljmcadminbar li:hover .ab-icon:before,
#ljmcadminbar li:hover .ab-item:before,
#ljmcadminbar li a:focus .ab-icon:before,
#ljmcadminbar li .ab-item:focus:before,
#ljmcadminbar li.hover .ab-icon:before,
#ljmcadminbar li.hover .ab-item:before,
#ljmcadminbar li:hover .ab-item:after,
#ljmcadminbar li.hover .ab-item:after,
#ljmcadminbar li:hover #adminbarsearch:before {
	color: $menu-submenu-focus-text;
}

#ljmcadminbar .quicklinks li a:hover .blavatar,
#ljmcadminbar .menupop .menupop > .ab-item:hover:before {
	color: $menu-submenu-focus-text;
}


/* Admin Bar: search */

#ljmcadminbar #adminbarsearch:before {
	color: $menu-icon;
}

#ljmcadminbar > #ljmc-toolbar > #ljmc-admin-bar-top-secondary > #ljmc-admin-bar-search #adminbarsearch input.adminbar-input:focus {
	color: $menu-text;
	background: $adminbar-input-background;
}

#ljmcadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder { color: $menu-text; opacity: 0.7; }
#ljmcadminbar #adminbarsearch .adminbar-input:-moz-placeholder { color: $menu-text; opacity: 0.7; }
#ljmcadminbar #adminbarsearch .adminbar-input::-moz-placeholder { color: $menu-text; opacity: 0.7; }
#ljmcadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder { color: $menu-text; opacity: 0.7; }


/* Admin Bar: my account */

#ljmcadminbar .quicklinks li#ljmc-admin-bar-my-account.with-avatar > a img {
	border-color: $adminbar-avatar-frame;
	background-color: $adminbar-avatar-frame;
}

#ljmcadminbar #ljmc-admin-bar-user-info .display-name {
	color: $menu-text;
}

#ljmcadminbar #ljmc-admin-bar-user-info a:hover .display-name {
	color: $menu-submenu-focus-text;
}

#ljmcadminbar #ljmc-admin-bar-user-info .username {
	color: $menu-submenu-text;
}


/* Pointers */

.ljmc-pointer .ljmc-pointer-content h3 {
	background-color: $highlight-color;
	border-color: darken( $highlight-color, 5% );
}

.ljmc-pointer .ljmc-pointer-content h3:before {
	color: $highlight-color;
}

.ljmc-pointer.ljmc-pointer-top .ljmc-pointer-arrow,
.ljmc-pointer.ljmc-pointer-top .ljmc-pointer-arrow-inner,
.ljmc-pointer.ljmc-pointer-undefined .ljmc-pointer-arrow,
.ljmc-pointer.ljmc-pointer-undefined .ljmc-pointer-arrow-inner {
	border-bottom-color: $highlight-color;
}


/* Media */

.media-item .bar,
.media-progress-bar div {
	background-color: $highlight-color;
}

.details.attachment {
	box-shadow:
		inset 0 0 0 3px #faf9f1,
		inset 0 0 0 7px $highlight-color;
}

.attachment.details .check {
	background-color: $highlight-color;
	box-shadow: 0 0 0 1px #faf9f1, 0 0 0 2px $highlight-color;
}

.media-selection .attachment.selection.details .thumbnail {
	-webkit-box-shadow:
		0px 0px 0px 1px #faf9f1,
		0px 0px 0px 3px $highlight-color;
	box-shadow:
		0px 0px 0px 1px #faf9f1,
		0px 0px 0px 3px $highlight-color;
}


/* Themes */

.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover:after,
.theme-browser .theme.add-new-theme a:focus:after {
	background: $highlight-color;
}

.theme-browser .theme.add-new-theme a:hover span:after,
.theme-browser .theme.add-new-theme a:focus span:after {
	color: $highlight-color;
}

.theme-section.current,
.theme-filter.current {
	border-bottom-color: $menu-background;
}

body.more-filters-opened .more-filters {
	color: $menu-text;
	background-color: $menu-background;
}

body.more-filters-opened .more-filters:before {
	color: $menu-text;
}

body.more-filters-opened .more-filters:hover,
body.more-filters-opened .more-filters:focus {
	background-color: $menu-highlight-background;
	color: $menu-highlight-text;
}

body.more-filters-opened .more-filters:hover:before,
body.more-filters-opened .more-filters:focus:before {
	color: $menu-highlight-text;
}

/* Widgets */

.widgets-chooser li.widgets-chooser-selected {
	background-color: $menu-highlight-background;
	color: $menu-highlight-text;
}

.widgets-chooser li.widgets-chooser-selected:before,
.widgets-chooser li.widgets-chooser-selected:focus:before {
	color: $menu-highlight-text;
}

/* Customize */

#customize-theme-controls .widget-area-select .selected {
	background-color: $menu-highlight-background;
	color: $menu-highlight-text;
}

/* jQuery UI Slider */

.ljmc-slider .ui-slider-handle,
.ljmc-slider .ui-slider-handle.ui-state-hover,
.ljmc-slider .ui-slider-handle.focus {
	background: $button-color;
	border-color: darken( $button-color, 10% );
	box-shadow: inset 0 1px 0 lighten( $button-color, 15% ), 0 1px 0 rgba(0,0,0,.15);
}

/* Responsive Component */

div#ljmc-responsive-toggle a:before {
	color: $menu-icon;
}

.ljmc-responsive-open div#ljmc-responsive-toggle a {
	// ToDo: make inset border
	border-color: transparent;
	background: $menu-highlight-background;
}

.ljmc-responsive-open #ljmcadminbar #ljmc-admin-bar-menu-toggle a {
	background: $menu-submenu-background;
}
