#se-description,#se-basic-settings,#se-advanced-settings, #se-test-search, #se-info, #se-research-settings, .se-submit {margin-top: 20px;}
#se-basic-settings .manage-column, #se-advanced-settings .manage-column, #se-research-settings .manage-column {font-weight:bold;}
#se-description,#se-basic-settings.widefat, #se-advanced-settings.widefat,#se-test-search.widefat, #se-info.widefat, #se-research-settings, .se-submit {width:80%;}
.se-submit {text-align: left;}
.se-col {width:350px;}
.se-suboption label { font-size: smaller;margin-left:10px; color:#666;}
p span.se-thank-you {font-size: large; font-weight: bold;}

#se-top-notice {width:80%; position:relative;}
#se-top-notice .updated {margin:0;}

#se-description {background-color:#fff;font-size: 14px;}
#se-description p{ font-size:16px;padding: 15px 10px 15px 10px;}
.se-name {font-weight:bold; color:#F58520;}
.se-zem-color{color:#F58520;}
#se-research-settings td { vertical-align: middle; }

#ljmcwrap #ljmccontent .se-updated {
	position: relative;
	margin: 5px 0 15px;
	padding: 1px 12px;
	background-color: #fff;
	border-left: 4px solid #f58520;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
#ljmcwrap #ljmccontent .se-updated p {font-size: 1.3em;}
#ljmcwrap #ljmccontent .se-updated p a {color: inherit; text-decoration: underline;}
#ljmcwrap #ljmccontent .se-updated .se-logo {position: absolute; bottom: 15px; right: 12px;}
#ljmcwrap #ljmccontent .se-updated .se-dismiss {position: absolute;top: 15px;right: 14px;}
#ljmcwrap #ljmccontent .se-updated .se-logo img {width: 90px;}
#se-research-settings small, #se-basic-settings small, #se-advanced-settings small, #se-test-search small, #se-info small {font-size: 11px;}

div.error.se-error-box {
	margin: 5px 15px 2px 2px;
}
div.error.se-error-box ul {
	list-style-type: disc;
	padding-left: 20px;
}
