/**
 * Settings page
 */
.sljmcsmtp_info {
    font-size: 10px;
    color: #888;
}
#sljmcsmtp_settings_form input[type='text'], 
input[type='password']{
    width: 250px;
}
textarea#sljmcsmtp_message{
    width: 250px;
}