/*
 * Button mixin- creates 3d-ish button effect with correct
 * highlights/shadows, based on a base color.
 */
html {
  background: #f1f1f1; }

/* Links */
a {
  color: #cf4240; }
  a:hover, a:active, a:focus {
    color: #0095dd; }

#media-upload a.del-link:hover, div.dashboard-widget-submit input:hover, .subsubsub a:hover, .subsubsub a.current:hover {
  color: #0095dd; }

/* Forms */
input[type=checkbox]:checked:before {
  color: #b0302d; }

input[type=radio]:checked:before {
  background: #b0302d; }

.ljmc-core-ui input[type="reset"]:hover, .ljmc-core-ui input[type="reset"]:active {
  color: #0095dd; }

/* Core UI */
.ljmc-core-ui .button-primary {
  background: #b0302d;
  border-color: #b0302d;
  color: white;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 0 rgba(0, 0, 0, 0.15); }
  .ljmc-core-ui .button-primary:hover, .ljmc-core-ui .button-primary:focus {
    background: #b0302d;
    border-color: #ad5d1e;
    color: white;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6); }
  .ljmc-core-ui .button-primary:focus {
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.6), ;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6), ; }
  .ljmc-core-ui .button-primary:active {
    background: #b0302d;
    border-color: #ad5d1e;
    color: white;
    -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5), ;
    box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5), ; }
  .ljmc-core-ui .button-primary[disabled], .ljmc-core-ui .button-primary:disabled, .ljmc-core-ui .button-primary.button-primary-disabled, .ljmc-core-ui .button-primary.disabled {
    color: #d1cbc7 !important;
    background: #cc6d23 !important;
    border-color: #ad5d1e !important;
    text-shadow: none !important; }
.ljmc-core-ui .ljmc-ui-primary {
  color: #faf9f1;
  background-color: #cf4944; }
.ljmc-core-ui .ljmc-ui-text-primary {
  color: #cf4944; }
.ljmc-core-ui .ljmc-ui-highlight {
  color: #faf9f1;
  background-color: #b0302d; }
.ljmc-core-ui .ljmc-ui-text-highlight {
  color: #b0302d; }
.ljmc-core-ui .ljmc-ui-notification {
  color: #faf9f1;
  background-color: #ccaf0b; }
.ljmc-core-ui .ljmc-ui-text-notification {
  color: #ccaf0b; }
.ljmc-core-ui .ljmc-ui-text-icon {
  color: #f3f1f1; }

/* List tables */
.wrap .add-new-h2:hover, #add-new-comment a:hover, .tablenav .tablenav-pages a:hover, .tablenav .tablenav-pages a:focus {
  color: #faf9f1;
  background-color: #cf4944; }

.view-switch a.current:before {
  color: #cf4944; }

.view-switch a:hover:before {
  color: #ccaf0b; }

.post-com-count:hover:after {
  border-top-color: #cf4944; }

.post-com-count:hover span {
  color: #faf9f1;
  background-color: #cf4944; }

strong .post-com-count:after {
  border-top-color: #ccaf0b; }

strong .post-com-count span {
  background-color: #ccaf0b; }

/* Admin Menu */
#adminmenuback, #adminmenuwrap, #adminmenu {
  background: #cf4944; }

#adminmenu a {
  color: #faf9f1; }

#adminmenu div.ljmc-menu-image:before {
  color: #f3f1f1; }

#adminmenu a:hover, #adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus {
  color: #faf9f1;
  background-color: #b0302d; }

#adminmenu li.menu-top:hover div.ljmc-menu-image:before, #adminmenu li.opensub > a.menu-top div.ljmc-menu-image:before {
  color: #faf9f1; }

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active, .nav-tab-active, .nav-tab-active:hover {
  background-color: #f1f1f1;
  border-bottom-color: #f1f1f1; }

/* Admin Menu: submenu */
#adminmenu .ljmc-submenu, #adminmenu .ljmc-has-current-submenu .ljmc-submenu, #adminmenu .ljmc-has-current-submenu.opensub .ljmc-submenu, .folded #adminmenu .ljmc-has-current-submenu .ljmc-submenu, #adminmenu a.ljmc-has-current-submenu:focus + .ljmc-submenu {
  background: #be3631; }

#adminmenu li.ljmc-has-submenu.ljmc-not-current-submenu.opensub:hover:after {
  border-right-color: #be3631; }

#adminmenu .ljmc-submenu .ljmc-submenu-head {
  color: #f0c8c6; }

#adminmenu .ljmc-submenu a, #adminmenu .ljmc-has-current-submenu .ljmc-submenu a, .folded #adminmenu .ljmc-has-current-submenu .ljmc-submenu a, #adminmenu a.ljmc-has-current-submenu:focus + .ljmc-submenu a, #adminmenu .ljmc-has-current-submenu.opensub .ljmc-submenu a {
  color: #f0c8c6; }
  #adminmenu .ljmc-submenu a:focus, #adminmenu .ljmc-submenu a:hover, #adminmenu .ljmc-has-current-submenu .ljmc-submenu a:focus, #adminmenu .ljmc-has-current-submenu .ljmc-submenu a:hover, .folded #adminmenu .ljmc-has-current-submenu .ljmc-submenu a:focus, .folded #adminmenu .ljmc-has-current-submenu .ljmc-submenu a:hover, #adminmenu a.ljmc-has-current-submenu:focus + .ljmc-submenu a:focus, #adminmenu a.ljmc-has-current-submenu:focus + .ljmc-submenu a:hover, #adminmenu .ljmc-has-current-submenu.opensub .ljmc-submenu a:focus, #adminmenu .ljmc-has-current-submenu.opensub .ljmc-submenu a:hover {
    color: #f7e3d3; }

/* Admin Menu: current */
#adminmenu .ljmc-submenu li.current a, #adminmenu a.ljmc-has-current-submenu:focus + .ljmc-submenu li.current a, #adminmenu .ljmc-has-current-submenu.opensub .ljmc-submenu li.current a {
  color: #faf9f1; }
  #adminmenu .ljmc-submenu li.current a:hover, #adminmenu .ljmc-submenu li.current a:focus, #adminmenu a.ljmc-has-current-submenu:focus + .ljmc-submenu li.current a:hover, #adminmenu a.ljmc-has-current-submenu:focus + .ljmc-submenu li.current a:focus, #adminmenu .ljmc-has-current-submenu.opensub .ljmc-submenu li.current a:hover, #adminmenu .ljmc-has-current-submenu.opensub .ljmc-submenu li.current a:focus {
    color: #f7e3d3; }

ul#adminmenu a.ljmc-has-current-submenu:after, ul#adminmenu > li.current > a.current:after {
  border-right-color: #f1f1f1; }

#adminmenu li.current a.menu-top, #adminmenu li.ljmc-has-current-submenu a.ljmc-has-current-submenu, #adminmenu li.ljmc-has-current-submenu .ljmc-submenu .ljmc-submenu-head, .folded #adminmenu li.current.menu-top {
  color: #faf9f1;
  background: #b0302d; }

#adminmenu li.ljmc-has-current-submenu div.ljmc-menu-image:before, #adminmenu a.current:hover div.ljmc-menu-image:before, #adminmenu li.ljmc-has-current-submenu a:focus div.ljmc-menu-image:before, #adminmenu li.ljmc-has-current-submenu.opensub div.ljmc-menu-image:before, #adminmenu li:hover div.ljmc-menu-image:before, #adminmenu li a:focus div.ljmc-menu-image:before, #adminmenu li.opensub div.ljmc-menu-image:before, .ie8 #adminmenu li.opensub div.ljmc-menu-image:before {
  color: #faf9f1; }

/* Admin Menu: bubble */
#adminmenu .awaiting-mod, #adminmenu .update-plugins {
  color: #faf9f1;
  background: #ccaf0b; }

#adminmenu li.current a .awaiting-mod, #adminmenu li a.ljmc-has-current-submenu .update-plugins, #adminmenu li:hover a .awaiting-mod, #adminmenu li.menu-top:hover > a .update-plugins {
  color: #faf9f1;
  background: #be3631; }

/* Admin Menu: collapse button */
#collapse-menu {
  color: #f3f1f1; }

#collapse-menu:hover {
  color: #faf9f1; }

#collapse-button div:after {
  color: #f3f1f1; }

#collapse-menu:hover #collapse-button div:after {
  color: #faf9f1; }

/* Admin Bar */
#ljmcadminbar {
  color: #faf9f1;
  background: #cf4944; }

#ljmcadminbar .ab-item, #ljmcadminbar a.ab-item, #ljmcadminbar > #ljmc-toolbar span.ab-label, #ljmcadminbar > #ljmc-toolbar span.noticon {
  color: #faf9f1; }

#ljmcadminbar .ab-icon, #ljmcadminbar .ab-icon:before, #ljmcadminbar .ab-item:before, #ljmcadminbar .ab-item:after {
  color: #f3f1f1; }

#ljmcadminbar .ab-top-menu > li:hover > .ab-item, #ljmcadminbar .ab-top-menu > li.hover > .ab-item, #ljmcadminbar .ab-top-menu > li > .ab-item:focus, #ljmcadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #ljmcadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item, #ljmcadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #f7e3d3;
  background: #be3631; }

#ljmcadminbar > #ljmc-toolbar li:hover span.ab-label, #ljmcadminbar > #ljmc-toolbar li.hover span.ab-label, #ljmcadminbar > #ljmc-toolbar a:focus span.ab-label {
  color: #f7e3d3; }

#ljmcadminbar li:hover .ab-icon:before, #ljmcadminbar li:hover .ab-item:before, #ljmcadminbar li:hover .ab-item:after, #ljmcadminbar li:hover #adminbarsearch:before {
  color: #faf9f1; }

/* Admin Bar: submenu */
#ljmcadminbar .menupop .ab-sub-wrapper {
  background: #be3631; }

#ljmcadminbar .quicklinks .menupop ul.ab-sub-secondary, #ljmcadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #cf6b67; }

#ljmcadminbar .ab-submenu .ab-item, #ljmcadminbar .quicklinks .menupop ul li a, #ljmcadminbar .quicklinks .menupop.hover ul li a, #ljmcadminbar-nojs .quicklinks .menupop:hover ul li a {
  color: #f0c8c6; }

#ljmcadminbar .quicklinks li .blavatar, #ljmcadminbar .menupop .menupop > .ab-item:before {
  color: #f3f1f1; }

#ljmcadminbar .quicklinks .menupop ul li a:hover, #ljmcadminbar .quicklinks .menupop ul li a:focus, #ljmcadminbar .quicklinks .menupop ul li a:hover strong, #ljmcadminbar .quicklinks .menupop ul li a:focus strong, #ljmcadminbar .quicklinks .menupop.hover ul li a:hover, #ljmcadminbar .quicklinks .menupop.hover ul li a:focus, #ljmcadminbar.nojs .quicklinks .menupop:hover ul li a:hover, #ljmcadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #ljmcadminbar li:hover .ab-icon:before, #ljmcadminbar li:hover .ab-item:before, #ljmcadminbar li a:focus .ab-icon:before, #ljmcadminbar li .ab-item:focus:before, #ljmcadminbar li.hover .ab-icon:before, #ljmcadminbar li.hover .ab-item:before, #ljmcadminbar li:hover .ab-item:after, #ljmcadminbar li.hover .ab-item:after, #ljmcadminbar li:hover #adminbarsearch:before {
  color: #f7e3d3; }

#ljmcadminbar .quicklinks li a:hover .blavatar, #ljmcadminbar .menupop .menupop > .ab-item:hover:before {
  color: #f7e3d3; }

/* Admin Bar: search */
#ljmcadminbar #adminbarsearch:before {
  color: #f3f1f1; }

#ljmcadminbar > #ljmc-toolbar > #ljmc-admin-bar-top-secondary > #ljmc-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #faf9f1;
  background: #d66560; }

#ljmcadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
  color: #faf9f1;
  opacity: 0.7; }

#ljmcadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
  color: #faf9f1;
  opacity: 0.7; }

#ljmcadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
  color: #faf9f1;
  opacity: 0.7; }

#ljmcadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
  color: #faf9f1;
  opacity: 0.7; }

/* Admin Bar: my account */
#ljmcadminbar .quicklinks li#ljmc-admin-bar-my-account.with-avatar > a img {
  border-color: #d66560;
  background-color: #d66560; }

#ljmcadminbar #ljmc-admin-bar-user-info .display-name {
  color: #faf9f1; }

#ljmcadminbar #ljmc-admin-bar-user-info a:hover .display-name {
  color: #f7e3d3; }

#ljmcadminbar #ljmc-admin-bar-user-info .username {
  color: #f0c8c6; }

/* Pointers */
.ljmc-pointer .ljmc-pointer-content h3 {
  background-color: #b0302d;
  border-color: #b0302d; }

.ljmc-pointer .ljmc-pointer-content h3:before {
  color: #b0302d; }

.ljmc-pointer.ljmc-pointer-top .ljmc-pointer-arrow, .ljmc-pointer.ljmc-pointer-top .ljmc-pointer-arrow-inner, .ljmc-pointer.ljmc-pointer-undefined .ljmc-pointer-arrow, .ljmc-pointer.ljmc-pointer-undefined .ljmc-pointer-arrow-inner {
  border-bottom-color: #b0302d; }

/* Media */
.media-item .bar, .media-progress-bar div {
  background-color: #b0302d; }

.details.attachment {
  -webkit-box-shadow: inset 0 0 0 3px #faf9f1, inset 0 0 0 7px #b0302d;
  box-shadow: inset 0 0 0 3px #faf9f1, inset 0 0 0 7px #b0302d; }

.attachment.details .check {
  background-color: #b0302d;
  -webkit-box-shadow: 0 0 0 1px #faf9f1, 0 0 0 2px #b0302d;
  box-shadow: 0 0 0 1px #faf9f1, 0 0 0 2px #b0302d; }

.media-selection .attachment.selection.details .thumbnail {
  -webkit-box-shadow: 0px 0px 0px 1px #faf9f1, 0px 0px 0px 3px #b0302d;
  box-shadow: 0px 0px 0px 1px #faf9f1, 0px 0px 0px 3px #b0302d; }

/* Themes */
.theme-browser .theme.active .theme-name, .theme-browser .theme.add-new-theme a:hover:after, .theme-browser .theme.add-new-theme a:focus:after {
  background: #b0302d; }

.theme-browser .theme.add-new-theme a:hover span:after, .theme-browser .theme.add-new-theme a:focus span:after {
  color: #b0302d; }

.theme-section.current, .theme-filter.current {
  border-bottom-color: #cf4944; }

body.more-filters-opened .more-filters {
  color: #faf9f1;
  background-color: #cf4944; }

body.more-filters-opened .more-filters:before {
  color: #faf9f1; }

body.more-filters-opened .more-filters:hover, body.more-filters-opened .more-filters:focus {
  background-color: #b0302d;
  color: #faf9f1; }

body.more-filters-opened .more-filters:hover:before, body.more-filters-opened .more-filters:focus:before {
  color: #faf9f1; }

/* Widgets */
.widgets-chooser li.widgets-chooser-selected {
  background-color: #b0302d;
  color: #faf9f1; }

.widgets-chooser li.widgets-chooser-selected:before, .widgets-chooser li.widgets-chooser-selected:focus:before {
  color: #faf9f1; }

/* Customize */
#customize-theme-controls .widget-area-select .selected {
  background-color: #b0302d;
  color: #faf9f1; }

/* jQuery UI Slider */
.ljmc-slider .ui-slider-handle, .ljmc-slider .ui-slider-handle.ui-state-hover, .ljmc-slider .ui-slider-handle.focus {
  background: #b0302d;
  border-color: #b0302d;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 0 rgba(0, 0, 0, 0.15); }

/* Responsive Component */
div#ljmc-responsive-toggle a:before {
  color: #f3f1f1; }

.ljmc-responsive-open div#ljmc-responsive-toggle a {
  border-color: transparent;
  background: #b0302d; }

.ljmc-responsive-open #ljmcadminbar #ljmc-admin-bar-menu-toggle a {
  background: #be3631; }
