span.ljmccf7-not-valid-tip {
	direction: rtl;
}

.use-floating-validation-tip span.ljmccf7-not-valid-tip { 
	left: auto;
	right: 20%;
}

span.ljmccf7-list-item {
	margin-left: 0;
	margin-right: 0.5em;
}
