/* RED NAV BAR */
#header .navbar-red {
  min-height: auto !important;
  padding: 10px 0;
  margin-bottom: 0;
}
.navbar-red .contacts {
  text-align: center;
  padding-top:;
}
.navbar-red .contacts a {
  color: #f5d5d4;
  text-align: center;
  margin-right: 30px;
}
.navbar-red .contacts a:last-child {
  margin-right: 0;
}
.navbar-red .contacts a:hover {
  color: #faf9f1;
  text-decoration: none;
}
.navbar-red .contacts a .fa {
  margin-right: 10px;
}
.navbar-red .contacts a:hover .fa {
  color: #f5d5d4;
}

/* CAROUSEL */
#slider {
  width: 100%;
  height: auto;
  overflow: hidden;
}
#slider .carousel-control.left,
#slider .carousel-control.left,
#slider .carousel-control.right,
#slider .carousel-control.right {
  background: none;
}
#slider .carousel-inner,
#slider .carousel-inner > .item {
  width: 100%;
  height: 700px;
}
#slider.carousel-inner > .item > a > img,
#slider .carousel-inner > .item img {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 700px;
  max-width: none;
}
#slider .carousel-control {
  z-index: 100;
}
#slider .carousel-control .fa-angle-left,
#slider .carousel-control .fa-angle-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
#slider .carousel-control .fa-angle-left {
  left: 50%;
  margin-left: -10px;
}
#slider .carousel-control .fa-angle-right {
  right: 50%;
  margin-right: -10px;
}
@media screen and (min-width: 768px) {
  #slider .carousel-control .fa-angle-left,
  #slider .carousel-control .fa-angle-right {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 60px;
  }
  #slider .carousel-control .fa-angle-left {
    margin-left: -15px;
  }
  #slider .carousel-control .fa-angle-right {
    margin-right: -15px;
  }
}
#slider .carousel-caption {
  bottom: 50%;
  top: 40%;
  text-align: justify;
  text-shadow: none;
  color: #3b3b3b;
}
#slider .carousel-caption h3 {
  color: #cf4240;
  text-shadow
}
#slider .carousel-caption p {
  margin: 15px 0 30px 0;
}
#slider .thumbnails li a {
  padding: 20px 15px;
  background-color: #cf4240;
  color: #f5d5d4;
  font-weight: 400;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
#slider .thumbnails li.active a {
  background-color: #b0302d;
  color: #fff;
}
/* MAIN NAV */
#main {
  border: none;
  margin-bottom: 0;
  padding: 10px 0;
  padding-bottom: 0;
}
#main.navbar-default .navbar-nav > li > a .fa {
  color: #cf4240;
}
#main.navbar-default .navbar-nav > li > a {
  padding-bottom: 30px;
}
#main.navbar-default .navbar-nav > .open > a,
#main.navbar-default .navbar-nav > .open > a:hover,
#main.navbar-default .navbar-nav > .open > a:focus {
  background: none;
}
#main.navbar-default .logo img {
  width: 55px;
  height: auto;
  margin-right: 30px;
}

#main.navbar-default .dropdown-menu {
  background-color: #cf4240;
  box-shadow: none;
  border: none;
}
#main.navbar-default .dropdown-menu .divider {
  background-color: #b0302d;
}
#main.navbar-default .navbar-nav .open .dropdown-menu > li > a,
#main.navbar-default .navbar-nav .open .dropdown-menu .dropdown-header {
  color: #f5d5d4;
}
#main.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
#main.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #faf9f1;
  background-color: #b0302d;
}
#main.navbar-default .navbar-brand:hover,
#main.navbar-default .navbar-brand:focus {
  color: #cf4240;
  background-color: transparent;
}
#main.navbar-default .navbar-text {
  color: #faf9f1;
}
#main.navbar-default .navbar-nav > .active > a,
#main.navbar-default .navbar-nav > .active > a:hover,
#main.navbar-default .navbar-nav > .active > a:focus {
  color: #faf9f1;
  background-color: #b0302d;
}
#main.navbar-default .navbar-nav > .disabled > a,
#main.navbar-default .navbar-nav > .disabled > a:hover,
#main.navbar-default .navbar-nav > .disabled > a:focus {
  color: #f5d5d4;
  background-color: transparent;
}
#main.navbar-default .navbar-toggle:hover .icon-bar,
#main.navbar-default .navbar-toggle:focus .icon-bar{
  background-color: #cf4240;
}
#main.navbar-default .navbar-toggle .icon-bar {
  background-color: #3b3b3b;
}
@media (max-width: 767px) {
  #main.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f5d5d4;
  }
  #main.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  #main.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #faf9f1;
    background-color: #b0302d;
  }
  #main.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  #main.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  #main.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #faf9f1;
    background-color: #cf4240;
  }
  #main.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  #main.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  #main.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #aeaaa6;
    background-color: transparent;
  }
}
#main.navbar-default .navbar-link {
  color: #3b3b3b;
}
#main.navbar-default .navbar-link:hover {
  color: #3b3b3b;
}
#main.navbar-default .btn-link {
  color: #3b3b3b;
}
#main.navbar-default .btn-link:hover,
#main.navbar-default .btn-link:focus {
  color: #3b3b3b;
}
#main.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] #main.navbar-default .btn-link:hover,
#main.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] #main.navbar-default .btn-link:focus {
  color: #ccc;
}
@media (max-width: 767px) {
  #main.navbar-default .navbar-nav {
    background: #cf4240;
  }
  #main.navbar-default .logo img {
    margin-left: 15px;
    padding-bottom: 10px;
    width: 40px;
  }
  #main.navbar-default .navbar-nav > li > a {
    padding-bottom: 10px;
    text-align: center;
    color: #f5d5d4;
  }
  #main.navbar-default .navbar-nav > li > a > .fa {
    color: #faf9f1;
  }
  #main.navbar-default .navbar-nav > li > a:hover,
  #main.navbar-default .navbar-nav > li > a:focus {
    background-color: #b0302d;
    color: #faf9f1;
  }
  #main.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    text-align: center;
  }
  #main.navbar-default .navbar-nav {
    margin-bottom: 0;
  }
  #main.navbar-default .navbar-toggle {
    margin-top: 5px;
  }
}

#search-doctor .form-control {
  background-color: #3b3b3b;
  border: 1px solid #666;
  color: #faf9f1;
}
#search-doctor .form-control:hover,
#search-doctor .form-control:focus {
  border: 1px solid #cf4240;
}

/*  CONTENT */
#content .page-header {
  border: none;
}
#content .page-header h1 {
  text-align: left;
  font-weight: 300;
  font-size: 30px;
  border-bottom: 1px solid #deddd6;
  line-height: 0;
  padding: 0;
  margin-left: -5px;
  margin-right: 15px;
}

#content .page-header h1 span.line {
  background: #faf9f1;
  padding: 0 20px;
}

/*  SERVICES */
#content .services .icon {
/*  width: 100%;
  height: 150px;*/
  overflow: hidden;
  text-align: center;
}
/*#content .services .icon img {
  min-width: 100%;
  min-height: 150px;
}*/




/* FOOTER */
#footer{
  background: #3b3b3b;
}



#footer .heading h3 {
  background: #3b3b3b;
  color: #faf9f1;
  font-size: 18px;
}
#footer .heading h3 {
  text-align: left;
  font-weight: 300;
  border-bottom: 1px solid #666;
  line-height: 0;
  padding: 0;
  margin-left: -5px;
  margin-right: 15px;
}

#footer .heading h3 span.line {
  background: #3b3b3b;
  padding: 0 20px;
}

#footer .form-group {
  margin-top: 15px;
  margin-bottom: 0;
}

#footer input,
#footer textarea {
  background-color: #3b3b3b;
  border: 1px solid #666;
  color: #faf9f1;
}
#footer input:hover,
#footer input:focus,
#footer textarea:hover,
#footer textarea:focus {
  border-color: #cf4240;
}

#footer textarea {
  margin-top: 15px;
}

#footer address { color: #faf9f1; margin-top:15px;}

#footer p { color: #faf9f1 }
#footer p.title { color: #cf4240; margin-top: 10px }
#footer .fa { color: #666; margin-right: 5px; }
#footer a:hover{text-decoration: none}




/*  PAGE HEADER */
.header{
  width: 100%;
  min-height: 200px;
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header h1 {
  font-size: 30px;
  font-weight: 400;
  color: #cf4240;
  margin-bottom: 0;
  margin-top: 80px;
}


.nav-pills-sidebar.nav-stacked > li + li {
  margin-top: -1px;
}
.nav-pills-sidebar > li > a {
  border: 1px solid #deddd6;
  color: #3b3b3b;
}
.nav-pills-sidebar > li > a:hover,
.nav-pills-sidebar > li > a:focus {
  background-color: #cf4240;
  color: #faf9f1;
  border-color: #b0302d;
}
.nav-pills-sidebar > li.active > a,
.nav-pills-sidebar > li.active > a:hover,
.nav-pills-sidebar > li.active > a:focus {
  background-color: #deddd6;
  color: #cf4240;
  border:1px solid transparent;
}