msgid ""
msgstr ""
"Project-Id-Version: Search Everything 6.3.1\n"
"Report-Msgid-Bugs-To: http://ljmc.org/tag/search-everything\n"
"POT-Creation-Date: 2009-06-11 23:25+0000\n"
"PO-Revision-Date: \n"
"Last-Translator: Nod <contact@nod.pe.kr>\n"
"Language-Team: FantasyAmplifier.com <contact@nod.pe.kr>\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=n != 1\n"
"X-Poedit-Language: Korean\n"
"X-Poedit-Country: KOREA, REPUBLIC OF\n"

#: views/options.php:54
#: views/options.php:61
msgid "Your default search settings have been <strong>updated</strong> by Search Everything. </p><p> What are you waiting for? Go check out the new search results!"
msgstr "워드프레스 기본 검색 설정이 Search Everything에 의해 <strong>수정</strong>되었습니다. </p><p>검색결과를 확인해보세요."

#: views/options.php:71
msgid "Search Everything Version:"
msgstr "SE 버전:"

#: views/options.php:76
#: views/options.php:278
msgid "Update Options"
msgstr "변경 사항 적용"

#: views/options.php:84
msgid "Basic Configuration"
msgstr "기본 환경설정"

#: views/options.php:90
msgid "Search every page"
msgstr "모든 페이지 검색"

#: views/options.php:90
msgid "(non-password protected)"
msgstr "비밀번호로 보호되지 않은 글"

#: views/options.php:94
#: views/options.php:105
#: views/options.php:118
#: views/options.php:132
#: views/options.php:143
#: views/options.php:153
#: views/options.php:163
#: views/options.php:173
#: views/options.php:186
#: views/options.php:197
#: views/options.php:207
#: views/options.php:217
#: views/options.php:227
msgid "Yes"
msgstr "네"

#: views/options.php:101
msgid "Search approved pages only"
msgstr "승인된 페이지만 검색"

#: views/options.php:114
msgid "Search every tag name"
msgstr "모든 태그 검색"

#: views/options.php:128
msgid "Search every category name and description"
msgstr "모든 카테고리 이름과 설명 검색"

#: views/options.php:139
msgid "Search every comment"
msgstr "모든 댓글 검색"

#: views/options.php:149
msgid "Search comment authors"
msgstr "댓글 작성자 이름 검색"

#: views/options.php:159
msgid "Search approved comments only"
msgstr "승인된 댓글만 검색"

#: views/options.php:169
msgid "Search every excerpt"
msgstr "모든 글 요약 검색"

#: views/options.php:182
msgid "Search every draft"
msgstr "모든 임시글 검색"

#: views/options.php:193
msgid "Search every attachment"
msgstr "모든 첨부파일 검색"

#: views/options.php:193
msgid "(post type = attachment)"
msgstr "(포스트 유형 = 첨부)"

#: views/options.php:203
msgid "Search every custom field"
msgstr "모든 사용자정의 필드 검색"

#: views/options.php:203
msgid "(metadata)"
msgstr "(메타정보)"

#: views/options.php:213
msgid "Search every author"
msgstr "모든 저자 이름 검색"

#: views/options.php:223
msgid "Highlight Search Terms"
msgstr "검색어 강조"

#: views/options.php:233
msgid "Highlight Background Color"
msgstr "배경색 강조"

#: views/options.php:236
msgid "Examples:<br/>'#FFF984' or 'red'"
msgstr "예:'#FFF984' 처럼 색상코드나 'red'처럼 색깔 이름을 입력해주세요."

#: views/options.php:246
msgid "Advanced Configuration - Exclusion"
msgstr "고급 설정 - 검섹 제외"

#: views/options.php:252
msgid "Exclude some post or page IDs"
msgstr "특정 포스트나 페이지 검색 제외"

#: views/options.php:255
msgid "Comma separated Post IDs (example: 1, 5, 9)"
msgstr "글 고유번호(ID)를 쉼표를 이용해 구분하세요. 예) 1, 7, 139"

#: views/options.php:259
msgid "Exclude Categories"
msgstr "카테고리 제외"

#: views/options.php:262
msgid "Comma separated category IDs (example: 1, 4)"
msgstr "카테고리 고유번호(ID)를 쉼표(,)를 이용해 구분해주세요. 예) 1, 203, 7"

#: views/options.php:266
msgid "Full Highlight Style"
msgstr "전체 스타일 강조"

#: views/options.php:268
msgid "Important: 'Highlight Background Color' must be blank to use this advanced styling."
msgstr "중요: 고급 스타일링 기능을 사용하기 위해서는 기본 환경설정의 검색어 강조의 배경색을 비워두셔야 됩니다."

#: views/options.php:270
msgid "Example:<br/>background-color: #FFF984; font-weight: bold; color: #000; padding: 0 1px;"
msgstr "예: background-color: #FFF984; font-weight: bold; color: #000; padding: 0 1px;"

#: views/options.php:283
msgid "Developed by Dan Cameron of"
msgstr "플러그인 개발: Dan Cameron "

#: views/options.php:283
msgid "Sprout Venture"
msgstr "(Sprout Venture)"

#: views/options.php:283
msgid "We Provide custom WordPress Plugins and Themes and a whole lot more."
msgstr "Sprout Venture에서는 많은 워드프레스 플러그인과 테마를 주문제작하고 있습니다."

#: views/options.php:287
msgid "Reset Button"
msgstr "설정 초기화"

#: views/options.php:295
msgid "Find a bug?"
msgstr "버그를 발견하셨어요?"

#: views/options.php:295
msgid "Post it as a new issue"
msgstr "글을 올려 주세요."

#: views/options.php:302
msgid "Test Search Form"
msgstr "SE 검색창"

#: views/options.php:309
msgid "Use this search form to run a live search test."
msgstr "아래 검색창을 이용해 시험 검색해보세요."

#: views/options.php:315
msgid "Run Test Search"
msgstr "검색"

#: views/options.php:326
msgid "News"
msgstr "소식"

#: views/options.php:327
msgid "Development Support"
msgstr "SE 개발 지원"

#: views/options.php:328
msgid "Localization Support"
msgstr "SE 지역화 지원"

#: views/options.php:334
msgid "LOCALIZATION SUPPORT:"
msgstr "SE 플러그인 지역화 지원:"

#: views/options.php:334
msgid "Version 6 was a major update and a few areas need new localization support. If you can help send me your translations by posting them as a new issue, "
msgstr "SE 6판에서는 중요한 업데이트가 있었으며 몇몇 지역에서는 플러그인 지역화(번역) 지원이 필요합니다. 만약 도움을 주실 수 있다면 번역하신 언어 파일을 새글을 작성해 첨부해주세요."

#: views/options.php:334
msgid "here"
msgstr "글을 올려주실 곳"

#: views/options.php:335
msgid "Thank You!"
msgstr "감사합니다!"

#: views/options.php:335
msgid "The development of Search Everything since Version one has primarily come from the WordPress community, I&#8217;m grateful for their dedicated and continued support."
msgstr "Search Everything은 1판부터 워드프레스 커뮤니티로부터 많은 도움을 받아 플러그인을 개발해오고 있습니다. 그 분들의 끊임 없는 지원과 노력에 감사합니다."

#: views/options.php:345
msgid "and many more..."
msgstr "더 많은 분들이 있습니다."

#: views/options.php:345
msgid "how about you?"
msgstr "도움을 주지 않으시겠어요?"

#. Plugin Name of an extension
msgid "Search Everything"
msgstr "Search Everything"

#. Plugin URI of an extension
msgid "https://core.sproutventure.com/projects/show/search-everything"
msgstr "https://core.sproutventure.com/projects/show/search-everything"

#. Description of an extension
msgid "Adds search functionality without modifying any template pages: Activate, Configure and Search. Options Include: search highlight, search pages, excerpts, attachments, drafts, comments, tags and custom fields (metadata). Also offers the ability to exclude specific pages and posts. Does not search password-protected content."
msgstr "템플릿 페이지를 수정하지 않고 검색 기능을 향상시켜줍니다."

#. Author of an extension
msgid "Dan Cameron of Sprout Venture"
msgstr "Sprout Ventur의 Dan Cameron"

#. Author URI of an extension
msgid "http://sproutventure.com/"
msgstr "http://sproutventure.com/"

#~ msgid "Search Everything Options  <strong>Updated</strong>."
#~ msgstr "Search Everything 설정이 <strong>수정</strong>되었습니다."
#~ msgid "SE Search Options"
#~ msgstr "SE 검색 설정"
#~ msgid "Use this form to configure your search options."
#~ msgstr "검색 옵션을 설정하기 위해 이 폼을 사용하세요."
#~ msgid "Search Options Form"
#~ msgstr "검색 옵션 폼"
#~ msgid "Site Search"
#~ msgstr "사이트 검색"

