/* RED NAV BAR */
#header .navbar-red {
  min-height: auto !important;
  padding: 10px 0;
  margin-bottom: 0;
}

#header .navbar-red a[href] { cursor: pointer }

.navbar-red .contacts {
  text-align: center;
  padding-top:;
}
.navbar-red .contacts a {
  color: #f5d5d4;
  text-align: center;
  margin-right: 30px;
  cursor: default;
}
.navbar-red .contacts a:last-child {
  margin-right: 0;
}
.navbar-red .contacts a:hover {
  color: #faf9f1;
  text-decoration: none;
}
.navbar-red .contacts a .fa {
  margin-right: 10px;
}


/* MAIN NAV */
#main {
  border: none;
  margin-bottom: 0;
  padding: 10px 0;
  padding-bottom: 0;
}
#main.navbar-default .navbar-nav > li > a .fa {
  color: #cf4240;
}
#main.navbar-default .navbar-nav > li > a {
  padding-bottom: 30px;
}
#main.navbar-default .navbar-nav > .open > a,
#main.navbar-default .navbar-nav > .open > a:hover,
#main.navbar-default .navbar-nav > .open > a:focus {
  background: none;
}
#main.navbar-default .logo img {
  width: 55px;
  height: auto;
  margin-right: 30px;
}

#main.navbar-default .dropdown-menu {
  background-color: #cf4240;
  box-shadow: none;
  border: none;
}
#main.navbar-default .dropdown-menu .divider {
  background-color: #b0302d;
}
#main.navbar-default .navbar-nav .open .dropdown-menu > li > a,
#main.navbar-default .navbar-nav .open .dropdown-menu .dropdown-header {
  color: #f5d5d4;
}
#main.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
#main.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #faf9f1;
  background-color: #b0302d;
}
#main.navbar-default .navbar-brand:hover,
#main.navbar-default .navbar-brand:focus {
  color: #cf4240;
  background-color: transparent;
}
#main.navbar-default .navbar-text {
  color: #faf9f1;
}
#main.navbar-default .navbar-nav > .active > a,
#main.navbar-default .navbar-nav > .active > a:hover,
#main.navbar-default .navbar-nav > .active > a:focus {
  color: #faf9f1;
  background-color: #b0302d;
}
#main.navbar-default .navbar-nav > .active > a {
  background: none !important;
  color: #cf4240 !important;
}
#main.navbar-default .navbar-nav > .disabled > a,
#main.navbar-default .navbar-nav > .disabled > a:hover,
#main.navbar-default .navbar-nav > .disabled > a:focus {
  color: #f5d5d4;
  background-color: transparent;
}
#main.navbar-default .navbar-toggle:hover .icon-bar,
#main.navbar-default .navbar-toggle:focus .icon-bar{
  background-color: #cf4240;
}
#main.navbar-default .navbar-toggle .icon-bar {
  background-color: #3b3b3b;
}
@media (max-width: 767px) {
  #main.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f5d5d4;
  }
  #main.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  #main.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #faf9f1;
    background-color: #b0302d;
  }
  #main.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  #main.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  #main.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #faf9f1;
    background-color: #cf4240;
  }
  #main.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  #main.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  #main.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #aeaaa6;
    background-color: transparent;
  }
}
#main.navbar-default .navbar-link {
  color: #3b3b3b;
}
#main.navbar-default .navbar-link:hover {
  color: #3b3b3b;
}
#main.navbar-default .btn-link {
  color: #3b3b3b;
}
#main.navbar-default .btn-link:hover,
#main.navbar-default .btn-link:focus {
  color: #3b3b3b;
}
#main.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] #main.navbar-default .btn-link:hover,
#main.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] #main.navbar-default .btn-link:focus {
  color: #ccc;
}
@media (max-width: 767px) {
  #main.navbar-default .navbar-nav {
    background: #cf4240;
  }
  #main.navbar-default .logo img {
    margin-left: 15px;
    padding-bottom: 10px;
    width: 40px;
  }
  #main.navbar-default .navbar-nav > li > a {
    padding-bottom: 10px;
    text-align: center;
    color: #f5d5d4;
  }
  #main.navbar-default .navbar-nav > li > a > .fa {
    color: #faf9f1;
  }
  #main.navbar-default .navbar-nav > li > a:hover,
  #main.navbar-default .navbar-nav > li > a:focus {
    background-color: #b0302d;
    color: #faf9f1;
  }
  #main.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    text-align: center;
  }
  #main.navbar-default .navbar-nav {
    margin-bottom: 0;
  }
  #main.navbar-default .navbar-toggle {
    margin-top: 5px;
  }
}

#search-doctor .form-control {
  background-color: #3b3b3b;
  border: 1px solid #666;
  color: #faf9f1;
}
#search-doctor .form-control:hover,
#search-doctor .form-control:focus {
  border: 1px solid #cf4240;
}

/*  CONTENT */
#content .page-header {
  border: none;
}
#content .page-header h1 {
  text-align: left;
  font-weight: 300;
  font-size: 30px;
  border-bottom: 1px solid #deddd6;
  line-height: 0;
  padding: 0;
  margin-left: -5px;
  margin-right: 15px;
}

#content .page-header h1 span.line {
  background: #faf9f1;
  padding: 0 20px;
  margin-left: -15px;
  font-size: 22px !important;
}

/*  SERVICES */
#content .services .icon {
/*  width: 100%;
  height: 150px;*/
  overflow: hidden;
  text-align: center;
}
/*#content .services .icon img {
  min-width: 100%;
  min-height: 150px;
}*/




/* FOOTER */
#footer{
  background: #3b3b3b;
}



#footer .heading h3 {
  background: #3b3b3b;
  color: #faf9f1;
  font-size: 18px;
}
#footer .heading h3 {
  text-align: left;
  font-weight: 300;
  border-bottom: 1px solid #666;
  line-height: 0;
  padding: 0;
  margin-left: -5px;
  margin-right: 15px;
}

#footer .heading h3 span.line {
  background: #3b3b3b;
  padding: 0 20px;
}

#footer .form-group {
  margin-top: 15px;
  margin-bottom: 0;
}

#footer input,
#footer textarea {
  background-color: #3b3b3b;
  border: 1px solid #666;
  color: #faf9f1;
}
#footer input:hover,
#footer input:focus,
#footer textarea:hover,
#footer textarea:focus {
  border-color: #cf4240;
}

#footer textarea {
  margin-top: 15px;
  resize:vertical;height:207px;min-height:100px;
}

#footer address { color: #faf9f1; margin-top:15px;}

#footer p { color: #faf9f1 }
#footer p.title { color: #cf4240; margin-top: 10px }
#footer .fa { color: #666; margin-right: 5px; }
#footer a:hover{text-decoration: none}

#footer #send-msg{padding:6px 50px}

#content ul li {list-style: disc outside none;}
/*  PAGE HEADER */
.header{
  width: 100%;
  min-height: 200px;
  background: url(../img/jmc.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header h1 {
  font-size: 30px;
  font-weight: 400;
  color: #cf4240;
  margin-bottom: 0;
  margin-top: 80px;
}


.nav-pills-sidebar.nav-stacked > li + li {
  margin-top: -1px;
}
.nav-pills-sidebar > li > a {
  border: 1px solid #deddd6;
  color: #3b3b3b;
}
.nav-pills-sidebar > li > a:hover,
.nav-pills-sidebar > li > a:focus {
  background-color: #cf4240;
  color: #faf9f1;
  border-color: #b0302d;
}
.nav-pills-sidebar > li.current_page_item > a,
.nav-pills-sidebar > li.active > a,
.nav-pills-sidebar > li.active > a:hover,
.nav-pills-sidebar > li.active > a:focus {
  background-color: #deddd6;
  color: #cf4240;
  border:1px solid transparent;
}


/** SLDER ***/
.slider-pro {
    font-family: 'Open Sans', Arial;
}

/* Example 1 */

#slider .sp-thumbnail {
  width: 100%;
  padding: 30px;
  background-color: #faf9f1;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px dashed #ddd;
}
#slider .sp-thumbnails {
  max-height: 100px;
  overflow: hidden;
}
#slider .sp-thumbnail-title {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #3b3b3b;
  text-align: center;
}

#slider .sp-selected-thumbnail .sp-thumbnail-description {
  font-size: 14px;
  color: #f5d5d4;
}

#slider .sp-selected-thumbnail .sp-thumbnail-title {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #fff;
}

#slider .sp-selected-thumbnail .sp-thumbnail-description {
  font-size: 14px;
  color: #f5d5d4;
}

#slider .sp-selected-thumbnail .sp-thumbnail {
  background: #cf4240;
  border:none;
  -webkit-transition: background .2s ease-in-out;
       -o-transition: background .2s ease-in-out;
          transition: background .2s ease-in-out;
}
@media (max-width: 860px) {
  #slider .hide-medium-screen {
    display: none;
  }
}

@media (max-width: 640px) {
  #slider .sp-layer {
    font-size: 12px;
  }

  #slider .hide-small-screen {
    display: none;
  }
}

@media (max-width: 500px) {
  #slider .sp-thumbnail {
    text-align: center;
  }

  #slider .sp-thumbnail-title {
    font-size: 12px;
    text-transform: uppercase;
  }

  #slider .sp-thumbnail-description {
    display: none;
  }
}

/* SLIDER LAYER FIX */
#slider .sp-slide .sp-layer{
  	white-space: normal !important;
	background: rgba(0,0,0,0.5) !important;
	padding: 20px !important;
}

#slider .sp-slide .sp-layer h3 {
	margin:0 !important;
	padding:0 !important;
	margin-left: 4px !important;
	color: #faf9f1 !important;
	font-weight: normal !important;
	line-height: 2 !important;
	margin-bottom: 10px !important;
}
#slider .sp-slide .sp-layer .slide-excerpt{
	color: #faf9f1 !important;
	line-height: 2 !important;
}
button,.btn,a {
  -webkit-transition: background .2s ease-in-out, color .2s ease-in-out;
       -o-transition: background .2s ease-in-out, color .2s ease-in-out;
          transition: background .2s ease-in-out, color .2s ease-in-out;
}
.dropdown-menu{
  visibility:hidden;
  opacity:0;
  display:block !important;
}
.open > .dropdown-menu {
  visibility:visible;
  opacity:1;
  -webkit-transition: visibility .2s ease-in-out, opacity .2s ease-in-out;
       -o-transition: visibility .2s ease-in-out, opacity .2s ease-in-out;
          transition: visibility .2s ease-in-out, opacity .2s ease-in-out;
}
/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #faf9f1;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #d9534f;
    color: #fff;
}
.sidebar ul li a.active .fa {
    color: #fff;
}
.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}


.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}
.full-width > ul.nav.nav-tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.full-width > ul.nav.nav-tabs > li {
    float: none;
    display: table-cell;
}
.full-width > ul.nav.nav-tabs > li > a {
    text-align: center;
}
.navigation.pagination a,
.navigation.pagination .current,
.navigation.pagination .disabled{
  background: #cf4240;
  color: #faf9f1;
  border:1px solid #b0302d;
  padding: 5px 10px;
  margin: 0 5px;
  text-decoration: none;
}

.navigation.pagination a:hover,
.navigation.pagination a:focus{
  background: #b0302d;
  color: #fff;
}
.navigation.pagination .disabled,
.navigation.pagination .current{
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
  cursor: default;
}
span.ljmccf7-not-valid-tip{
  width:250px;
  background:none !important;
  border: none !important;
  padding:0 !important;
  margin:0 !important;
  margin-top:12px !important;
}


.navbar.search {
  background-color: #3b3b3b;
  padding: 15px;
}

.bootstrap-select {
  /*width: 220px\9; IE8 and below*/
  width: 220px \0;
  /*IE9 and below*/
}
.bootstrap-select > .btn {
  width: 100%;
  padding-right: 25px;
}
.error .bootstrap-select .btn {
  border: 1px solid #b94a48;
}
.control-group.error .bootstrap-select .dropdown-toggle {
  border-color: #b94a48;
}
.bootstrap-select.fit-width {
  width: auto !important;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}
.bootstrap-select .btn:focus {
  outline: thin dotted #333333 !important;
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}
.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
}
.bootstrap-select.form-control:not([class*="col-"]) {
  width: 100%;
}
.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
  float: none;
  display: inline-block;
  margin-left: 0;
}
.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row-fluid .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
  float: right;
}
.form-search .bootstrap-select.btn-group,
.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
  margin-bottom: 0;
}
.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
  padding: 0;
}
.form-inline .bootstrap-select.btn-group .form-control {
  width: 100%;
}
.input-append .bootstrap-select.btn-group {
  margin-left: -1px;
}
.input-prepend .bootstrap-select.btn-group {
  margin-right: -1px;
}
.bootstrap-select.btn-group > .disabled {
  cursor: not-allowed;
}
.bootstrap-select.btn-group > .disabled:focus {
  outline: none !important;
}
.bootstrap-select.btn-group .btn .filter-option {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: left;
}
.bootstrap-select.btn-group .btn .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}
.bootstrap-select.btn-group[class*="col-"] .btn {
  width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu {
  min-width: 100%;
  z-index: 1035;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
  position: static;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu li {
  position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:hover small,
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:focus small,
.bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled) a small {
  color: #64b1d8;
  color: rgba(100, 177, 216, 0.4);
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a {
  cursor: not-allowed;
}
.bootstrap-select.btn-group .dropdown-menu li a {
  cursor: pointer;
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
  position: relative;
  padding-left: 2.25em;
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
  display: none;
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
  display: inline-block;
}
.bootstrap-select.btn-group .dropdown-menu li small {
  padding-left: 0.5em;
}
.bootstrap-select.btn-group .dropdown-menu .notify {
  position: absolute;
  bottom: 5px;
  width: 96%;
  margin: 0 2%;
  min-height: 26px;
  padding: 3px 5px;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
  opacity: 0.9;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.bootstrap-select.btn-group .no-results {
  padding: 3px;
  background: #f5f5f5;
  margin: 0 5px;
}
.bootstrap-select.btn-group.fit-width .btn .filter-option {
  position: static;
}
.bootstrap-select.btn-group.fit-width .btn .caret {
  position: static;
  top: auto;
  margin-top: -1px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  margin-top: 5px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
  margin-right: 34px;
}
.bootstrap-select.show-menu-arrow.open > .btn {
  z-index: 1035 + 1;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  border-bottom-color: rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  bottom: auto;
  top: -3px;
  border-bottom: 0;
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #cccccc;
  border-top-color: rgba(204, 204, 204, 0.2);
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  bottom: auto;
  top: -3px;
  border-top: 6px solid white;
  border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  right: 12px;
  left: auto;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  right: 13px;
  left: auto;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block;
}
.bs-searchbox,
.bs-actionsbox {
  padding: 4px 8px;
}
.bs-actionsbox {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.bs-actionsbox .btn-group button {
  width: 50%;
}
.bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px;
}
.bs-searchbox input.form-control {
  margin-bottom: 0;
  width: 100%;
}
.mobile-device {
  position: absolute;
  top: 0;
  left: 0;
  display: block !important;
  width: 100%;
  height: 100% !important;
  opacity: 0;
}
.navbar.search .btn.selectpicker {
  background-color: #3b3b3b;
  border-color: #666;
  color: #faf9f1;
}
.navbar.search .bs-searchbox input {
  border: none;
  background-color: #f5d5d4;
}
.navbar.search .btn.search {
  padding: 6px 50px;
}
.navbar.search .bootstrap-select .no-results { background: none; color: #f5d5d4; }

#ljmc-loader{
  width:100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #faf9f1;
  z-index: 9999;
}

#ljmc-loader img{
   position: fixed;
   top: 50%;
   left: 50%;
   width: 50px;
   height: 50px;
   margin-top: -25px; /* Half the height */
   margin-left: -25px; /* Half the width */
}
.bs-searchbox input.form-control{background:transparent !important;border:1px solid #deddd6 !important;}

.container .news ul li,
.container .about ul li{
  list-style: disc;
}

section#content,section#footer { position:relative; z-index:1000;}
section#content {  background: #faf9f1 }
#main { z-index: 8888 !important}

.btn-red.disabled,
.btn-red[disabled]{
  cursor:not-allowed !important;
}

.video-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; margin-bottom: 20px; }
.video-container iframe, .video-container object, .video-container embed, .video-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#header .socials a{
  font-size:21px;
}
#header .socials a{ margin-right:10px;}
#header .socials a:last-child{
  margin-right: 0;
}
#header .socials{
    position:absolute;
    top:-4px;right:20px;
}
#header .socials a:hover,
#header .socials a:focus{
  color:#fff !important;
  -webkit-transition: color .2s ease-in-out;
       -o-transition: color .2s ease-in-out;
          transition: color .2s ease-in-out;
}

#footer .socials a{
  font-size:26px !important;
  color:#999;
}
#footer .socials a{ margin-right:10px;}
#footer .socials a:last-child{
  margin-right: 0;
}

#footer .socials a:hover,
#footer .socials a:focus{
  color:#fff !important;
  -webkit-transition: color .2s ease-in-out;
       -o-transition: color .2s ease-in-out;
          transition: color .2s ease-in-out;
}

.adminbar-user .fa .fa-user{
  font-family: 'fontAwesome';
}

.modal{margin-top:100px;}

.nav-pills-sidebar > .parent > a {
  background-color: #cf4240;
  color:#faf9f1;
  text-align: center;
  text-transform: uppercase;
  border-color: #b0302d;
}

.thumb .img-news {
  width: auto !important;
  height: 200px !important;
  min-width: 100% !important;
  max-width: auto !important;
}
#content-gallery .sp-thumbnail-container {}

#content-gallery {
  margin-bottom: 40px;
}

.ljmccf7-form-control-wrap input.ljmccf7-form-control{
  min-width: 10px;
  min-height: 10px;
}

.ljmccf7-form-control.ljmccf7-acceptance {
  width: 10px;
  height: 10px;
  margin-top: 10px;
  background-color: #3b3b3b;
  border: 1px solid #666;
  color: #faf9f1;
}

.avatar-img img {
   position: absolute;
   top: 50%;
   left: 50%;
   width: auto;
   height: 300px;
   margin-top: -150px; /* Half the height */
   margin-left: auto; /* Half the width */
}

.avatar-img img {
   height: 300px;
   left: 50%;
   margin-top: -50%;
   margin-left: -50%;
   position: absolute;
   top: 50%;
   width: 250px;
}

.avatar-img {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.dropdown-menu li {
  list-style: none !important;
  list-style-type: none !important;
}

.slide-excerpt { 
  line-height: 2.5 !important; 
  padding: 2px 0;
}
.slide-excerpt span {
  display: inline;
  padding: 0.45rem;
  
  /* Needs prefixing */
  box-decoration-break: clone;
}

.ljmccf7-form-control.ljmccf7-acceptance.form-control
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.4); /* IE */
  -moz-transform: scale(1.4); /* FF */
  -webkit-transform: scale(1.4); /* Safari and Chrome */
  -o-transform: scale(1.4); /* Opera */
  padding: 5px;
  margin-top: 18px;
  margin-right: 5px;
}