#icl_save_default_button,
#icl_cancel_default_button,
#icl_theme_localization {
    display: none;
}

/* Wizard */
#icl_setup_wizard { }

    #icl_setup_wizard .icl_setup_wizard_step {
        float: left;
        width: 25%;
        font-weight: bold;
        font-size: 11px;
    }

    #icl_setup_wizard_progress {
        margin: 10px 0 10px 0;
        width: 100%;
        height: 10px;
        background-color: #ccc;
    }
        #icl_setup_wizard_progress_bar {
            height:10px;
            background-color: #777;
        }
/* Wizard END */

/* Color picker */
#colorPickerDiv a,
#colorPickerDiv a:hover {
        padding: 1px;
        border-bottom: 0px;
        text-decoration: none;
}
#colorPickerDiv {
    z-index: 999;
}
/* Color picker END */

#icl_edit_languages_table input {
    width: 70px;
}
#icl_edit_languages_table .radio, #icl_edit_languages_table .file { width:auto; }
#icl_edit_languages_info ul {
    padding: 15px;
    list-style : square inside;
}

#icl_edit_languages_table td { vertical-align: middle; }

/* Wizard section */
.ljmcml-section-wizard-steps {}

    .ljmcml-section-wizard-steps h3 {
        color: #278ab7;
    }
/* Wizard section END */

/* Languages section */
.ljmcml-section-languages { }

    .ljmcml-section-languages .selected {
        font-weight: bold;
    }

    .ljmcml-section-languages .available-languages,
    .ljmcml-section-languages .enabled-languages {
        margin: 0 0 20px 0;
    }
    .ljmcml-section-languages .available-languages {
        overflow: hidden;
    }

        .ljmcml-section-languages .enabled-languages li {
            position: relative;
        }

            .ljmcml-section-languages .enabled-languages input[type="radio"] {
                position: absolute;
                left: -18px;
                display: none;
            }
            .branch-3-8 .enabled-languages input[type="radio"] {
            	left: -22px;
            	top: 7px;
            }

        .ljmcml-section-languages .available-languages li {
            display: inline-block;
            width: 170px;
        }
        .ljmcml-section-languages .available-languages li:hover{
            color: #21759b;
            font-weight: bold;
        }

        .ljmcml-section-languages .inactive-content-table {
            width:auto;
        }

            .ljmcml-section-languages .inactive-content-table td{
                text-align: right;
            }
                .ljmcml-section-languages .inactive-content-table tfoot td {
                    font-weight:bold;
                }

/* Languages section END */

/* URL format */
.ljmcml-section-url-format{ }

    .ljmcml-section-url-format ul {

    }

    .ljmcml-section-url-format ul table {
        margin: 10px 0;
    }
/* URL format END */

/* Language switcher */
.ljmcml-section-language-switcher { }

    .language-selector-preview {
        float: right;
        padding: 0 15px;
        height: 30px;
        border: 1px solid #ccc;
    }
    .language-selector-preview-footer {
        float: none;
        padding: 15px;
        min-height: 80px;
        height: auto;
    }

    .ljmcml-section-language-switcher .languages-order {
        overflow: hidden;
    }
        .ljmcml-section-language-switcher .languages-order li{
            float: left;
            margin: 0 8px 0 0;
            padding: 2px 8px;
            border: 1px solid #DFDFDF;
            border-radius: 2px;
            background: linear-gradient(to top, #ECECEC, #F9F9F9) repeat scroll 0 0 #F1F1F1;
            cursor: move;
        }
/* Language switcher END */