.icl-account-setup{
    width:70%;
}
.icl_form_errors{
    padding: 5px;
    width:65%;
    border:1px solid #f00;
    -moz-border-radius-topleft:3px;
    border-top-left-radius: 3px 3px;
    -moz-border-radius-topright:3px;
    border-top-right-radius: 3px 3px;
    -moz-border-radius-bottomright:3px;
    border-bottom-right-radius: 3px 3px;
    -moz-border-radius-bottomleft:3px;
    border-bottom-left-radius: 3px 3px;
    background-color: #ffb7b7;
    color:#000;
}
.icl_form_errors p{
    margin:0;
    line-height:1.5;
}
.icl_form_errors ul{
    margin-left:20px;
    list-style: circle;
}
.icl_form_success{
    padding: 5px;
    border:1px solid #fff;
    -moz-border-radius-topleft:5px;
    border-top-left-radius: 5px 5px;
    -moz-border-radius-topright:5px;
    border-top-right-radius: 5px 5px;
    -moz-border-radius-bottomright:5px;
    border-bottom-right-radius: 5px 5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-left-radius: 5px 5px;
    background-color: #336600;
    color:#fff;
}
.icl_error_text{
    color:#f00;
    font-style: italic;
}
.icl_valid_text{
    color:#3f7257;
    font-style: italic;
}

.icl_error_input{
    background-color: #FA9393 !important;
}

.icl_ajx_response{
    display: none;
    color:#E68A00;
}

#noupdate_but{
    text-align: center;
}

.icl_yellow_box{
    margin: 0em;
    padding: 1em;
    border: 1pt solid #E6DB55;
    background-color: #FFFBCC;
}

.icl_yellow_box p{
    margin:0 0 5px 0;
    line-height:normal;
}

.icl-admin-message {
	position: relative;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.icl-admin-message-information {
	margin: 0em;
	padding: 1em;
	border: 1px solid #9bc8f0;
	background-color: #d5e8f9;
}

.icl-admin-message-warning {
	margin: 0em;
	padding: 1em;
	border: 1pt solid #E6DB55;
	background-color: #FFFBCC;
}

.icl-admin-message .icl-admin-message-hide {
	position: absolute;
	right: 0.25em;
	bottom: 0.25em;
	display: block;
}

.icl_advanced_switch{
    margin:-10px 0 10px 0;
    text-align:right;
    font-size:85%;
}
.icl_advanced_switch a{
    text-decoration: none;
}
.icl_advanced_feature{
    /*display:none;*/
}

.icl_translations_table{
    border: 1px solid #8CCEEA;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomright:3px;
    -moz-border-radius-bottomleft:3px;
}
.icl_translations_table tr.icl_odd_row{background-color:#EFF8FC;}
.icl_translations_table td{font-size: 11px;}

.icl_golden_button{
    background-color:#9a841e;
    background-image:none;
    color:#fff;
    text-shadow:0 1px 0 #000000;
}

.icl_golden_button:hover{
    border-color: #000;
    color:#fff;
}

#icl_post_add_notes h4{
    margin:10px 0px 0px 0px;
    padding: 5px 0 5px 20px;
    background: url(../../res/img/notes.png) no-repeat;
}
#icl_post_add_notes h4 a{
    text-decoration: none;
}
#icl_post_add_notes textarea, .icl_post_note textarea{
    width:100%;
    font-size: 90%;
}
#icl_post_note{
    display: none;
}
#icl_tn_not_saved{
    display: none;
    color:#900;
    text-align: center;
}
.icl_post_note{
    display: none;
}
.icl_tn_progress{
    display: none;
}

.icl_sidebar {
    display: block;
    float: right;
    margin-top:4px;
    margin-bottom:10px;
    padding:3px 10px 3px 9px;
    width:207px;
    border: 1px solid #8cceea;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    background-color: #eff8fc;
}

.icl_tick {
    padding-left:20px;
    background-image: url(../img/ok.png);
    background-position: 0px 3px;
    background-repeat: no-repeat;
}

.icl_info {
    padding-left:20px;
    background-image: url(../img/sun-solid.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.icl_next_step {
    padding-left:20px;
}

.icl_cyan_box{
    margin-top:0px;
    margin-bottom:0px;
    padding:10px;
    border: 1px solid #8cceea;
    -moz-border-radius-topleft:5px;
    border-top-left-radius: 5px 5px;
    -moz-border-radius-topright:5px;
    border-top-right-radius: 5px 5px;
    -moz-border-radius-bottomright:5px;
    border-bottom-right-radius: 5px 5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-left-radius: 5px 5px;
    background-color: #eff8fc;
}

.icl_cyan_box p{ margin: 5px 0;
line-height: 100%;
}
.icl_cyan_box H3 { margin-top: 2px; }

.icl_cyan_box ul{
    margin-top:5px;
    font-size: 11px;
}

.icl_new_feature {
	margin: 5px;
	padding: 3px 5px;
	border-width: 1px;
	border-style: solid;
        border-color: #D54E21;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
        background-color: #D54E21;
        color: #FFFFFF;
	-khtml-border-radius: 5px;
}
.icl_hot_link{
    color:#dd0000;
    font-weight: bold;
}

#icl_pt_controls p{ margin: 0 6px 6px 0 !important; padding:0;}

#icon-ljmcml{
	background-color: transparent;
	background-image: url(../img/icon.png);
	background-repeat: no-repeat;
}

.ljmcml-translation-management-menu-main-php .icon32,
.ljmcml_page_ljmcml-sticky-links .icon32,
.ljmcml-string-translation-menu-string-translation-php .icon32,
.ljmcml-translation-analytics-menu-main-php .icon32,
.ljmcml-cms-nav-menu-navigation-php .icon32,
.ljmcml_page_ljmcml-media .icon32 {
	width: 42px;
}

.ljmcml-translation-management-menu-main-php #icon-ljmcml {
	background-image: url(../img/icon-ljmcml-translation-management.png);
}

.ljmcml_page_ljmcml-sticky-links #icon-ljmcml {
	background-image: url(../img/icon-ljmcml-sticky-links.png);
}

.ljmcml-string-translation-menu-string-translation-php #icon-ljmcml {
	background-image: url(../img/icon-ljmcml-string-translation.png);
}

.ljmcml-translation-analytics-menu-main-php #icon-ljmcml {
	background-image: url(../img/icon-ljmcml-translation-analytics.png);
}

.ljmcml-cms-nav-menu-navigation-php #icon-ljmcml {
	background-image: url(../img/icon-cms-navigation.png);
}

.ljmcml_page_ljmcml-media #icon-ljmcml {
	background-image: url(../img/icon-ljmcml-media.png);
}

.icon18 {
	display: inline-block;
	margin: 0 4px 0 0;
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
}

.icon18.sitepress-multilingual-cms,
.icon18.ljmcml-translation-management,
.icon18.ljmcml-sticky-links,
.icon18.ljmcml-string-translation,
.icon18.ljmcml-cms-nav,
.icon18.ljmcml-translation-analytics,
.icon18.ljmcml-xliff,
.icon18.ljmcml-media
{
	background-image: url(../img/icon16-sprite.png);
}

.icon18.sitepress-multilingual-cms
{
	display: none;
	background-position: 0;
}

.icon18.ljmcml-translation-analytics
{
	background-position: -2px;
}

.icon18.ljmcml-translation-management
{
	background-position: -27px;
}

.icon18.ljmcml-cms-nav
{
	background-position: -48px;
}

.icon18.ljmcml-xliff
{
	background-position: -71px;
}

.icon18.ljmcml-sticky-links
{
	background-position: -96px;
}

.icon18.ljmcml-string-translation
{
	background-position: -118px;
}

.icon18.ljmcml-media
{
	background-position: -136px;
}

.icon18.woocommerce-multilingual, .icon18.jigoshop-multilingual, .icon18.gravityforms-multilingual, .icon18.cred-frontend-translation, .icon18.installer {
	display: none;
}

/* admin_language_switcher_legacy - start */
.admin_iclflag{
    float:left;
    margin:3px 4px 0 0;
}

#icl-als-first .admin_iclflag{
    margin:2px 4px 0 0;
}

#icl-als-first {
    padding: 3px 30px 4px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #C0C0C0;
    border-radius: 12px 12px 12px 12px;
    background: -moz-linear-gradient(center bottom , #E7E7E7, #FFFFFF) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, left bottom, left top, from(#e7e7e7), to(#fff));
    line-height: 15px;
}
#icl-als-inside {
    position: absolute;
    display: none;
    margin: 0;
    padding: 2px 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #C0C0C0;
    border-radius: 0 0 12px 12px;
    background-color: #FFFFFF;
    /*z-index: 99;    */
}
#icl-als-toggle {
    position: absolute;
    top: 1px;
    right: 0;
    width: 28px;
    height: 22px;
    background: url("../img/fav-arrow.gif") no-repeat scroll 0 -4px transparent;
    /*z-index: 99;*/
}

#icl-als-actions-label{
    float: left;
    margin: 8px 8px 0 12px;
	font-size: 11px;
}

#icl-als-actions{
    position: relative;
    float: left;
    margin: 5px -5px 0;
    min-width: 130px;
}

#icl-als-actions a {
    display: block;
    color: #464646;
    text-decoration: none;
    font-size: 11px;
}
#icl-als-actions a:hover {
    color: #000000;
}

#icl-als-inside a {
    padding: 3px 5px 3px 10px;
}

#icl-als-inside a:hover {
    text-decoration: underline;
}

#icl-als-actions .slide-down {
    border-bottom: medium none;
    border-radius: 12px 12px 0 0;
}

#icl-als-info{
    float:left;
    margin-top:9px;
    margin-left:10px;
    cursor: pointer;
}

/* admin_language_switcher_legacy - end */

#ljmcml_als_help_link{vertical-align: middle;}
#icl_als_help_popup{position:fixed;top:30px;}

.icl_pop_info_but{
    position:absolute;
    cursor: pointer;
    /*z-index: 99;*/
}

.icl_pop_info_but_noabs{
    position:relative;
}

img.icl_als_iclflag{width:18px !important; height:12px !important;}
#ljmc-admin-bar-Languages_ALS_all img.icl_als_iclflag{width:16px !important; height:16px !important;}

.icl_pop_info{
    position:absolute;
    z-index: 900;
    display: none;
    margin: 0px 0 0 12px;
    min-width:300px;
    max-width:500px;
     color:#000;
    font-size: 11px;
     line-height: 15px;
     opacity: 0.85;
     filter:alpha(opacity=85);
     -moz-opacity:0.85;
     -khtml-opacity: 0.85;
}


.icl_pop_info img{
    margin: -4px -2px 4px 8px;
}

.icl_pop_info_wrap{
    display:inline;
    text-align: left;
}


.icl_box_paragraph{clear:both;margin-top:6px;margin-bottom:6px;}
#icl_document_language_dropdown{float:left; }
#icl_translations_table{margin-top:4px;}

.icl_win_controls{
    float:right;
    width:20px;
    text-indent: 9999px;
}
.icl_minimize{background: url(../img/minimize_grey.png) no-repeat;}
.icl_minimize:hover{background: url(../img/minimize.png) no-repeat;}
.icl_maximize{background: url(../img/maximize_grey.png) no-repeat;}
.icl_maximize:hover{background: url(../img/maximize.png) no-repeat;}
.icl_close{background: url(../img/close_grey.png) no-repeat;}
.icl_close:hover{background: url(../img/close.png) no-repeat;}

/* Sections general styles */
.ljmcml-section .explanation-text {
    color: #999;
}

.ljmcml-section .sub-section { /* for nested <ul> indetation */
    margin-left: 20px;
}

.ljmcml-section li {
    margin-bottom: 10px;
}

.ljmcml-section .icl_ajx_response {
    margin: 0 5px;
}

.ljmcml-section .icl_languages_order_ajx_resp  {
    display:inline-block;
    padding-top:5px;
    color:#E68A00;
}
/* Sections general styles END */

/* Top navigation */
.ljmcml-navigation-links {
    overflow: hidden;
    margin-bottom: 12px;
}
    .ljmcml-navigation-links li {
        float: left;
        margin-right: 10px;
    }
        .ljmcml-navigation-links li a {
            white-space: nowrap;
        }
/* Top navigation END */

.ljmcml-section {
    clear: both;
    overflow: hidden;
    margin: 30px 0 0 0;
    padding: 20px;
    max-width: 900px;
    border-bottom: 1px solid #ededed;
    background: #fff;
}
.ljmcml-section:first-child {
    margin-top: 0;
}

.ljmcml-section:last-child {
    border: none;
}

    .ljmcml-section-header {
        float: left;
        width: 300px;
    }

        .ljmcml-section-header h3 {
            margin-top: 15px;
            color: #333;
            font-weight: normal;
            font-size: 20px;
            line-height: 20px;

            -webkit-transition: all 0.15s linear;
            -moz-transition: all 0.15s linear;
            -ms-transition: all 0.15s linear;
            -o-transition: all 0.15s linear;
            transition: all 0.15s linear;
        }

        .ljmcml-section-header .active {
            color: #d54e21;
        }

        .ljmcml-section-header .icon-question-sign {
            color: #ccc;
            vertical-align: middle;
            font-size: 12px;
            cursor: pointer;
        }

        .ljmcml-section-header .icon-question-sign:hover {
            color: #007cbd;
            -webkit-transition: all 0.15s linear;
            -moz-transition: all 0.15s linear;
            -ms-transition: all 0.15s linear;
            -o-transition: all 0.15s linear;
            transition: all 0.15s linear;
        }

    .ljmcml-section-content {
        float: left;
        margin-left: 30px;
        width: 570px;
    }
    .ljmcml-section-content:before,
    .ljmcml-section-content:after,
    .ljmcml-section-content-inner:before,
    .ljmcml-section-content-inner:after {
        display: table;
        content: " ";
    }

    .ljmcml-section-content:after,
    .ljmcml-section-content-inner:after {
        clear: both;
    }

    .ljmcml-section-content,
    .ljmcml-section-content-inner {
        *zoom: 1;
    }

        .ljmcml-section-content .buttons-wrap {
            text-align: right;
        }

        .ljmcml-section-content .ljmcml-section-content-inner {
            margin: 0 0 20px 0;
            padding: 0 0 10px 0;
            border-bottom: 1px solid #ededed;
        }
        .ljmcml-section-content .ljmcml-section-content-inner:last-child {
            margin: 0;
            padding: 0;
            border: 0;
        }
        .ljmcml-section-content .ljmcml-section-content-inner>p:first-child {
           /* margin-top: 0;*/
        }
/* Sections general styles END */

/* reset some styles when wizard is active */
.ljmcml-wizard .ljmcml-section {
}
    .ljmcml-wizard .ljmcml-section-header,
    .ljmcml-wizard .ljmcml-section-content {
        float: none;
        width: auto;
    }
    .ljmcml-wizard .ljmcml-section-content {
        margin: 0;
    }

.ljmcml-dialog {
}

	.ljmcml-dialog .ljmcml-dialog-content,
	.ljmc-dialog.ljmcml-dialog .ui-dialog-titlebar {
		padding: 0 20px;
	}

	.ljmcml-dialog .ui-dialog-titlebar .ui-dialog-title {
		text-align: left;
	}

		.ljmcml-dialog .ljmcml-dialog-content input[type="text"] {
			width: 100%;
		}

		.ljmcml-dialog .ljmcml-dialog-content li {
			list-style: disc;
			list-style-position: inside;
		}

	.ljmcml-dialog .posts-found,
	.ljmcml-dialog .no-posts-found,
	.ljmcml-dialog .ajax-loader {
		display: none;
	}

		.ljmcml-dialog .spinner {
			display: block;
		}

			.ljmcml-dialog button .spinner {
				display: inline-block;
				margin: 0 0 0 5px;
				vertical-align: middle;
				float: none;
			}