.icl_tt_form, .icl_tt_labels_form{
    display: none;
}
.icl_tt_form td, .icl_tt_labels_form td{
    border:none;
}

#ljmcml_tt_filters, #ljmcml_tt_search{display: inline;}

.ljmcml_tt_spinner{margin-right:15px;display:none;}

.icl_tt_form .ljmcml_tt_spinner, .icl_tt_labels_form .ljmcml_tt_spinner{float:right}

#ljmcml_tt_clear_search{cursor: pointer;}

#ljmcml_tt_taxonomy_translation_wrap .lowlight{color:#A04060; font-style: italic;}

.icl_tt_sync_row{margin-top:10px;}

.icl_tt_popup{
    position: absolute;
    background: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #777;
    border-radius: 5px;
    
}