.mejs-container {
	clear: both;
}

.mejs-container * {
	font-family: Helvetica, Arial;
}

.mejs-container,
.mejs-embed,
.mejs-embed body,
.mejs-container .mejs-controls {
	background: #222;
}

.mejs-controls a.mejs-horizontal-volume-slider {
	display: table;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: #fff;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
	background: #0073aa;
}

.mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background: rgba(255, 255, 255, .33);
}

.mejs-controls .mejs-time-rail span,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	border-radius: 0;
}

.mejs-controls .mejs-offscreen {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

.mejs-controls a:focus > .mejs-offscreen {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	position: absolute;
	left: 0;
	top: 15px;
	text-decoration: none;
	text-transform: none;
	width: auto;
}

.mejs-overlay-loading {
	background: transparent;
}

/* Override theme styles that may conflict with controls. */
.mejs-controls button:hover {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.me-cannotplay {
	width: auto !important;
}

.media-embed-details .ljmc-audio-shortcode {
	display: inline-block;
	max-width: 400px;
}

.audio-details .embed-media-settings {
	overflow: visible;
}

.media-embed-details .embed-media-settings .setting span {
	max-width: 400px;
	width: auto;
}

.media-embed-details .embed-media-settings .checkbox-setting span {
	display: inline-block;
}

.media-embed-details .embed-media-settings {
	padding-top: 0;
	top: 28px;
}

.media-embed-details .instructions {
	padding: 16px 0;
	max-width: 600px;
}

.media-embed-details .setting p,
.media-embed-details .setting a {
	color: #a00;
	font-size: 10px;
	text-transform: uppercase;
}

.media-embed-details .setting a:hover {
	color: #f00;
}

.media-embed-details .embed-media-settings .checkbox-setting {
	float: none;
	margin: 0 0 10px;
}

.ljmc-video {
	max-width: 100%;
	height: auto;
}

.ljmc_attachment_holder .ljmc-video,
.ljmc_attachment_holder .ljmc-audio-shortcode {
	margin-top: 18px;
}

video.ljmc-video-shortcode,
.ljmc-video-shortcode video {
	max-width: 100%;
	display: inline-block;
}

.video-details .ljmc-video-holder {
	width: 100%;
	max-width: 640px;
}

.ljmc-playlist {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 12px 0 18px;
	font-size: 14px;
	line-height: 1.5;
}

.ljmc-admin .ljmc-playlist {
	margin: 0 0 18px;
}

.ljmc-playlist video {
	display: inline-block;
	max-width: 100%;
}

.ljmc-playlist audio {
	display: none;
	max-width: 100%;
	width: 400px;
}

.ljmc-playlist .mejs-container {
	margin: 0;
	width: 100%;
}

.ljmc-playlist .mejs-controls .mejs-button button {
	outline: 0;
}

.ljmc-playlist-light {
	background: #fff;
	color: #000;
}

.ljmc-playlist-dark {
	color: #fff;
	background: #000;
}

.ljmc-playlist-caption {
	display: block;
	max-width: 88%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	line-height: 1.5;
}

.ljmc-playlist-item .ljmc-playlist-caption {
	text-decoration: none;
	color: #000;
	max-width: -webkit-calc(100% - 40px);
	max-width: calc(100% - 40px);
}

.ljmc-playlist-item-meta {
	display: block;
	font-size: 14px;
	line-height: 1.5;
}

.ljmc-playlist-item-title {
	font-size: 14px;
	line-height: 1.5;
}

.ljmc-playlist-item-album {
	font-style: italic;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ljmc-playlist-item-artist {
	font-size: 12px;
	text-transform: uppercase;
}

.ljmc-playlist-item-length {
	position: absolute;
	right: 3px;
	top: 0;
	font-size: 14px;
	line-height: 1.5;
}

.rtl .ljmc-playlist-item-length {
	left: 3px;
	right: auto;
}

.ljmc-playlist-tracks {
	margin-top: 10px;
}

.ljmc-playlist-item {
	position: relative;
	cursor: pointer;
	padding: 0 3px;
	border-bottom: 1px solid #ccc;
}

.ljmc-playlist-item:last-child {
	border-bottom: 0;
}

.ljmc-playlist-light .ljmc-playlist-caption {
	color: #333;
}

.ljmc-playlist-dark .ljmc-playlist-caption {
	color: #dedede;
}

.ljmc-playlist-playing {
	font-weight: bold;
	background: #f7f7f7;
}

.ljmc-playlist-light .ljmc-playlist-playing {
	background: #fff;
	color: #000;
}

.ljmc-playlist-dark .ljmc-playlist-playing {
	background: #000;
	color: #fff;
}

.ljmc-playlist-current-item {
	overflow: hidden;
	margin-bottom: 10px;
	height: 60px;
}

.ljmc-playlist .ljmc-playlist-current-item img {
	float: left;
	max-width: 60px;
	height: auto;
	margin-right: 10px;
	padding: 0;
	border: 0;
}

.rtl .ljmc-playlist .ljmc-playlist-current-item img {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}

.ljmc-playlist-current-item .ljmc-playlist-item-title,
.ljmc-playlist-current-item .ljmc-playlist-item-artist {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ljmc-audio-playlist .me-cannotplay span {
	padding: 5px 15px;
}
