/* Additional default styles for the editor */

html {
	cursor: text;
}

html.ios {
	height: 100%;
}

.ios body#tinymce {
	height: 200%;
	max-width: none;
}

body {
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	margin: 9px 10px;
	max-width: 100%;
	-webkit-font-smoothing: antialiased !important;
}

body.rtl {
	font-family: Tahoma, "Times New Roman", "Bitstream Charter", Times, serif;
}

body.locale-he-il {
	font-family: Arial, "Times New Roman", "Bitstream Charter", Times, serif;
}

body.ljmc-autoresize {
	overflow: visible !important;
	/* The padding ensures margins of the children are contained in the body. */
	padding-top: 1px !important;
	padding-bottom: 1px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* When font-weight is different than the default browser style,
Chrome and Safari replace <strong> and <b> with spans with inline styles on pasting?! */
body.webkit strong,
body.webkit b {
	font-weight: bold !important;
}

pre {
	font-family: Consolas, Monaco, monospace;
}

td,
th {
	font-family: inherit;
	font-size: inherit;
}

/* For emoji replacement images */
img.emoji {
	display: inline !important;
	border: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* DFW mode */
html.ljmc-fullscreen,
html.ljmc-fullscreen body#tinymce {
	width: auto;
	max-width: none;
	min-height: 0;
	overflow: hidden;
	color: #333;
	background: transparent;
}

.aligncenter,
dl.aligncenter,
.html5-captions .ljmc-caption.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.ljmc-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px 0;
}

.html5-captions .ljmc-caption {
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
}

.mceIEcenter {
	text-align: center;
}

.ljmc-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

div.mceTemp {
	-ms-user-select: element;
}

dl.ljmc-caption,
dl.ljmc-caption * {
	-webkit-user-drag: none;
}

.ljmc-caption-dd {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}

/* Remove blue highlighting of selected images in WebKit */
img[data-mce-selected]::selection {
	background-color: transparent;
}

/* Styles for the WordPress plugins */
.mce-content-body img[data-mce-placeholder] {
	border-radius: 0;
	padding: 0;
}

.mce-content-body img[data-ljmc-more] {
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 96%;
	height: 16px;
	display: block;
	margin: 15px auto 0;
	outline: 0;
	cursor: default;
}

.mce-content-body img[data-mce-placeholder][data-mce-selected] {
	outline: 1px dotted #888;
}

.mce-content-body img[data-ljmc-more="more"] {
	background: transparent url( images/more.png ) repeat-y scroll center center;
}

.mce-content-body img[data-ljmc-more="nextpage"] {
    background: transparent url( images/pagebreak.png ) repeat-y scroll center center;
}

/* Gallery, audio, video placeholders */
.mce-content-body img.ljmc-media {
	border: 1px solid #aaa;
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	background-position: center center;
	width: 99%;
	height: 250px;
	outline: 0;
	cursor: pointer;
}

.mce-content-body img.ljmc-media:hover {
	background-color: #ededed;
	border-color: #777;
}

.mce-content-body img.ljmc-media.ljmc-media-selected {
	background-color: #d8d8d8;
	border-color: #777;
}

.mce-content-body img.ljmc-media.ljmc-gallery {
	background-image: url(images/gallery.png);
}

/* Image resize handles */
.mce-content-body div.mce-resizehandle {
	border-color: #777;
	width: 7px;
	height: 7px;
}

.mce-content-body img[data-mce-selected] {
	outline: 1px solid #777;
}

.mce-content-body img[data-mce-resize="false"] {
	outline: 0;
}

audio,
video,
embed {
	display: -moz-inline-stack;
	display: inline-block;
}

audio {
	visibility: hidden;
}

/**
 * LJMC Views
 */

.ljmcview-wrap {
	width: 99.99%; /* All IE need hasLayout, incl. 11 (ugh, not again!!) */
	position: relative;
	clear: both;
}

/* delegate the handling of the selection to the ljmcview tinymce plugin */
.ljmcview-wrap,
.ljmcview-wrap * {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* hide the shortcode content, but allow the content to still be selected */
.ljmcview-wrap .ljmcview-clipboard,
.ljmcview-wrap > p {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	clip: rect(1px 1px 1px 1px); /* IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	outline: 0;
	padding: 0;
	border: 0;
	width: 1px;
	height: 1px;
}

/* An ugly box will appear when this is focussed in IE, so we'll move it outside the window. */
.ljmcview-wrap.ljmcview-selection-before > p,
.ljmcview-wrap.ljmcview-selection-after > p {
	left: -10000px;
}

.ljmcview-wrap .ljmcview-clipboard,
.ljmcview-wrap .ljmcview-clipboard *,
.ljmcview-wrap > p {
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.has-focus .ljmcview-wrap.ljmcview-selection-before:before,
.has-focus .ljmcview-wrap.ljmcview-selection-after:before {
	content: '';
	margin: 0;
	padding: 0;
	position: absolute;
	top: -2px;
	left: -3px;
	bottom: -2px;
	width: 1px;
	background-color: black;
	background-color: currentcolor;
	opacity: 1;
}

.has-focus .ljmcview-wrap.ljmcview-selection-after:before {
	left: auto;
	right: -3px;
}

.has-focus .ljmcview-wrap.ljmcview-cursor-hide:before {
	opacity: 0;
}

/**
 * Media previews
 */
.ljmcview-wrap {
    position: relative;
    margin-bottom: 16px;
	border: 1px solid transparent;
}

.ljmcview-wrap[data-mce-selected] {
	background-color: rgba(0,0,0,0.1);
	border-color: rgba(0,0,0,0.3);
}

.ie8 .ljmcview-wrap[data-mce-selected],
.ie7 .ljmcview-wrap[data-mce-selected] {
	background-color: #e5e5e5;
	border-color: #777;
}

.ljmcview-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.ljmcview-wrap[data-mce-selected] .ljmcview-overlay {
	display: none;
}

.ljmcview-wrap .loading-placeholder {
	border: 1px dashed #ccc;
	padding: 10px;
}

.ljmcview-wrap[data-mce-selected] .loading-placeholder {
	border-color: transparent;
}

/* A little "loading" animation, not showing in IE < 10 */
.ljmcview-wrap .ljmcview-loading {
	width: 60px;
	height: 5px;
	overflow: hidden;
	background-color: transparent;
	margin: 10px auto 0;
}

.ljmcview-wrap .ljmcview-loading ins {
	background-color: #333;
	margin: 0 0 0 -60px;
	width: 60px;
	height: 5px;
	display: block;
	-webkit-animation: ljmcview-loading 1.3s infinite 1s linear;
	animation: ljmcview-loading 1.3s infinite 1s linear;
}

@-webkit-keyframes ljmcview-loading {
	0% {
		margin-left: -60px;
	}
	100% {
		margin-left: 60px;
	}
}

@keyframes ljmcview-loading {
	0% {
		margin-left: -60px;
	}
	100% {
		margin-left: 60px;
	}
}

.ljmcview-wrap .ljmcview-content > iframe {
	max-width: 100%;
	background: transparent;
}

.ljmcview-error {
	border: 1px solid #dedede;
	padding: 1em 0;
	margin: 0;
	word-wrap: break-word;
}

.ljmcview-wrap[data-mce-selected] .ljmcview-error {
	border-color: transparent;
}

.ljmcview-error .dashicons,
.loading-placeholder .dashicons {
	display: block;
	margin: 0 auto;
	width: 32px;
	height: 32px;
	font-size: 32px;
}

.ljmcview-error p {
	margin: 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.ljmcview-type-gallery:after {
    content: '';
	display: table;
    clear: both;
}

.gallery img[data-mce-selected]:focus {
	outline: none;
}

.gallery a {
	cursor: default;
}

.gallery {
	margin: auto -6px;
	padding: 6px 0;
	line-height: 1;
	overflow-x: hidden;
}

.ie7 .gallery,
.ie8 .gallery {
	margin: auto;
}

.gallery .gallery-item {
	float: left;
	margin: 0;
	text-align: center;
	padding: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ie7 .gallery .gallery-item,
.ie8 .gallery .gallery-item {
	padding: 6px 0;
}

.gallery .gallery-caption,
.gallery .gallery-icon {
	margin: 0;
}

.gallery .gallery-caption {
	font-size: 13px;
	margin: 4px 0;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33.333%;
}

.ie8 .gallery-columns-3 .gallery-item,
.ie7 .gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.665%;
}

.gallery-columns-7 .gallery-item {
	width: 14.285%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.111%;
}

.gallery img {
	max-width: 100%;
	height: auto;
	border: none;
	padding: 0;
}

img.ljmc-oembed {
	border: 1px dashed #888;
	background: #f7f5f2 url(images/embedded.png) no-repeat scroll center center;
	width: 300px;
	height: 250px;
	outline: 0;
}

/* rtl */
.rtl .gallery .gallery-item {
	float: right;
}

@media print,
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {

	.mce-content-body img.mce-ljmc-more {
		background-image: url( images/more-2x.png );
		background-size: 1900px 20px;
	}

	.mce-content-body img.mce-ljmc-nextpage {
    	background-image: url( images/pagebreak-2x.png );
		background-size: 1900px 20px;
	}
}
