
/** Top grey nav bar **/
#p3-navbar {
	margin-top: 10px;
	padding: 4px;
	cursor: default;
	height: 30px;
}
#p3-navbar div:first-child {
	float: left;
	width: 400px;
}


/** Scan label, far right of the nav buttons **/
#p3-scan-label {
	float: right;
	font-weight: bold;
	margin-top: 8px;
	margin-right: 14px;
}


/** The grey box behind the big buttons **/
#p3-scan-form-wrapper {
	cursor: default;
	padding: 10px;
	width: 185px;
	height: 80px;
	text-align: center;
	margin-top: 10px;
}


/** Big buttons **/
.p3-big-button {
	margin: auto;
	text-align: center;
}
.p3-big-button label {
	margin: 5px;
}
.p3-big-button label span {
	font-size: 110%;
	font-weight: bold;
	width: auto;
	min-width: 110px;
	margin: 2px;
}


/** Light grey italic captions **/
em.p3-em {
	color: #999999;
}


/** Auto scanner frame **/
#p3-scan-frame {
	border-width: 0px;
	height: 500px;
	width: 100%;
}


/** jQuery UI Dialog overrides **/
.noPadding.ui-dialog .ui-dialog-content {
	padding: 0;
}
.noTitle .ui-dialog-titlebar {
	display: none;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
    text-align: center;
}
.p3-dialog {
	display: none;
}



/** Turn "Cancel" button into link **/
button.p3-cancel-button{
	border-width: 0px !important;
	background-image: none !important;
	background-color: transparent !important;
}
.ui-dialog .ui-dialog-buttonpane button.p3-cancel-button span {
	text-decoration: underline;
	padding-left: 0;
	padding-right: 0;
	margin-left: 1px;
	margin-right: 0;
	color: #21759b;
}
#p3-manual-scan-cancel {
	color: #21759b;
}


/** Captions for the scan "This will take several minutes ..." **/
#p3-scan-caption {
	margin: 8px auto 0 auto;
	width: 85%;
}


/** Auto scanner display status **/
#p3-scanning-caption {
	text-overflow: ellipsis;
	white-space: nowrap;
	-moz-binding: url('wordwrap.xml#wordwrap');
	word-wrap: break-word;
	overflow: hidden;
	width: 100%;
	padding-left: 4px;
	height: 18px;
	color: #999999;
	font-style: italic;
}


/** Progress bar **/
#p3-progress {
	margin: 5px auto 5px auto;
}


/** Charts and graphs **/
div.p3-plugin-graph {
	margin: 10px auto 20px auto;
	width: 750px;
	height: 320px;
}
div.p3-graph-holder {
	width: 550px;
	height: 300px;
	margin: auto;
}
div.p3-custom-legend {
	float: left;
	width: 200px;
	height: 280px;
	overflow: auto;
}
#p3-tabs h2 {
	margin: auto;
	text-align: center;
}
div.p3-plugin-graph td {
	vertical-align: top;
}
div.p3-plugin-graph td h3{
	text-align: center;
	margin: auto;
}
div.p3-plugin-graph div.yAxis div.tickLabel {
	margin-right: 25px;
	margin-top: -10px;
}


/** Advanced metrics table and glossary table **/
table.p3-results-table td {
	background-color: #ffffff;
	padding: 6px;
}
table.p3-results-table td {
	border-style: solid;
	border-color: #eaeaea;
	border-width: 0px 1px 1px 1px;
	vertical-align: top;
}
table.p3-results-table th:last-child {
	border-left-width: 0px;
}
table.p3-results-table tr.even td {
	background-color: #fcfcfc;
}
table.p3-results-table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 auto 20px auto;
}
p3-metrics-header {
	width: 100%;
}
p3-metrics-container {
	min-width: 650px;
	max-width: 800px;
	width: 80%;
}
p3-glossary-header {
	width: 100%;
}
p3-glossary-container {
	min-width: 650px;
	max-width: 800px;
	width: 80%;
}



/** Glossary **/
#p3-glossary-term-display {
	vertical-align: text-top;
	border-width: 1px !important;
	font-size: 14px;
}
#p3-glossary-table td.term {
	border-width: 1px !important;
	border-color: transparent !important;
	cursor: pointer;
}
#p3-glossary-table td.term.hover {
	background-color: #206d92;
	border-width: 1px 0px 1px 1px !important;
	border-color: #298cba !important;
	background-image: url(custom-theme/images/ui-bg_highlight-hard_100_206d92_1x100.png);
	background-position: 50% 50%;
	background-repeat: repeat-x;
	color: white;
}

/** Quick report table **/
#p3-quick-report {
	width: 100%;
}
#p3-quick-report td {
	width: 20%;
	vertical-align: top;
	padding: 0px;
}
#p3-quick-report td.p3-callout {
	text-align: center;
}
#p3-quick-report div.p3-callout-outer-wrapper {
	border: 1px solid #cccccc;
	margin: 10px auto;
	width: 140px;
}
#p3-quick-report div.p3-callout-inner-wrapper {
	width: 140px;
	height: 92px;
}
#p3-quick-report td div.p3-callout-caption {
	text-align: center;
	position: relative;
}
#p3-quick-report td div.p3-callout-caption:first-child {
	top: 5px;
}
#p3-quick-report td div.p3-callout-caption:last-child {
	top: -6px;
}
#p3-quick-report div.p3-callout-data {
	font-weight: bold;
	text-align: center;
	font-size: 40px;
	position: relative;
	top: 22px;
	height: 60px;
}
.p3-faded-grey {
	color: #dddddd;
}



/** Enter your IP dialog **/
#p3-ip-dialog {
	padding: 15px;
}


/** Tabs shim **/
#p3-tabs ul li:first-child {
	margin-left: 4px;
}


/** Copyright notice **/
#p3-copyright {
	text-align: center;
	position: absolute;
	float: left;
	margin-top: 35px;
	margin-left: -200px;
	width: 400px;
	left: 50%;
}
#p3-copyright img {
	margin-bottom: 7px;
	#height: 47px;
	#width: 125px;
}


/** Rotated y-axis label **/
div.p3-y-axis-label {

	position: relative;
	top: 135px;
	left: 10px;

	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


/** X axis label **/
div.p3-x-axis-label {
	position: relative;
	top: 20px;
	left: 235px;
}


/** Jack up the font size on the tooltips **/
.ui-tooltip {
	font-size: 120%;
	line-height: 125%;
}


/** Email these results button **/
div.wrap #p3-email-results-container {
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}
#p3-email-results {
	margin: auto;
	line-height: 37px;
	height: 40px;
	width: 155px;
}
#p3-email-sending-dialog img {
	left: 132px;
	top: 40px;
	position: relative;
}
#p3-email-sending-close {
	margin: 20px auto;
	text-align: center;
}


/** Help page questions **/
div.p3-question {
	border: 1px solid #cccccc;
	margin-bottom: 10px;
	padding: 8px;
}
div.p3-question h2.p3-help-question {
	margin-top: -15px;
	border-bottom: 1px solid #cccccc;
}


/** Did you liek this plugin? **/
div#p3-footer-wrapper {
	min-height: 150px;
}
div#p3-reminder {
	position: relative;
	z-index: 0;
	float: left;
	bottom: 0;
	left: 0;
	height: 75px;
	width: 200px;
	margin-top: 30px;
}
div#p3-reminder-wrapper {
	border: 1px solid #eaeaea;
	padding: 8px 4px 0px 4px;
	text-align: center;
	background-color: #f0f8fe;
}

/** http://ljmc.org/support/topic/plugin-broken-with-ljmc-371?replies=14#post-4976803 **/
.ui-front:first-child {
	z-index: 100 !important;
}

/** Overlay levels, explicitly set for browser compat **/
div[aria-describedby="p3-scanner-dialog"],
div[aria-describedby="p3-ip-dialog"],
div[aria-describedby="p3-email-results-dialog"] {
	z-index: 1;
}

div[aria-describedby="p3-scan-name-dialog"] {
	z-index: 2;
}

div[aria-describedby="p3-progress-dialog"] {
	z-index: 3;
}
