.centered {
  text-align:center;
}
.theme-dropdown .dropdown-menu {
    display: block;
    margin-bottom: 20px;
    position: static;
}
.theme-showcase > p > .btn {
    margin: 5px 0;
}
.theme-showcase .navbar .container {
    width: auto;
}
.dropdown span.fa {
	color: #cf4240;
}
.navbar-nav > li.dropdown > a:hover span.fa,
.navbar-nav > li.dropdown > a:focus span.fa {
  color: #faf9f1;
}
.navbar-red .dropdown span.fa {
	color: #3b3b3b;
}
.navbar-default .navbar-nav > li.dropdown > a:hover span.fa,
.navbar-default .navbar-nav > li.dropdown > a:focus span.fa {
  color: #b0302d;
}

.navbar.contacts {
  min-height: auto !important;
  padding: 10px 0;
  background-color: #cf4240;
  text-align: center;
  margin-bottom:0;
}
.navbar.contacts a {
  color: #f5d5d4;
  font-size: 14px;
  text-decoration: none;
  margin-right: 30px;
}
.navbar.contacts a:hover,
.navbar.contacts a:focus {
  color: #faf9f1;
}
.navbar.contacts a:last-child { margin-right: 0 }
.navbar.contacts a .fa {
  color: #faf9f1;
  margin-right: 10px;
}

.navbar.main {
  position: absolute;
  top:41px;
  left:0;
  width:100%;
  padding:10px 0;
  padding-bottom: 0;
  background: none;
}
.navbar.main .bg-fill {
  position: absolute;
  z-index: 1;
  top: 0; left: 0;
  background: #faf9f1;
  width: 100%;
  height: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
@media (max-width: 768px) {
  .navbar.main {
    top: 0;
  }
  .navbar.main .bg-fill {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}
.navbar.main .container {
  position: relative;
  z-index: 2;
}
.navbar.main .navbar-nav > li > a {
  padding-bottom: 30px;
}
.navbar.main .logo img {
  width: 60px;
  height: auto;
}
@media (max-width: 768px) {
  .navbar.main .logo img {
    width: 40px;
    padding-bottom: 10px;
    margin-left: 10px;
  }
  .navbar.main .navbar-toggle {
    margin: 0;
    margin-top: 2.5px;
    margin-right: 10px;
  }

  .navbar.main .navbar-nav a {
    text-align: center;
    padding: 10px 0 !important;
  }
  .navbar.main .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #cf4240;
  }
  .navbar.main .navbar-nav .open .dropdown-menu > li:last-child > a {
    margin-bottom: 15px;
  }
}
.navbar.main .navbar-nav {
  margin-left: 30px;
  margin-top: 7px;
}
.navbar.main .navbar-nav .dropdown {
  margin-top: -1px;
}

.navbar.main .search .input-group{ margin-left: 30px; margin-top: 7px }
.navbar.main .search .input-group input{
  border: none;
  background: none;
  border-bottom: 1px solid #cf4240;
  padding-left: 0;
  color: #cf4240;
  width: 150px;
}
.navbar.main .search .input-group .btn-default{
  border: none;
  background: none;
  border-bottom: 1px solid #cf4240;
  color: #cf4240;
  padding-right: 0;
}
.navbar.main .search .input-group .btn-default:hover,
.navbar.main .search .input-group .btn-default:focus,
.navbar.main .search .input-group .btn-default:active {
  background: none;
}
.navbar.main .search .form-control::-moz-placeholder {
  color: #cf4240;
}
.navbar.search .dropdown-menu > .disabled > a{color:#deddd6;}
#slider,
.bjqs {
  width: 100% !important;
  height: 600px;
  min-height: 600px;
}

#slider .desc {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 100%;
}

#slider .desc h3 {
  color: #cf4240;
  font-weight: 300;
  margin-bottom: 20px;
}

#slider .desc p {
  margin-bottom: 20px;
}

#slider .desc button {
  padding: 10px 20px;
}

#slider .bjqs-controls a {
  margin-top: 20px;
  font-size: 60px;
  color: #faf9f1;
  padding: 0 9%;
  outline: none;
}
#slider .bjqs-controls a:focus { outline: none }

.navbar.search {
  background-color: #3b3b3b;
  padding: 15px;
}

.bootstrap-select {
  /*width: 220px\9; IE8 and below*/
  width: 220px \0;
  /*IE9 and below*/
}
.bootstrap-select > .btn {
  width: 100%;
  padding-right: 25px;
}
.error .bootstrap-select .btn {
  border: 1px solid #b94a48;
}
.control-group.error .bootstrap-select .dropdown-toggle {
  border-color: #b94a48;
}
.bootstrap-select.fit-width {
  width: auto !important;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 220px;
}
.bootstrap-select .btn:focus {
  outline: thin dotted #333333 !important;
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}
.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
}
.bootstrap-select.form-control:not([class*="col-"]) {
  width: 100%;
}
.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
  float: none;
  display: inline-block;
  margin-left: 0;
}
.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row-fluid .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
  float: right;
}
.form-search .bootstrap-select.btn-group,
.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
  margin-bottom: 0;
}
.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
  padding: 0;
}
.form-inline .bootstrap-select.btn-group .form-control {
  width: 100%;
}
.input-append .bootstrap-select.btn-group {
  margin-left: -1px;
}
.input-prepend .bootstrap-select.btn-group {
  margin-right: -1px;
}
.bootstrap-select.btn-group > .disabled {
  cursor: not-allowed;
}
.bootstrap-select.btn-group > .disabled:focus {
  outline: none !important;
}
.bootstrap-select.btn-group .btn .filter-option {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: left;
}
.bootstrap-select.btn-group .btn .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}
.bootstrap-select.btn-group[class*="col-"] .btn {
  width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu {
  min-width: 100%;
  z-index: 1035;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
  position: static;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu li {
  position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:hover small,
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:focus small,
.bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled) a small {
  color: #64b1d8;
  color: rgba(100, 177, 216, 0.4);
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a {
  cursor: not-allowed;
}
.bootstrap-select.btn-group .dropdown-menu li a {
  cursor: pointer;
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
  position: relative;
  padding-left: 2.25em;
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
  display: none;
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
  display: inline-block;
}
.bootstrap-select.btn-group .dropdown-menu li small {
  padding-left: 0.5em;
}
.bootstrap-select.btn-group .dropdown-menu .notify {
  position: absolute;
  bottom: 5px;
  width: 96%;
  margin: 0 2%;
  min-height: 26px;
  padding: 3px 5px;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
  opacity: 0.9;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.bootstrap-select.btn-group .no-results {
  padding: 3px;
  background: #f5f5f5;
  margin: 0 5px;
}
.bootstrap-select.btn-group.fit-width .btn .filter-option {
  position: static;
}
.bootstrap-select.btn-group.fit-width .btn .caret {
  position: static;
  top: auto;
  margin-top: -1px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  margin-top: 5px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
  margin-right: 34px;
}
.bootstrap-select.show-menu-arrow.open > .btn {
  z-index: 1035 + 1;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  border-bottom-color: rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  bottom: auto;
  top: -3px;
  border-bottom: 0;
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #cccccc;
  border-top-color: rgba(204, 204, 204, 0.2);
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  bottom: auto;
  top: -3px;
  border-top: 6px solid white;
  border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  right: 12px;
  left: auto;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  right: 13px;
  left: auto;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block;
}
.bs-searchbox,
.bs-actionsbox {
  padding: 4px 8px;
}
.bs-actionsbox {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.bs-actionsbox .btn-group button {
  width: 50%;
}
.bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px;
}
.bs-searchbox input.form-control {
  margin-bottom: 0;
  width: 100%;
}
.mobile-device {
  position: absolute;
  top: 0;
  left: 0;
  display: block !important;
  width: 100%;
  height: 100% !important;
  opacity: 0;
}
.navbar.search .btn.selectpicker {
  background-color: #3b3b3b;
  border-color: #666;
  color: #faf9f1;
}
.navbar.search .bs-searchbox input {
  border: none;
  background-color: #f5d5d4;
}
.navbar.search .btn.search {
  padding: 6px 50px;
}
.navbar.search .bootstrap-select .no-results { background: none; color: #f5d5d4; }


#content {
  padding-top: 50px;
}

#content .heading h3 {
  background: #faf9f1;
}
#content .heading h3 {
  text-align: left;
  font-weight: 300;
  border-bottom: 1px solid #deddd6;
  line-height: 0;
  padding: 0;
  margin-left: -5px;
  margin-right: 15px;
}

#content .heading h3 span.line {
  background: #faf9f1;
  padding: 0 20px;
}

#content .news { padding-top: 50px;}

#content .news {
  overflow: hidden;
}

#content .news img {
  max-width: 100%;
  min-height: 150px;
}

#content .news .caption a {
  color: #3b3b3b;
}

#content .news .caption a:hover,
#content .news .caption a:focus,
#content .news .caption a:active {
  color: #cf4240;
  text-decoration: none;
}

#content .partners { padding-top: 50px;}

#footer{
  background: #3b3b3b;
}



#footer .heading h3 {
  background: #3b3b3b;
  color: #faf9f1;
  font-size: 18px;
}
#footer .heading h3 {
  text-align: left;
  font-weight: 300;
  border-bottom: 1px solid #666;
  line-height: 0;
  padding: 0;
  margin-left: -5px;
  margin-right: 15px;
}

#footer .heading h3 span.line {
  background: #3b3b3b;
  padding: 0 20px;
}

#footer .form-group {
  margin-top: 15px;
  margin-bottom: 0;
}

#footer input,
#footer textarea {
  background-color: #3b3b3b;
  border: 1px solid #666;
  color: #faf9f1;
}

#footer textarea {
  margin-top: 15px;
}

#footer address { color: #faf9f1; margin-top:15px;}

#footer p { color: #faf9f1 }
#footer p.title { color: #cf4240; margin-top: 10px }
#footer .fa { color: #666; margin-right: 5px; }
#footer a:hover{text-decoration: none}